[2020-11-11 02:38] weiji14 commented on #597
So the workaround doesn't quite work because of the way we've implemented things in #619 using [`np.loadtxt`](https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html):

[code]

errors with:

[code]

[np.loadtxt](https://numpy.org/doc/stable/reference/generated/numpy.loadtxt.html) assumes that the text are to be read as floating point numbers, but datetimes like "2019-05-19T20:53:51" ar

[2020-11-11 14:37] lermert opened #688 "When "region" is not fully contained within geotiff, strange thing happens"
I plotted a geotiff as my background image in my pygmt figure. I then cut the region to zoom into the region of interest.

I found that this works well when the region is fully contained, but when the minimum or maximum lat/lon of the region lines up with the edge of the geotiff, then grdimage produces a weird mangled mixup of the tiff.
In the code below, examples 1-3 work well (plot entire tiff,

[2020-11-11 14:40] lermert commented on #688
Github won't let me append the Tiff file, but it's here:

https://www.dropbox.com/s/slkec6za03nsf1n/exampletif.tif?dl=0

[2020-11-11 14:44] lermert commented on #688
That is Python 3.8.6 | packaged by conda-forge , pygmt 'v0.2.0'

[2020-11-12 01:48] weiji14 commented on #688
Hi @lermert, thanks for posting such a detailed issue with your data/code and all. Could you also post the output from `pygmt.show_versions()`? I can reproduce the segfault for fig6 with PyGMT v0.2.0 at https://github.com/GenericMappingTools/try-gmt and on my computer, but the segfault seems to only happen on the **second** run.

[code]

produces this on the first run:

![tmp_fig6](https://user-im

[2020-11-12 02:49] weiji14 commented on #688
I think it might have something to do with rounding errors (similar to https://forum.generic-mapping-tools.org/t/gradient-problem-using-earth-relief-03s/787/5).

Output of `print(pygmt.grdinfo("exampletif.tif"))`:

[code]

So the bounds of the grid aren't perfectly at (-118, -117, 33, 34), and maybe that is causing some problems? I tried playing around with using Degrees, Minutes, Seconds style co

[2020-11-13 02:50] seisman commented on #688
Looks like an upstream GMT bug, no?

[2020-11-13 08:42] lermert commented on #688
Hi, here's the show_versions() output:

`>>> pygmt.show_versions()
PyGMT information:
  version: v0.2.0
System information:
  python: 3.8.6 | packaged by conda-forge | (default, Oct  7 2020, 19:08:05)  [GCC 7.5.0]
  executable: /home/lermert/code/miniconda3/envs/pyg/bin/python
  machine: Linux-5.4.0-53-generic-x86_64-with-glibc2.10
Dependency information:
  numpy: 1.19.4
  pandas: 1.1.4
  xarray:

[2020-11-13 08:57] weiji14 commented on #688
If you could report the bug upstream at https://github.com/GenericMappingTools/gmt/issues/new?assignees=&labels=&template=bug_report.md&title=, that would be great. You can mention this issue in the bug report.

[2020-11-14 06:43] #644 closed

[2020-11-14 06:45] seisman commented on #644
Re-open this issue? Or open a new issue for dropping Python 3.6 support?

[2020-11-14 06:46] weiji14 commented on #644
I'll open a new one and copy the thread across.

[2020-11-14 06:52] weiji14 opened #690 "Adopt NEP29 - drop support for Python 3.6 and NumPy 1.16"
Originally posted at https://github.com/GenericMappingTools/pygmt/issues/644#issue-716952700, but updated slightly

Just bringing up the topic of whether we should follow [NEP 29 — Recommend Python and Numpy version support as a community policy standard](https://numpy.org/neps/nep-0029-deprecation_policy.html) as noted before in #340 (comment). This would mean dropping support for Python 3.6.

In

[2020-11-14 08:06] weiji14 opened #691 "PyGMT authorship policy for Changelog, Zenodo and Publications"
**Description of the desired feature**

The PyGMT project started by @leouieda in 2017 is gaining quite some traction, and it's time to come up with a good system to assign authorship as we work towards more releases and perhaps a paper (#677) in the future!

Originally raised by @leouieda at https://github.com/GenericMappingTools/pygmt/issues/677#issue-732055450:

Also mentioned at https://github

[2020-11-14 08:11] seisman commented on #665
It's late for me. Feel free to finish the release.

[2020-11-14 08:11] weiji14 commented on #665
Ok, we've got Python 3.9 support and the changelog is done. @seisman, if you tag the release, I'll handle the rest (Zenodo upload and news)

[2020-11-14 10:34] weiji14 commented on #665
Alright, Zenodo DOI is up at https://doi.org/10.5281/zenodo.4253459, and the PyPI and conda-forge PyGMT packages are online! I've got a forum release announcement drafted already, just need to finish off https://github.com/GenericMappingTools/try-gmt/pull/13 first.

@GenericMappingTools/python, does anyone want to do the ResearchGate post, and shall we do a tweet as well? :wink:

[2020-11-14 22:07] seisman commented on #665
There is no official Twitter account for GMT yet, but see the proposal of an Instagram account (https://forum.generic-mapping-tools.org/t/1011/3).

[2020-11-15 02:51] weiji14 commented on #665
I was actually hinting @leouieda to do a tweet for us (like https://twitter.com/leouieda/status/1305805309374590976 for PyGMT v0.2.0). An official social media account (Twitter, Instagram, etc) sounds good but let's discuss it in the meeting next week.

[2020-11-16 01:59] seisman opened #693 "PyGMT can't load GMT library for Python 3.6 + Windows"
**Description of the problem**

It seems PyGMT can't correctly find GMT for Python 3.6 + Windows. The error messages are:
[code]

It works before but failed in recent builds, for example, https://github.com/GenericMappingTools/pygmt/runs/1404103533.

[2020-11-16 04:12] weiji14 commented on #693
Is it:

1) The library is not there, because we broke something in https://github.com/conda-forge/gmt-feedstock/pull/111?
2) The library is there, but there is a problem linking to it, of which #628 might help?

[2020-11-16 05:39] seisman commented on #693
See some debugging in #694. The gmt.dll is found in the system, but PyGMT can't load it.

[2020-11-16 16:23] leouieda commented on #665
👍 will do! Thanks all you’re doing @weiji14 and @seisman

[2020-11-17 03:05] #671 closed

[2020-11-17 06:58] seisman commented on #691
The policy sounds good to me.

Let's hear more voices from @GenericMappingTools/python @GenericMappingTools/python-contributors

[2020-11-17 07:45] leouieda commented on #665
I realize it's a bit late now but just wanted to comment here for reference. This should probably have been a minor release (0.3.0) since there are new features (2 new wrapped modules + Py 3.9 + options for existing modules). The last number is mostly for plain bug fix releases or just documentation changes (no new features/enhancements). That's the basic premise of semantic versioning, at least.

[2020-11-17 09:43] lermert commented on #688
yes, thanks, I'll report upstream in the next few days. No worries, I am using simply a smaller region of interest or the built-in access to relief data, all works well! I simply tried around for a while thinking I did something wrong, so throwing an error immediately will be convenient for users.

[2020-11-17 11:06] leouieda commented on #691
Just to add a little bit of background, the reason for that policy was to create a clear document we can point to as both an incentive for new contributors and to avoid toxic discussions that can arise about authorship. Our goal was to be as inclusive as possible and very generous with respect to credit. The policy does that with a 3 tier system: changelog, Zenodo, paper. Each has more "prestige"

[2020-11-18 00:38] weiji14 commented on #665
Thanks for making the tweet @leouieda! It really helps to spread the word outside of our GIthub bubble.

And yes, this probably should have been v0.3.0 as per semantic versioning. The 'bulk' of the release was mostly documentation changes, with new features (`plot3d` and Python 3.9 support) kinda slipped in towards the end because we 'might as well'. Will keep this in mind for the next release.

[2020-11-18 00:38] #665 closed

[2020-11-18 05:20] seisman commented on #690
As per the comment in https://github.com/GenericMappingTools/pygmt/issues/665#issuecomment-728748849, we should strictly follow semantic versioning. As we definitely will add new features in the next few weeks/months, the next release will be v0.3.0, and we can drop the Python 3.6 support now.

In v0.4.0, we will bump the minimum required GMT version to 6.2.0.

[2020-11-18 06:01] seisman opened #698 "Basic support for FreeBSD"
**Description of the desired feature**

Although FreeBSD is not as popular as Linux/macOS/Windows, there are still some FreeBSD + GMT users (see https://forum.generic-mapping-tools.org/t/building-gmt-on-freebsd-12-1-release/967), and they're also potential PyGMT users.

As I understand it, [`sys.platform`](https://docs.python.org/3/library/sys.html#sys.platform) will return `freebsdX` on FreeBSD _

[2020-11-18 06:04] leouieda commented on #690
@seisman that depends also on how much work it is to maintain 3.6 support. For 3.5, it was a bit annoying since a lot of `pathlib` didn't work properly and there were no f-strings. But for 3.6 there isn't much that's like that. So if it's just the extra CI, it might not be too bad. That said, I have no problem with being more aggressive 😡

[2020-11-18 06:12] seisman commented on #690
We recently had a sudden failure for Windows + Python 3.6 (see https://github.com/GenericMappingTools/pygmt/issues/693 and some debugging efforts in #694). I guess something wrong with the conda-forge's Windows builds, but it only happens to Python 3.6. It would be difficult to track down the cause. That's one of the reasons I'd like to drop Python 3.6 support soon.

[2020-11-18 07:25] weiji14 commented on #690
A bit of a tangent, but is there a chance we could setup PyGMT to be no-arch (https://www.anaconda.com/blog/condas-new-noarch-packages) like `xarray` at https://anaconda.org/conda-forge/xarray/files? That would mean that:

1. We don't have to care about what OS or Python version people are using (could be 3.6, 3.9, even the unreleased 3.10 perhaps)
2. The act of adopting NEP29 becomes pretty irrel

[2020-11-18 07:44] weiji14 commented on #698
Seems like Travis CI has experimental FreeBSD support according to https://travis-ci.community/t/freebsd-vms-support/2125. So it *is* possible to test it :slightly_smiling_face:

[2020-11-18 15:54] seisman commented on #698
Don't want to add Travis CI back, and conda-forge may NOT support FreeBSD (https://github.com/conda/conda/issues/61).

[2020-11-18 18:17] weiji14 commented on #698
Yeah, but maybe we should at least run our full test suite at least once on FreeBSD somehow. Either we do it through (Travis) CI, set up a FreeBSD Virtual Machine (e.g. via QEMU) or have a FreeBSD user test things.

[2020-11-19 02:59] seisman commented on #690
It looks promising.

Dropping Python 3.6 (or any other old Python versions) means that we don't have to run CI jobs for old Python versions, and we can use some new Python features which are only available in new Python versions. So we still need to adopt NEP29 or less aggressive.

[2020-11-19 03:46] weiji14 commented on #690
Ok, PR for noarch Python conda packages is at https://github.com/conda-forge/pygmt-feedstock/pull/13 (generated by conda-forge bot), it looks pretty slick!

[2020-11-19 10:18] leouieda commented on #690
That's reason enough for me 🙂

And +1 to the noarch thing. Makes the conda-forge builds a lot faster.

[2020-11-20 00:15] weiji14 commented on #690
Ok, the noarch conda-forge PyGMT v0.2.1 package is up, and this should work on Python 3.6-3.9 (theoretically on 3.10 too but I haven't tested).

I think we can drop Python 3.6 from our CI (the less aggressive option) **now**, and decide whether or not we should adopt NEP29 closer to PyGMT v0.3.0's release in a month or two (the aggressive option, i.e. Python 3.6 would just not work at all).

[2020-11-20 02:04] seisman commented on #690
I agree!

How does it work? If we bump the minimum required Python version to 3.7 in setup.py and the conda-forge recipe. What will happen if a Python 3.6 user installs pygmt?

[2020-11-20 02:15] seisman commented on #690
I tried to install pygmt under Python 3.5:
[code]
The command installs pygmt v0.2.1 successfully (with some warnings/errors with netcdf4). But when I `import pygmt`, it gives the following errors, as expected:
[code]
As for `conda install pygmt`, I see the following errors:
[code]

[2020-11-20 03:23] weiji14 commented on #690
The `conda` case is easy to handle, just need to change `recipe/meta.yaml`, specifically the runtime requirements at https://github.com/conda-forge/pygmt-feedstock/blob/c3783e707743286ba63d9a32d5fc5f86f87207cc/recipe/meta.yaml#L27

For the `pip` case, we could **strictly** enforce Python 3.6+ (or 3.7+ if we adopt NEP29) via a `python_requires` setting (see https://packaging.python.org/guides/distr

[2020-11-20 03:31] seisman commented on #690
That makes sense. I once thought these lines define the minimum supported Python version.

https://github.com/GenericMappingTools/pygmt/blob/7e7da78c773c280d2d9c6724c79ce8b41f6532b0/setup.py#L31-L34

Then I'm in favor of the less aggressive option. We only test Python 3.7-3.9, but allow users run pygmt in old Python versions, although there is no guarantee that pygmt will work as expected.

[2020-11-21 18:29] seisman commented on #698
See feedbacks from FreeBSD users https://forum.generic-mapping-tools.org/t/building-gmt-on-freebsd-12-1-release/967/18

[2020-11-22 02:36] weiji14 commented on #693
Closed with #699, see more discussion on why at #690.

[2020-11-22 02:36] #693 closed

[2020-11-22 22:43] #698 closed

[2020-11-22 22:47] seisman commented on #690
Can we close the issue?

[2020-11-23 00:18] weiji14 commented on #690
Should have mentioned this earlier. [NEP29 implementation](https://numpy.org/neps/nep-0029-deprecation_policy.html#implementation) also requires that we set a minimum `numpy` version (currently numpy=1.15+, will be numpy=1.16+ in Jan 13, 2021).

There's a new PyPI package called `nep29` at https://pypi.org/project/nep29/ that might help, see also https://github.com/numpy/numpy/issues/15173. Perhap

[2020-11-23 05:54] seisman commented on #690
But we're not testing old numpy versions, so how can we know if PyGMT works with numpy 1.15?

[2020-11-23 08:05] weiji14 commented on #690
First question is: Do we want to adopt NEP29? If so, then there's a few things we'll need to do.

One way is to split our CI into two:

- A 'minimum' (Python 3.6 + NumPy 1.15) check
- A 'maximum' (Python 3.9 + NumPy 1.19) check

This is inspired by `xarray`'s setup at https://github.com/pydata/xarray/tree/v0.16.1/ci/requirements where they have different conda `environment.yml` files for each setu

[2020-11-24 03:33] seisman commented on #690
Is it too much burden for us?

[2020-11-27 08:03] seisman opened #706 "fig.text() doesn't work if "text" is integer or float"
**Description of the problem**

**Full code that generated the error**

[code]

**Full error message**

[code]

It works before, but fails in recent releases.

**System information**

Please paste the output of `python -c "import pygmt; pygmt.show_versions()"`:

[code]

[2020-11-28 20:59] seisman commented on #706
In this case, `text` is a numeric vector, so it's passed to GMT by the `put_vector` function.

https://github.com/GenericMappingTools/pygmt/blob/5c8b851b6e71f5a3718ab04bf8936d173fa57b75/pygmt/clib/session.py#L1179-L1181

[2020-12-02 11:10] willschlitzer commented on #685
@weiji14 Please pardon my ignorance on how this should be done, but are you envisioning that `figure.py` will directly import all of the different plotting methods separately (that have all be moved from `base_plotting.py` to their separate scripts) to be used by `Figure` and bypass `BasePlotting`? As far as I can tell, the tests should be unaffected, as long as `pygmt.Figure()` is able to use plo

[2020-12-02 12:26] weiji14 commented on #685
Essentially yes. The intention is to have each function be a standalone thing in one file. We may or may not keep a `BasePlotting` class intact, the implementation details are quite flexible at the moment.

There's actually a work in progress PR at #686 which started to tackle this, but I got stuck (hitting the limits of my object-orientated Python knowledge) as every stackoverflow question on spl

[2020-12-02 13:53] willschlitzer commented on #685
I'll take a look (AKA Google search) for some options. My initial thought when it seemed like too much work to have a Python class in separate files was to have each module be its separate class, but that just seems like it would make `Figure` too big and cumbersome instead of `BasePlotting`.

[2020-12-03 13:56] mattijn commented on #608
I prefer the first option:
[code]
Last year I made an accepted PR to support any objects with a `__geo_interface__` attribute (including geopandas) for Altair. See https://github.com/altair-viz/altair/pull/1664.

It would be great to have similar possibilities for PyGMT!

[2020-12-03 18:34] mattijn opened #714 "how to draw a rose in cartesian projection"
I found out I'm able to add a _map scale_ and a _rose_ for a **geographic** projection:
[code]
![image](https://user-images.githubusercontent.com/5186265/101072386-3d086f80-359e-11eb-9c90-8910f52ab211.png)

[code]
![image](https://user-images.githubusercontent.com/5186265/101072414-48f43180-359e-11eb-91e0-c38d536e1311.png)

And I could add a map scale in a **cartesian** projection
[code]
![image](

[2020-12-03 18:59] seisman commented on #714
@PaulWessel Any thoughts?

[2020-12-03 19:10] PaulWessel commented on #714
Well, not sure what "north" means if x is time and y is in kilos.  If the user has UTM meters then one can lay down basemaps in geographic coordinates and plot the meters as Cartesian but that is a special case.

[2020-12-03 19:29] weiji14 commented on #608
Ah cool, haven't heard of `__geo_interface__` before but it looks like a good way to use it as the integration glue! Would be good to have some links to find out more about this API.

I haven't got much time recently, but if you (or someone else) are willing to start, I'm sure it will be much appreciated. Maybe start with a single geometry type (e.g. points or polygon) and we can gradually expand

[2020-12-03 19:35] mattijn commented on #714
My real plot is in [EPSG:28992](https://epsg.io/28992) projection, which are meters. It looks as follow:

<img width="522" alt="image" src="https://user-images.githubusercontent.com/5186265/101078715-d471c080-35a6-11eb-9acc-748448bb3b5f.png">
Which was prepared with this [notebook](https://github.com/mattijn/KNMI-radar-PyGMT/blob/main/pygmt%20rioxarray%20KNMI%20radar.ipynb)

[2020-12-03 19:49] mattijn commented on #608
Here is the Python protocol: https://gist.github.com/sgillies/2217756. Its basically GeoJSON. I'm willing to make a start, once I can prioritise time for it!

[2020-12-04 02:38] seisman commented on #714
@mattijn The issue has been addressed in upstream PR https://github.com/GenericMappingTools/gmt/pull/4535.

[2020-12-04 05:47] mattijn commented on #714
Fast! +1

[2020-12-04 11:06] weiji14 opened #715 "Outreachy remote interships for supporting diversity - apply by Feb 2021 for mid-2021 round"
**Description of the desired feature**

Something to think about for proactively attracting new contributors - [Outreachy](https://www.outreachy.org/) is a remote internship program for supporting diversity in open source and free software. Similar to [Google Summer of Code](https://summerofcode.withgoogle.com/) but more targeted at under-represented groups.

---

### Action points

For community

[2020-12-06 20:55] weiji14 commented on #615
Record by record transparency has been added to `plot` at #626, and also `plot3d` at #471, so what's left is just adding it to `text`?

On a side note, we might want to add a test for `grdimage` with transparency. I'm getting this error on `PyGMT` v0.2.1, `GMT` 6.2.0_92c5676_2020.11.10 () with `ghostscript` 9.53.3:

[code]

[code]

Will submit a proper bug report once I can isolate the issue.

[2020-12-06 21:06] seisman commented on #615
Yes, I think I already have a local branch for the `text` transparency. Will check if it works as expected and submit later.

I can't reproduce your issue, using PyGMT `v0.2.2.dev14+g1547ad41` + GMT 6.2.0_74efdca_2020.12.06 + Ghostscript 9.53.3 on macOS.

[2020-12-06 21:11] weiji14 commented on #615
Great! No rush though, I was just searching for transparency examples and saw this issue was still open

Yeah, I might need to update my GMT dev version, can't reproduce this on `try-gmt` either :/ Maybe https://github.com/GenericMappingTools/gmt/pull/4464 fixed this.

[2020-12-07 01:23] #615 closed

[2020-12-07 08:52] vivigb opened #717 "Error while using the DEM.grd as a numpy variable"
**Description of the problem**

[code]
Giving me the following error
[code]

I am using conda environment in Windows

[code]

[2020-12-07 10:40] vivigb opened #718 "Cannot plot Line on the map"
**Description of the problem**

**Full code that generated the error**

[code]

There is no error message though

**System information**
CONDA environment on windows

Please paste the output of `python -c "import pygmt; pygmt.show_versions()"`:

[code]

[2020-12-07 14:52] seisman commented on #718
[code]

@vivigb You're giving the wrong coordinates here. It should be:
[code]

BTW, you don't have to convert list to numpy arrays, you can pass lists to PyGMT directly:
[code]

[2020-12-07 14:55] seisman commented on #717
Yes, we notice similar crashes in our CI testings. It's still unclear to us why and where it happens, as none of us is developing PyGMT under Windows.

You have two options:

1. Re-run the script again. Sometimes it crashes, but sometimes it works well
2. Directly use the GMT remote file, i.e., `KWARGS = dict(grid="@earth_relief_01s",region=region, projection='M4i',frame=True, E=300)`, instead of

[2020-12-07 14:58] #718 closed

[2020-12-07 22:36] willschlitzer commented on #335
I'll take on this issue.

[2020-12-08 08:10] willschlitzer commented on #335
@weiji14 I'm struggling with the stretch goals of adding the axis labels. I thought it would be the same as setting the labels on the color bars, and the arguments would be `x+lLongitude` and `y+lLatitude` but that is not plotting any axis labels. I can't find anything in the PyGMT or GMT docs for the solution; any idea?

[2020-12-08 15:10] seisman commented on #335
GMT doesn't allow adding labels to geographic maps, as for geographic maps, the X-axis is always longitude and the Y axis is always latitude.

[2020-12-08 16:31] willschlitzer commented on #335
Since the rest of the tutorial is for geographic maps, do you think it's better to use a non-geographic map for this last part or just not include axis labels in this tutorial?

[2020-12-08 16:34] willschlitzer commented on #153
@leouieda Are you still hoping to get a tutorial like this? I think documenting the projections in a tutorial may be a little redundant now that there is a projection gallery.

[2020-12-08 16:52] seisman commented on #335
I don't have a good idea for this. Perhaps it's better to show labels for non-geographic maps and also explain why it doesn't work for geographic maps.

[2020-12-08 19:13] willschlitzer commented on #335
That's a good idea; I'll add it tomorrow

[2020-12-08 20:54] willschlitzer commented on #292
I'll work on this.

[2020-12-09 07:00] willschlitzer commented on #335
Currently struggling with adding the labels. I'm using:
`fig.basemap(region=[0, 10, 0, 20], projection="X4i/3i", frame=["x+lx-axis", "y+ly-axis"])`

It is plotting the x-axis label on both the top and bottom and the y-axis label on the left and right side. Not seeing anything in the GMT docs to specify that it only print in one location; any ideas?

[2020-12-09 07:02] weiji14 commented on #335
Try with `frame=["WSne", "x+lx-axis", "y+ly-axis"]`.

[2020-12-09 07:11] willschlitzer commented on #335
It worked! Thanks

[2020-12-09 07:15] willschlitzer commented on #335
@weiji14 @seisman Would needing to add the "WSne" argument be best explained that, by default, all axes are designated as primary axes and "WSne" is needed to make only the left and bottom axes primary?

[2020-12-09 11:09] labrosse opened #722 "Problem installing on MacOS"
**Description of the problem**

Fresh install of GMT using the bundle for MacOS (my system is Catalina, 10.15.7). Successfully tested on a simple example.
Environnement variables set:
echo $GMTHOME
/Applications/GMT-6.1.1.app/Contents/Resources
echo $GMT_LIBRARY_PATH
/Applications/GMT-6.1.1.app/Contents/Resources/lib

pygmt installed using pip (not conda) in a python3 venv.
python3 --version
Pytho

[2020-12-09 14:12] seisman commented on #722
Yes, it's a known issue of the GMT macOS bundle. Please see https://github.com/GenericMappingTools/gmt/issues/1930 for discussions.

We recommend you to install pygmt and gmt using `conda`. If you still prefer to use the macOS bundle, you may try the "solution" in this comment https://github.com/GenericMappingTools/gmt/issues/1930#issuecomment-698683500.

[2020-12-09 16:20] willschlitzer commented on #292
Should the different projections have a particular and standardized color scheme? The GMT docs don't seem to follow any standard color scheme, but all of the PyGMT projection examples have gray land and white water.

[2020-12-09 16:35] seisman commented on #292
I don't think we have any standardized color scheme here. I actually prefer the maps in the GMT docs.

[2020-12-09 19:42] willschlitzer commented on #292
I prefer them as well. My thought is to copy the GMT example projection maps when able, as I think they are all good maps and there's no need to reinvent the wheel. I just want to make sure there isn't a plan in place already for standardized example projection maps.

[2020-12-10 08:32] willschlitzer commented on #292
I think it would be a good idea to have the home page of the projection gallery have some sort of table that lists the different projection codes. Even when the gallery is fleshed out, it won't be immediately clear to someone looking at PyGMT code what the given projection is, and this will keep them from having to click on all of the gallery examples to find out. I looked through the PyGMT docs t

[2020-12-10 13:18] willschlitzer commented on #670
Is there any way to get `basemap` to return x/y min/max values to set as the endpoint values when calling `hlines`/`vlines`? I would like to give this a try but I can't get past how to plot the line to take up the range of the figure if the `None` defaults are used for the min/max values.

[2020-12-10 15:14] seisman commented on #670
I think this function is what you need: https://github.com/GenericMappingTools/pygmt/blob/6bad8108bbccc50f42817245be89b807010d6b32/pygmt/clib/session.py#L1374

[2020-12-10 17:53] willschlitzer commented on #670
Thanks! I assume you're talking about extract_region()?

[2020-12-10 17:55] seisman commented on #670
Yes.

[2020-12-10 19:40] #566 closed

[2020-12-10 22:31] mattijn commented on #608
Little progress. Currently investigated an approach using geopandas and Fiona. While I'm typing this, I think that GMT might be using `ogr2ogr` under the hood and also can recognizes GeoJSON directly. Something to check for later.

Somehow I'm not able to succeed using the `GMTTempFile`. I think it is already trying to plot while the file is still being written?

[code]

### geodataframe to pygmt

[2020-12-11 00:57] seisman commented on #153
I agree.

But I think we still need a tutorial showing how to specify a plot region. Some possible options are:

- Give either `g` or `d` for global region
- A list `[xmin, xmax, ymin, ymax]`
- A string `xmin/xmax/ymin/ymax`
- ISO country code (e.g., `US`) and some modifiers (e.g., `US+r2`)
- and more in the cookbook (https://docs.generic-mapping-tools.org/latest/cookbook/options.html#data-domain-

[2020-12-11 01:03] #706 closed

[2020-12-11 01:04] weiji14 commented on #608
Wow, this is looking really promising! I was wondering how the GeoJSON -> GMT path would work but seems like you found a great solution here.

On the `GMTTempFile` not working, could you try using `pygmt.helpers.GMTTempFile(suffix=".gmt")` and see if it works? Not sure if GMT requires that the file extension be `.gmt`, but won't hurt to try. I can't see why else this won't work if regular GeoJSON

[2020-12-11 03:52] seisman commented on #691
I just opened a PR (#726) to push it forward.

[2020-12-11 14:16] willschlitzer commented on #493
I'll work on this.

[2020-12-11 14:47] seisman commented on #335
Closed by #720.

[2020-12-11 14:47] #335 closed

[2020-12-14 11:37] willschlitzer opened #730 "GMTInvalidInput error for basemap"
There is an if statement under `basemap` in `base_plotting.py` to raise an exception if `B`, `L`, or `T` aren't included in `kwargs`. The aliases for `basemap` do not include `T`, so that requirement cannot be completed. In #729 I removed "T in kwargs" from the if statement and changed the text of the exception to display the PyGMT parameter names.

It looks like the `T` parameter on the GMT docs

[2020-12-14 17:19] MarkWieczorek opened #732 "grdimage does not plot subsets of data correctly on a global map"
# Problem

I have a subset of data that I would like to plot on a global projection (such as mollweide). This works with GMT, but pygmt provides incorrect output.

# Example

Let's create a global dataset of random numbers on a grid with 1 degree spacing in latitude and longitude:

[code]

Now let's plot only the region from 90N-30S and 0E-220E with a Mollweide projection centered on 180 E
[code]

[2020-12-14 17:19] uliw opened #733 "changing map annotation font size"
**Description of the problem**

Setting
[code]
appears to have no effect and setting it directly like this
[code]
results in a parsing error.
[code]
I may not see the forest for trees here... so any pointers are much appreciated

[code]
This is

**Full code that generated the error**

[code]

**Full error message**

[code]

**System information**

Please paste the output of `python -c "import pygm

[2020-12-14 17:23] seisman commented on #733
Setting `pygmt.config(FONT_ANNOT="6p")` should work. Could you please provide your full codes?

[2020-12-14 17:43] MarkWieczorek commented on #677
I think that it would be great to have a scientific research paper that describes pygmt (like GMT). It is also great for a CV, and such articles are guaranteed to be highly cited. I did the same thing with pyshtools (also at G3), but in retrospect, writing such a paper is a lot of work, and given that the code is always changing, a static article isn't the best tool for someone trying to learn how

[2020-12-14 18:09] uliw commented on #733
Here is an example. Changing the value from 6 to e.g., does not affect the font size

[code]

[2020-12-14 18:13] seisman commented on #733
OK. I can reproduce your issue. Will see why it doesn't work as expected.

Here is a workaround:
[code]

[2020-12-14 18:20] uliw commented on #733
ah ok, so when issued after creating the figure instance it will work.
Thanks!

On Mon, Dec 14, 2020 at 1:13 PM Dongdong Tian <notifications@github.com>
wrote:

--
Ulrich G. Wortmann
https://www.es.utoronto.ca/people/faculty/wortmann-ulrich/
Dept. of Earth Sciences     Fax  : 416 978 3938
University of Toronto       Phone: 416 978 7084
22 Ursula Franklin Street, Toronto, ON, Canada M5S 3B1

[2020-12-14 20:42] seisman commented on #733
Here is the step to reproduce the issue and understand why it doesn't work as expected.

We first need to start a jupyter notebook, and run the following script.
[code]
`import pygmt` creates a new session, and `pygmt.config()` changes GMT's **global** settings. The script can produce a plot with a large annotation font size, as expected.

Then, in the **same jupyter notebook**, we can change the

[2020-12-15 03:49] weiji14 commented on #608
Seems like we need to do `os.remove(tmpfile.name)` first, i.e. this works:

[code]

Perhaps we should use one of the other Python [`tempfile`](https://docs.python.org/3/library/tempfile.html) functions instead? Anyways, the main question is should we have the intermediate file be GeoJSON or OGR_GMT? Is one more flexible that the other in some respects (e.g. MultiPolygons, FeatureCollections, etc)?

[2020-12-15 07:20] seisman commented on #732
@PaulWessel I think this is also an upstream GMT bug, possibly related to https://github.com/GenericMappingTools/gmt/issues/4335. Please see if you can help.

To reproduce the issue using the above codes, you need to import the following packages first:
[code]

[2020-12-15 07:45] seisman commented on #451
It seems we can close the issue now.

Please re-open the issue if I missed anything.

[2020-12-15 07:45] #451 closed

[2020-12-15 12:36] weiji14 opened #735 "Allow passing in a column to plot for error_bars"
The [`pygmt.fig.plot`](https://www.pygmt.org/v0.2.1/api/generated/pygmt.Figure.plot.html) method has an error_bar (E) argument that isn't very usable right now. Ideally we would be able to pass in a list or numpy array of error values (e.g. standard deviation).

_Originally posted by @weiji14 in https://github.com/GenericMappingTools/pygmt/issues/666#issuecomment-716084019_

[2020-12-15 16:12] #730 closed

[2020-12-15 16:49] mattijn commented on #608
Sorry for not coming back earlier. Always busy end of year. Maybe I can find a moment between Christmas and New year otherwise early January again👍

[2020-12-15 20:34] seisman opened #737 "Improve "make clean""
**Description of the problem**

Running `make clean` can delete some temporary files and directories, but I usually have two problems with it:

1. `make clean` doesn't delete the files in `doc/_build` directory. IMHO, it should.
2. `make clean` deletes the `.egg-info` directory, so I have to reinstall pygmt in editable mode again (am I right here?)

Solution:

1. `make clean` should delete `doc/_b

[2020-12-16 08:03] seisman commented on #447
It seems the only thing we need to do is renaming "now.json" to "vercel.json" (although now.json is still supported).

As for the vercel-action, I don't see any benefits to switch to the action. As per the documentation (https://github.com/amondnet/vercel-action#disable-vercel-for-github), we still need the "vercel.json" file to disable the vercel-github integration. Using the vercel-action means

[2020-12-16 08:30] #447 closed

[2020-12-16 21:17] willschlitzer commented on #292
Are we missing any examples for gallery plots?

[2020-12-16 22:03] willschlitzer commented on #493
I'm trying to figure out how to add a specific CPT, but I'm not getting it to plot on the actual line. I tried setting a specific CPT to `cmap`, and also tried adding `"red,green"` to add specific colors, but no luck.

[2020-12-17 03:32] seisman commented on #292
@willschlitzer Thanks again for your recent contributions! I think this issue is close to finishing.

I think it would be better to also add [logarithmic projection](https://docs.generic-mapping-tools.org/latest/cookbook/coordinate-transformations.html#cartesian-logarithmic-projection) and [power projection](https://docs.generic-mapping-tools.org/latest/cookbook/coordinate-transformations.html#car

[2020-12-17 04:31] weiji14 commented on #493
Yeah it's complicated, took me a while to figure it out recently too. Try this for inspiration:

[code]

![sine curve with different colors](https://user-images.githubusercontent.com/23487320/102444216-8623ed80-408d-11eb-91b2-4ba890b3bb8d.png)

[2020-12-17 08:42] willschlitzer commented on #493
@weiji14 Impressive find, but that seems like a big step up in complexity from the rest of the tutorial. I've been out of geoscience for 8+ years so I don't keep up with what people want in their plots, but this seems out of place for a basic "How to plot lines" tutorial. My opinion is something like this belongs in a gallery example.

[2020-12-17 15:23] seisman commented on #292
@willschlitzer Sounds a good idea. Could you open a new issue for this so that we can better discuss it?

[2020-12-17 16:01] seisman commented on #631
This is what [PEP-257](https://www.python.org/dev/peps/pep-0257/) says:

So, instead of using `r" **+n**\ *args* "` for each individual cases, we should use `r`  for the whole docstring, e.g.,

[code]

[2020-12-17 20:37] seisman commented on #737
https://www.gnu.org/software/make/manual/html_node/Standard-Targets.html

`clean` and `distclean` are the standard targets in Makefile. I think we can following the rules, and let `make distclean` delete the `.egg-info` diretcory.

[2020-12-17 22:36] phloose commented on #292
Before you close this issue i would like to add that it would be nice to have some explanatory text about each projection like in the [GMT cookbook ](https://docs.generic-mapping-tools.org/latest/cookbook/map-projections.html). I [proposed](https://github.com/GenericMappingTools/pygmt/issues/292#issuecomment-513183815) and started this with #318 and would think that this is very useful for people

[2020-12-18 01:19] seisman commented on #631
As pointed out by @weiji14, the PyGMT documentation is inconsistently using _italics_, **bold**, and `code` strings.

I think we can following these conventions:

1. Use `code` for Python function arguments
2. Use **bold** and *italics* for GMT syntax like **+n***args*, in which bold **+n** means it should be typed as it is, and italic *args* should be given a specific value.

This is a good examp

[2020-12-18 02:17] #737 closed

[2020-12-18 07:49] willschlitzer commented on #579
@weiji14 It looks like Option 2 at over your pytest-mpl pull request is the same syntax as what we currently use for `@check_figures_equal`. Assuming your pull request is merged, would the only real change for PyGMT tests be different import statements to use the decorator?

[2020-12-18 08:07] willschlitzer commented on #292
Would we be able to copy the text directly from the GMT cookbook on the reasoning behind using different projections? I don't want to plagiarize, but I would also hope to avoid reinventing the wheel if possible.

[2020-12-18 08:13] willschlitzer opened #746 "Table for different map projections"
The current projection gallery displays the different types of projections by name and a sample image. I propose that the home page for the projections also include a table listing the different projection "codes" (R, G, X, M etc.) and the associated projection name. This will allow someone to quickly identify the projection specified if they are referencing a PyGMT script but unfamiliar with the

[2020-12-18 08:15] seisman commented on #292
PyGMT and GMT belong to the same organization, so don't worry about plagiarization. We can just copy and paste from the cookbook, and even improve it if someone knows more about projections.

Again, it would be good if @willschlitzer can open a new issue for your comment https://github.com/GenericMappingTools/pygmt/issues/292#issuecomment-742367645, and @phloose for your comment https://github.com

[2020-12-18 10:36] phloose opened #747 "Add explanatory text for the particular projections to the projection gallery"
To support choosing a projection especially for new users it would be helpful to add some explanatory text to the projection gallery plots about a particular projection. This has been started in #318.

The [GMT cookbook](https://docs.generic-mapping-tools.org/latest/cookbook/map-projections.html) can be used as reference since it already contains some information about the different projections GM

[2020-12-18 10:41] willschlitzer commented on #747
I'll work on this.  My knowledge of the benefits and drawbacks of different projections is going to be limited to what the GMT Cookbook presents, so I anticipate this largely being a copy-and-paste operation for me.

[2020-12-18 12:06] weiji14 opened #748 "Support table on forward/backward compatibility of PyGMT with Python and GMT versions"
**Description of the desired feature**

To be nice to our users and clear up any potential source of confusion on PyGMT's compatibility with GMT, we should have a table or something indicating forward/backward compatibility. It's a bit hard to pick thing out from the changelog at https://www.pygmt.org/latest/changes.html. Something like so, inspired by https://github.com/holoviz/pyviz_comms#compat

[2020-12-18 12:50] MarkWieczorek opened #749 "colorbar is missing documentation for "-I" and lacks a "shading" alias"
In practice, whenever an image is plotted using shading ("grdimage -I...") it is common to use the "-I" option for the colorbar as well.  At present there is no documentation of the colorbar "-I" option, but it turns out that you can get this to work anyways. Two calling options are
[code]
or
[code]
For simplicity, I would probably document the second option.

Furthermore, for consistency with `gr

[2020-12-18 12:57] MarkWieczorek commented on #618
I finally got around to testing this, and grdimage with shading works fine for me as long as I specify a pre-existing filename. For my pipeline, a hack solution is to save an xarray DataArray as a netcdf file, and then to use this filename with the shading option.

Obviously, it would be better if we could just specify the xarray DataArray directly in the shading option.

[2020-12-18 15:23] seisman commented on #631
Ping @GenericMappingTools/python @willschlitzer for thoughts on this.

[2020-12-19 03:58] seisman commented on #618
@MarkWieczorek I've implemented the requested feature in #750 and it seems working well (I only did a few simple tests and eye-checking the images). It would be good if you can test it and give some feedbacks.

[2020-12-19 04:12] seisman commented on #748
Sounds a great idea, although it makes the README even longer 😄

[2020-12-19 04:18] seisman commented on #746
GMT provides a table for projections (https://docs.generic-mapping-tools.org/latest/proj-codes.html), and the code is available from https://github.com/GenericMappingTools/gmt/edit/master/doc/rst/source/proj-codes.rst.

The table shows both GMT and PROJ projections codes, but perhaps we only want the GMT ones to keep it simple? Also related to https://github.com/GenericMappingTools/pygmt/issues/35

[2020-12-19 09:32] willschlitzer commented on #631
@seisman I like this convention for explaining literal titles and the associated arguments that go with them. Are you thinking there should be similar formatting in the string of arguments given in the doctstring?

[2020-12-19 15:49] seisman commented on #631
Yes, but need feedbacks first.

[2020-12-21 01:05] seisman opened #755 "Test GMT master branch on Windows using the conda-forge package"
**Description of the desired feature**

Currently, we have [a workflow](https://github.com/GenericMappingTools/pygmt/blob/master/.github/workflows/ci_tests_dev.yaml) which runs PyGMT tests using **GMT master branch** on Linux and macOS, but we don't run the tests on Windows, because it's difficult and time-consuming to build GMT source codes on Windows. So we don't know if PyGMT works with GMT mas

[2020-12-22 03:15] seisman commented on #631
Ping @GenericMappingTools/python for comments.

[2020-12-22 09:47] willschlitzer commented on #493
@seisman Are you looking to have anything else added to these line plotting examples before closing the issue? As stated above, I think the custom CPT example provided by @weiji14 may be a bit advanced for a basic tutorial.

[2020-12-22 09:54] seisman commented on #493
@weiji14's example is pretty good and could be added to the gallery (https://www.pygmt.org/dev/gallery/index.html#lines).

[2020-12-22 15:20] seisman commented on #749
Closed by #752.

[2020-12-22 15:21] #749 closed

[2020-12-22 15:21] seisman commented on #746
Closed by #753.

[2020-12-22 15:21] #746 closed

[2020-12-22 15:40] #747 closed

[2020-12-23 15:57] #292 closed

[2020-12-25 05:12] seisman commented on #722
Closing the issue as it's a duplicate of upstream bug https://github.com/GenericMappingTools/gmt/issues/1930

[2020-12-25 05:12] #722 closed

[2020-12-25 16:15] michaelgrund opened #764 "Description for the "columns" arguments is missing"
Please describe what could be improved about this page or the typo/mistake that you found:

I would suggest to add a short note regarding the supported syntax for the `columns` option when using e.g. a data file as input, something like

* **data** (_str_ or _2d array_) – Either a data file name or a 2d numpy array with the tabular data. Use option _columns_ (i) to choose which columns are x, y, c

[2020-12-25 20:46] seisman commented on #764
The documentation is automatically generated from the docstrings in the Python codes, see
https://github.com/GenericMappingTools/pygmt/blob/master/pygmt/base_plotting.py#L649

The description of the `columns` argument is missing. I think we should add an entry for the "columns" argument, instead of explaining `columns` in the description of the `data` argument.

[2020-12-26 13:15] michaelgrund commented on #764
opened a pull request with the suggested changes (according to your comment @seisman ).

[2020-12-26 15:00] seisman opened #767 "Slash command "/format" doesn't work for external contributors"
**Description of the problem**

https://github.com/GenericMappingTools/pygmt/pull/766#issuecomment-751356843 doesn't trigger the format command. Instead, the [slash dispatch action](https://github.com/GenericMappingTools/pygmt/actions/runs/445575126) reports:
[code]

It seems something wrong with the permission setting.

[2020-12-27 21:33] #755 closed

[2020-12-27 22:10] weiji14 commented on #346
@seisman, what do you think about bringing @willschlitzer on as a maintainer? I haven't got too much headspace these few months but don't want to slow down the momentum that's going on into PyGMT, but it would be good to get a new face on board, especially someone good at documentation!

[2020-12-27 22:36] #767 closed

[2020-12-27 23:12] seisman commented on #346
Yes, I'm thinking about it too. We can give more permissions to @willschlitzer if he is willing to join.

Before that, I'm a little concerned about our current maintenance/permission model. Currently, we have two groups related to PyGMT project:

- [python team](https://github.com/orgs/GenericMappingTools/teams/python/repositories)
- [python-contributors team](https://github.com/orgs/GenericMappin

[2020-12-28 01:42] weiji14 commented on #346
This group probably should have triage permissions set, otherwise the read permissions are just like any other Github user. That way they can at least add labels to issues and stuff.

I'd prefer to have less of a hierarchy, but ok with a middle ground write/maintain team here. Let's see what @willschlitzer prefers.

[2020-12-28 02:52] seisman commented on #346
Yes, I agree. I just made this change at https://github.com/orgs/GenericMappingTools/teams/python-contributors/repositories.

[2020-12-28 08:50] willschlitzer commented on #346
@seisman @weiji14 I'd be happy to take on additional roles in the project. Full disclosure , I'm still very new to open-source development (this is the first project I've contributed to), and I don't have a good understanding of the more advanced parts of the project (how the testing deployment works, how PyGMT communicates with the GMT API, some of the Python decorators, how to wrap functions, et

[2020-12-28 09:47] willschlitzer opened #770 "PyGMT tutorial"
I think there should be a PyGMT tutorial, much like the [GMT tutorial](https://docs.generic-mapping-tools.org/6.1/tutorial.html). I don't think it requires as much explanation as what's happening under the hood, but would ideally recreate the Laboratory Exercises. The PyGMT User Guides cover a variety of topics, but I think following the GMT tutorial gives us a good roadmap on what features to exp

[2020-12-28 10:05] willschlitzer opened #771 "Guidance on types of tests to write for plotting functions"
The testing section on the contributing guide does a good job of explaining how to write tests, but doesn't really explain what should and should not be tested with the plotting functions. Looking through the tests (specifically the ones testing functions in `base_plotting.py`) there doesn't appear to be a standard for testing functions that pass arguments to the GMT API. My limited understanding

[2020-12-28 10:58] willschlitzer commented on #493
@weiji14 Are you planning on adding your code to the gallery? I can submit a pull request for it if you're too busy.

[2020-12-28 11:29] weiji14 commented on #493
I literally came up with that in 5 minutes :sweat_smile:, but yeah, feel free  to adapt it into the gallery.

[2020-12-28 11:58] weiji14 commented on #346
You'll do great, don't worry about knowing all the advanced parts. There's a lot of trial and error involved in open source and we pretty much learn things as we go along! I definitely think you've got a good enough grasp on the PyGMT API and Python testing to make an active contribution :D

@seisman, could you set up the python-maintainers team please? I haven't got permissions in the GenericMapp

[2020-12-28 14:55] willschlitzer commented on #493
Sounds good! Didn't want to step on your toes; I'll type it up in the next day or so.

[2020-12-28 16:36] seisman commented on #346
Done with the [pygmt-maintainers team](https://github.com/orgs/GenericMappingTools/teams/python-maintainers/repositories).

[2020-12-28 19:54] weiji14 commented on #770
This reminds me of the FOSS4GOceania 2019 workshop material I made at #317, and the ROSES 2020 stuff which @liamtoney made at #613. As a start, we could probably expose those to be more visible somewhere (and update the content since the API has changed).

If you're thinking about a full comprehensive GMT tutorial like the one linked, I'd suggest doing it session by session (and good luck with tha

[2020-12-28 20:05] willschlitzer commented on #770
I was planning on recreating exercises in the tutorial. I'm not sure how to split them up regarding sessions/pages, but I figure the hard part would be putting together the content, which can be done one exercise at a time.

Regarding the vEGU21 abstract, I was unaware that was something we were hoping to do. According to the website, there are still 16 days for abstract submission. I'm happy to h

[2020-12-28 20:12] liamtoney commented on #770
I will likely be providing a PyGMT lesson again for ROSES 2021.

[2020-12-28 20:17] willschlitzer commented on #770
@liamtoney Awesome! Your tutorial video was what brought me to PyGMT.

[2020-12-28 20:24] willschlitzer commented on #346
@weiji14 What do you have in mind for an onboarding checklist? I know @leouieda mentioned procedures and accounts, but I'm not sure what those are/how one would have access?

[2020-12-28 20:28] weiji14 commented on #771
Yeah, we do need to spell this out. I would think of testing as a spectrum from:

1. Absolute minimum - every line of code is covered by a test, see https://codecov.io/gh/GenericMappingTools/pygmt. Note that this does not even need to cover all aliases! Just bare functionality.

2. Full stress testing - Unit tests checking every alias, every possible combination of arguments, hypothesis/mutation t

[2020-12-28 20:36] seisman commented on #770
Sorry, it's still unclear to me what's the difference between the proposed "PyGMT Tutorial" and the existing "PyGMT User Guides". I thought they're the same.

[2020-12-28 20:38] willschlitzer commented on #770
@seisman I'm thinking something more structured like the laboratory exercises that are in the GMT docs, instead of stand-alone user guides. I'm not saying the PyGMT User Guides should be eliminated, but I think having a series of exercises covering different PyGMT functions would be good for someone trying to familiarize themself with the package.

[2020-12-28 20:39] weiji14 commented on #346
Yeah, some stuff like Azure won't be needed anymore. If I were you, I'd start an 'Onboarding maintainer' PR, and add stuff to it everytime you get access to something in the coming days/weeks. E.g.:

- [ ] Join python-maintainers team
- [ ] Join PyPI organization
- [ ] etc

[2020-12-29 05:28] seisman commented on #771
Yes, I believe we should at least document these two rules!

[2020-12-29 05:31] seisman commented on #770
Sounds good to me.

[2020-12-29 05:33] seisman commented on #714
As mentioned above, the issue has been fixed in upstream GMT codes. I don't think we need to add a PyGMT test for this. Closing the issue.

[2020-12-29 05:33] #714 closed

[2020-12-29 05:36] seisman commented on #631
Ping @GenericMappingTools/python, @GenericMappingTools/python-maintainers and @GenericMappingTools/python-contributors for thoughts on https://github.com/GenericMappingTools/pygmt/issues/631#issuecomment-747532492 and https://github.com/GenericMappingTools/pygmt/issues/631#issuecomment-747806369.

[2020-12-29 08:34] willschlitzer commented on #771
@weiji14 Thanks for the explanation; I'm pretty new to testing anything that isn't a simple return of a string/integer/float.

In addition to the Python specific stuff, I think all of the aliases should be tested (as I mentioned in #769), and my thought is there should be a single test function that makes sure all of the aliases work; if any of them are mutually exclusive with another alias (no ex

[2020-12-29 09:20] weiji14 commented on #631
Let's go with Option 1 (using the raw string). Easier to copy from GMT, and avoids messy backslashes. Also agree on the backtick `code` blocks.

Will need to document this (with an example) somewhere in CONTRIBUTING.md

[2020-12-29 09:41] weiji14 commented on #771
In an ideal world yes, with a team of a hundred developers and unlimited Continuous Integration resources.

In reality, time could be spent on more productive things. Aliases are not the weakest point in PyGMT, so we don't have to test all of them unless there's a bug caused by some very complex combination of parameters (which needs to be handled in a very specific way in Python).

That said, you

[2020-12-29 10:18] willschlitzer commented on #771
@weiji14 Good to know; thanks!

[2020-12-29 10:36] weiji14 commented on #770
Another thing we could do is to take the existing user guide and divide it into sections, going from the basics to intermediate stuff. For advanced stuff, I was thinking of adding a page of 'Community contributed' examples (with code) that are just pretty (and good for inspiration).

[2020-12-29 10:56] willschlitzer commented on #770
I like that idea. We can use the internet existing guides and augment them with the lab exercises from the GMT docs.

[2020-12-29 14:38] #748 closed

[2020-12-29 15:21] willschlitzer commented on #631
I think making the entire docstring a raw string is the way to go; I think a double backslash might be confusing to some, and copying directly from GMT makes life easier.

I can write this up in CONTRIBUTING.md when we come to a consensus.

[2020-12-29 16:17] seisman commented on #631
At least three of the maintainers agree with this. I think we can do it now.

[2020-12-30 02:56] seisman commented on #771
Another point is that _alias_ works for most cases unless there are typos, because adding a new alias is pretty easy (see https://github.com/GenericMappingTools/pygmt/pull/661 for an example PR, which adds the `no_clip` alias to some plotting functions) and the documentation is always consistent with the codes.

[2020-12-30 03:01] seisman commented on #631
As most of us agree with the new docstring conventions, we should do:

- [ ] documentation the docstring conventions
- [ ] review the whole project and fix any inconsistence

[2020-12-30 03:04] seisman commented on #732
Ping @PaulWessel

[2020-12-30 10:15] willschlitzer commented on #631
When referencing and explaining the written code in documentation, should it all be in ``code`` format or should it the bold/italicize documentation format. Some examples I encountered in `earth-relief.py`:

``"a2500"`` or **a***2500*
``"x+lElevation"`` or **x+l***Elevation*

My opinion is to leave it all as ``code`` formatting, but I can see it both ways.

[2020-12-30 14:03] seisman commented on #631
I think this is the better way.

[2020-12-30 20:23] seisman commented on #771
We should mention that we recommend using SI units in the documentation.

[2021-01-02 18:44] michaelgrund opened #786 "Wrap rose"
**Description of the desired feature**

I'm missing the **rose** module for a while and think it's useful and should be wrapped.

Some useful resources:

* [GMT's rose manpage](https://docs.generic-mapping-tools.org/6.1/rose.html)
* [GMT.jl's rose wrapper](https://github.com/GenericMappingTools/GMT.jl/blob/master/src/psrose.jl)

**Are you willing to help implement and maintain this feature?**
Yes,

[2021-01-02 23:05] mattijn commented on #608
I have been trying a bit with the `__geo_interface__` (geojson-structure), but since there is no direct support for it in GMT it is probably better to stick with the OGR_GMT format support in geopandas through fiona and leave the `__geo_inferface__` support for later.
It could be possible to create OGR_GMT format from the `__geo_interface__` through fiona in python or ogr2ogr in a subprocess if fi

[2021-01-04 07:26] willschlitzer commented on #584
@weiji14 Would there be a way to just have the test suite run on one machine (presumably Ubuntu, since that typically is completed in the shortest period of time) in one version of Python when the PR is a draft and then run the full suite when it is ready for review?

Also, would reducing the test suite have any impact on how long it takes for the vercel preview deployment, or is that handled sepa

[2021-01-04 11:40] weiji14 commented on #584
Yes it's possible, but you'll need a bit of Github Actions CI experience. Have a look at the GMT Latest tests .yaml file for inspiration. And yes, running just Ubuntu Python 3.9 in draft mode is the idea.

Vercel documentation build is separate, speeding that up would require more work, either from optimizing our Gallery/Tutorial examples or some form of caching on the Python/Sphinx or Javascript/

[2021-01-05 17:18] flixha commented on #217
Thanks a lot for reporting this problem - I was really scratching my head why plotting in parallel didn't work!

For the record, here is how I work around this error for now: One can manually reload `pygmt` at the top of the function that is run in parallel (`gmt_fun` in the example above), like:
[code]

[2021-01-12 02:13] PaulWessel commented on #677
We will put in bucks for a G3 article for PyGMT in the NASA proposal we are submitting this week.  If it gets funded then you have funds to pursue an Open publication with no access restrictions, like the GMT paper.

[2021-01-14 20:34] seisman opened #792 "Improve error message when failing to load gmt library"
**Description of the problem**

See this [post](https://forum.generic-mapping-tools.org/t/installing-pygmt-on-google-colab/898/7) for context.

When PyGMT fails to load the GMT library, it doesn't provide useful information so it's unclear what causes the failure.

Actually, `ctypes.CDLL` provides some useful information, for example:
[code]
gives me more information:
[code]

We should let PyGMT o

[2021-01-19 07:14] raychani commented on #217
Thanks for your solution.

It works on my linux(centos) machine.
But, does not works on my windows machine.
In linux, the session path use PID of child process.
But in windows, the session path use PID of parent process.

[2021-01-20 16:31] meghanrjones commented on #715
This program looks great. I did a bit more research into the structure and this is my interpretation of the information on the Outreachy site. In order to mentor an intern, we would need to be become part of an [outreachy community](https://www.outreachy.org/communities/cfp/) or start a new community. Starting a community seems like the more likely path forward, in which case we would need to prov

[2021-01-20 19:34] weiji14 commented on #715
Ah yes, good spotting, Do you think we could tie this in with the [NASA proposal](https://forum.generic-mapping-tools.org/t/gmt-community-zoom-meeting-thursday-oct-22-utc-1700-hst-0700/943/3) somehow (i.e. use part of that grant to fund an Outreachy intern)? Might be a discussion point for the [GMT community meeting tomorrow](https://forum.generic-mapping-tools.org/t/gmt-community-zoom-meeting-thu

[2021-01-21 00:57] meghanrjones commented on #715
We didn't put funding for an intern in the budget. We could also discuss whether it could tie in with the active NSF grant, should I add this to the agenda for tomorrow?

[2021-01-21 08:34] #497 closed

[2021-01-21 15:49] willschlitzer commented on #685
Until this gets changed, can the 2000 line length be dropped from the style checks?

[2021-01-21 19:15] weiji14 commented on #685
You can disable this check on just the one file (base_plotting.py) using `# pylint: disable=something` where 'something' is the pylint error. I'll try and follow up on #686 PR sometime next month, or feel free (anyone) to have a go at this issue.

[2021-01-21 21:54] meghanrjones commented on #715
Following up about the conversation from the community meeting and @PaulWessel's question, here's some information about steps from the [Outreachy website](https://www.outreachy.org/):
- [ ] Find funding for at least one intern ($6,500)
- [ ] Find a volunteer to be the community coordinator (main point of contact between Outreachy and the community’s mentors and volunteers)
- [ ] Find community vo

[2021-01-21 21:59] weiji14 commented on #631
I've just been looking through some of the new API docs and noticed a problem. E.g. https://www.pygmt.org/dev/api/generated/pygmt.Figure.coast.html after #765 looks like this:

![image](https://user-images.githubusercontent.com/23487320/105417342-570e2680-5ca0-11eb-9907-0b0d98d3df2c.png)

I think we need to add a fullstop/period (.) between `[+z]` and `Select ...` to break the flow, or have `Selec

[2021-01-21 23:04] weiji14 commented on #715
Cool, this checklist makes things much clearer! I need to read up more on the [Outreachy Participation rules](https://www.outreachy.org/communities/cfp/participation-rules/) to understand how the community-coordinator/mentor/intern relationship, seems very complicated. But happy to put my hand up to be 1 of the 2 mentors, and contribute to the funding application writing (need to start learning ho

[2021-01-22 16:34] michaelgrund commented on #685
Good to know, recently ran into the same issue during the creation of the **rose** wrapper.

[2021-01-22 22:30] seisman opened #801 "Potential bugs may cause the recent Windows failures with GMT dev builds"
**Description of the problem**

See the results of the "GMT Latest Tests" action (https://github.com/GenericMappingTools/pygmt/actions?query=workflow%3A%22GMT+Latest+Tests%22).

There are 10 failures on Windows. The error messages are:
[code]

It's unclear if it's a bug in GMT dev version or a PyGMT bug.

[2021-01-22 22:41] #771 closed

[2021-01-23 00:10] willschlitzer commented on #622
Can we close this issue now that the -G alias has been explained in the linked PR by @seisman ?

[2021-01-24 03:23] #622 closed

[2021-01-24 14:48] willschlitzer commented on #685
@weiji14 I definitely haven't made any progress on this. What are your thoughts on at least moving the parameters to a separate file, not unlike how we keep common parameters in COMMON_OPTIONS. My thought is that we could organize it somewhat like the test files (e.g. have a `parameters_coast.py` and `parameters_basemap.py`). It leaves us with the issue that `base_plotting.py` has so many function

[2021-01-24 20:30] willschlitzer commented on #493
@seisman Are we good to close this issue now that #741 and #774 have been merged?

[2021-01-24 20:35] seisman commented on #493
There are some lines/arrows we may want to add in the gallery. See https://github.com/GenericMappingTools/pygmt/issues/493#issuecomment-709697692

[2021-01-26 04:39] #153 closed

[2021-01-26 05:41] willschlitzer commented on #182
@GenericMappingTools/python Is this something we still want, and if so, should it be in the doc strings/lead section of every tutorial and gallery example?

[2021-01-26 05:43] seisman commented on #182
The issue will become invalid after #529 is merged. That PR is almost working, however, I haven't found much time to finish it.

[2021-01-26 05:51] willschlitzer commented on #182
Sounds good. Do you think it will be done before the v0.3 release? I'm not trying to hurry you, but I think if it's not the tutorials should at least be updated for the next release, and then removed once your pull request is merged.

[2021-01-26 06:03] seisman commented on #182
Not sure if I can find some time before v0.3 release.

Go ahead, please.

[2021-01-26 21:29] weiji14 commented on #685
Alright people, #686 is merged so most new **plotting** modules (i.e. those called using `fig.something`) should go into the [`pygmt/src`](https://github.com/GenericMappingTools/pygmt/tree/23454867d4785112281b397a08d7dac109d28f74/pygmt/src) folder whenever possible to keep `base_plotting.py` short (<3000 lines) This applies to open PRs for `rose` (#794) and `solar` (#804), we can open a separate i

[2021-01-27 12:34] willschlitzer commented on #685
@GenericMappingTools/python-maintainers I think we should move our existing plotting functions to their own modules, not just the new ones, for the sake of consistency. If this is what we want, I'm happy to work on it; I'm still quarantined for another few days. My intention would be to submit a separate PR for each individual module created.

[2021-01-27 14:19] willschlitzer opened #807 "Should data processing functions have their own modules?"
In #685, @weiji14 asked the question of if data processing modules like `makecpt` and `grd2cpt` should be split into their own Python scripts, much like the plotting modules will be. My opinion is they should be split up. The other files aren't nearly as big as `base_plotting.py`, but I think it's best to standardize all functions in this way, and it makes it easier to find the function you're loo

[2021-01-27 16:40] michaelgrund commented on #807
I completely agree with you @willschlitzer. Splitting up all the modules allows to arrange everything in a consistent way. Would also support you in this intention if you need help.

[2021-01-27 17:01] seisman commented on #807
I agree with you.

I think we need to change these lines in `__init__.py`:

https://github.com/GenericMappingTools/pygmt/blob/23454867d4785112281b397a08d7dac109d28f74/pygmt/__init__.py#L14-L24

[2021-01-28 17:25] willschlitzer commented on #807
@seisman So would we completely eliminate the files like `mathops.py` and `gridops.py` and just import directly into `pygmt/__init__.py`? If so, how will that affect Sphinx building the documentation?

[2021-01-28 22:31] seisman commented on #685
Looking at the changes in #808. It seems boring to modify two files. Perhaps we should revert to @weiji14's initial design (i.e., keep `pygmt/src/__init__.py` empty and use `from pygmt.src.meca import meca` in `pygmt/base_plotting.py`)?

[2021-01-28 23:52] willschlitzer commented on #685
I think think it would be best to have a single import statement, like `from pygmt.src import grdimage, plot, solar` and the like.

[2021-01-29 00:27] seisman commented on #685
It's OK to me.

[2021-01-29 02:36] seisman opened #815 "Improve the description of axis labels in the "frames" tutorial"
**Description of the problem**

In the [frames](https://www.pygmt.org/dev/tutorials/frames.html#axis-labels) tutorial, the description of "axis labels" is:

The description about **primary** axis/ticks/annotations is incorrect and should be fixed.

Please refer to the official description https://docs.generic-mapping-tools.org/latest/cookbook/options.html#map-frame-and-axes-annotations-the-b-optio

[2021-01-29 06:52] seisman opened #819 "Choose the best thumbnail image for tutorials"
**Description of the problem**

A tutorial script sometimes generates multiple images. The sphinx-gallery extension always chooses the first image as the thumbnail image. However, the first image may not be the best one.

Just take the [`colorbar`](https://www.pygmt.org/dev/api/generated/pygmt.Figure.colorbar.html) documentation as an example.

![image](https://user-images.githubusercontent.com/39

[2021-01-29 17:31] #815 closed

[2021-01-29 17:39] michaelgrund commented on #549
As the gallery example was merged into master in #779 could you adjust the issue title @weiji14 to only address the missing tutorial?

[2021-01-29 20:28] seisman commented on #807
Yes to me.

I'm not sure. We need to give it a try.

[2021-01-30 05:15] #792 closed

[2021-01-30 05:52] jbehura opened #821 "Loading @earth_relief at resolutions <= 05m"
**Description of the problem**

When running grdimage with resolutions <= 05m, the program crashes. The same code works fine for coarser resolutions.

**Full code that generated the error**

[code]

**Full error message**

[code]

**System information**

Please paste the output of `python -c "import pygmt; pygmt.show_versions()"`:

[code]

[2021-01-30 05:57] seisman commented on #821
Sometimes GMT may fail to download the earth relief data from the GMT data server, due to unstable internet connections. Could you please try your script again and see if it works?

If it still doesn't work, please add `verbose='d'` to your `grdimage` command, and post the debug messages.

[2021-01-30 06:47] jbehura commented on #821
Thanks for the quick response. I went back to see if GMT was installed properly. There I noticed that GDAL was found. After I installed GDAL dev libraries, everything worked beautifully.

[2021-01-30 06:47] #821 closed

[2021-01-31 02:15] seisman opened #825 "Improve some tutorials to speed up the Continuous Documentation"
This is a summary of running time of the PyGMT tutorials and examples:

[code]

For example, `examples/tutorials/regions.py` takes more than 10 seconds. I guess it's slow because the two global examples plot borders of all countries. However, these borders are not necessary here, as we are showing how to set regions in the tutorial.

I don't check other tutorials, but I believe some tutorials, esp

[2021-01-31 04:06] #819 closed

[2021-01-31 06:42] seisman opened #828 "The workflow of "GMT Latest Tests" are triggered multiple times"
**Description of the problem**

In my recent PR (#827), the workflow of "GMT Latest Tests" are triggered twice (https://github.com/GenericMappingTools/pygmt/actions/runs/524773762, and https://github.com/GenericMappingTools/pygmt/actions/runs/524773759), possibly because I asked two teams for review.

Can we improve the workflow triggering condition?
https://github.com/GenericMappingTools/pygmt/bl

[2021-01-31 08:27] weiji14 commented on #828
Or you could just ask one team at a time to review...

[2021-01-31 20:46] seisman commented on #828
The problem is that [python-maintainers](https://github.com/orgs/GenericMappingTools/teams/python-maintainers) team only has two people (@willschlitzer and I), and @willschlitzer is not in the [python](https://github.com/orgs/GenericMappingTools/teams/python) team.

Ideally, the python-maintainers team should have all the people in the python team.

[2021-01-31 20:54] weiji14 commented on #828
I'm happy to be added to the `python-maintainers` team, or we could add @willschlitzer to the `python` team 😆

[2021-01-31 20:55] weiji14 commented on #801
I'll get on Windows and work on this today (and also #717). The CI failures are getting too annoying.

[2021-01-31 20:57] seisman commented on #828
Better to redesign the teams to be [nested](https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-teams#nested-teams).

[2021-01-31 21:48] weiji14 commented on #828
Agree, but let's do it for the whole https://github.com/orgs/GenericMappingTools/teams organization. I'll open up a discussion at https://github.com/GenericMappingTools/gmt/discussions

[2021-01-31 22:35] seisman commented on #828
Yes. Please open a discussion.

[2021-01-31 23:08] weiji14 opened #829 "Error with psconvert finding gswin64"
**Description of the problem**

Trying to save or show a figure results in an error with ghostscript (gs) not found with a fresh conda install on Windows 10. This is with following the installation instructions at https://github.com/GenericMappingTools/pygmt/blob/v0.2.1/CONTRIBUTING.md#setting-up-your-environment. Note sure if there's something wrong with the conda `gmt` package at https://github.

[2021-01-31 23:17] weiji14 commented on #828
Ok, done at https://github.com/GenericMappingTools/gmt/discussions/4732. Let's leave this issue open for a while.

[2021-01-31 23:36] seisman commented on #829
Are you using a 32 bit Windows?

Can you check if c:/Users/username/.conda/envs/pygmt/Library/bin/gswin64c.exe or c:/Users/username/.conda/envs/pygmt/Library/bin/gswin32c.exe exist?

[2021-01-31 23:57] weiji14 commented on #829
I'm on 64-bit Windows, and yes, both files exist and I can open them fine, so not sure why GMT isn't finding them

[code]

[2021-02-01 00:52] weiji14 commented on #801
The "windows-latest - GMT master" workflow is failing at the `pygmt` install step now, see https://github.com/GenericMappingTools/pygmt/runs/1803109048?check_suite_focus=true#step:10:796.

[code]

[2021-02-02 00:31] #828 closed

[2021-02-03 22:39] seisman commented on #829
@weiji14 Perhaps you can try to install the GMT dev version instead?

[2021-02-03 22:44] seisman commented on #829
`gmt` is not linked to `ghostscript`. It simply tries to search for `ghostscript` in Windows' registry or **PATH**.

One of the workarounds may be installing Ghostscript using the official installer, which updates the Windows registry.

[2021-02-03 22:55] weiji14 commented on #829
Haven't got admin permissions on my university Windows system so changing the registry is not possible. But I'll try and install the dev version (i.e. `conda install -c conda-forge/label/dev gmt`) and see if it works.

[2021-02-04 18:17] michaelgrund commented on #670
Are you still working on that issue @willschlitzer? If not and if it's ok for you I would like to continue with that  :wink:

[2021-02-04 18:19] willschlitzer commented on #670
@michaelgrund Haven't made any progress lately; by all means have a stab at it!

[2021-02-04 21:04] seisman opened #833 "Add the sphinx-copybutton extension for easier copying codes"
**Description of the desired feature**

The examples in the docstring have Python prompt likes `>>>` and `...`, which makes it difficult to copy. For example, https://www.pygmt.org/dev/api/generated/pygmt.datasets.load_earth_relief.html#pygmt.datasets.load_earth_relief.

Directly copy the codes gives me the following codes:
[code]
which is not ready for use.

The [`sphinx-copybutton`](https://sphi

[2021-02-04 22:32] weiji14 commented on #807
Do we want to get this in for PyGMT v0.3.0 or the next release (v0.3.1 or v0.4.0)?

[2021-02-04 22:38] seisman commented on #807
I'm OK to both. I think I can finish PR #832 soon.

[2021-02-04 23:29] weiji14 commented on #807
Ok, but we should merge #808 before #832. One step at a time ;)

[2021-02-04 23:39] seisman commented on #807
These two PRs won't cause conflicts.

[2021-02-05 00:22] weiji14 commented on #807
There might be a minor conflict in the `pygmt/src/__init__.py` file, but yeah, shouldn't be too hard to resolve hopefully.

[2021-02-05 11:44] #663 closed

[2021-02-05 18:56] seisman opened #837 "Do not run workflows if only non-source-code files are changed"
**Description of the desired feature**

Sometimes, we make changes to plain text files (.md, .rst), without changing any source codes. We know that the changes won't break our tests, but the workflow still runs 9 jobs (Ubuntu/macOS/Windows + Python 3.7/3.8/3.9). It's a waste of CI resources. For example, #726, #802, and #836.

GitHub Actions actually can skip workflows based on the files that are

[2021-02-05 20:52] #833 closed

[2021-02-05 20:54] liamtoney commented on #837
I think this makes a lot of sense.

[2021-02-06 01:00] seisman opened #840 "Improve some tests to speed up the CI"
**Description of the desired feature**

Here are the top slowest tests. Some may be improved to reduce the CI time.
[code]

**Are you willing to help implement and maintain this feature?** Yes/No

[2021-02-06 01:39] #837 closed

[2021-02-06 02:30] seisman commented on #825
`examples/tutorials/3d-perspective-image.py` is slow, because this example uses `earth_relief_05m_p`, but only `earth_relief_05m_g` is cached.

[2021-02-06 03:26] seisman commented on #801
If we can't fix it before v0.3.0. I think the workaround would be codes like
[code]

[2021-02-06 07:17] willschlitzer opened #845 "Release PyGMT v0.3.0"
**Release**: [v0.3.0](https://github.com/GenericMappingTools/pygmt/milestone/3)
**Scheduled Date**: 2021/02/15
**Pull request due date**: 2021/02/13

**Priority PRs/issues to complete prior to release**
- [x] Wrap subplot (#822)
- [x] Wrap grd2cpt (#803)
- [x] Wrap grdinfo aliases (#799)
- [x] Move plotting functions to separate modules (#808)
- [x] Add affiliation and ORCID to AUTHORS.md (#857)
-

[2021-02-06 09:20] weiji14 commented on #845
Cool, cheers for taking this up @willschlitzer! This v0.3.0 seems much bigger one than the previous v0.2.1 (#665), and looking through the draft changelog at https://github.com/GenericMappingTools/pygmt/releases (viewable only to PyGMT team members), I think we might need to reduce the number of items by adding [`skip-changelog` labels](https://github.com/GenericMappingTools/pygmt/labels/skip-chan

[2021-02-06 16:59] seisman opened #846 "Deprecation warning of np.str and np.object"
Running the tests gives the following warnings:
[code]

[code]

We may need to replace `np.str` with `str`, `np.object` with `object`.

[2021-02-06 21:46] #846 closed

[2021-02-07 09:09] weiji14 commented on #685
Closed by #808, thanks @willschlitzer! Note that `base_plotting.py` was deleted, and all modules (e.g. `grdimage`, `colorbar`, etc) are imported directly in `figure.py` now.

[2021-02-07 09:09] #685 closed

[2021-02-07 20:42] seisman opened #851 "Sort plotting functions alphabetically"
**Description of the problem**

See https://www.pygmt.org/dev/api/index.html#plotting and screenshot below:

![image](https://user-images.githubusercontent.com/3974108/107158927-fdbe1c80-695a-11eb-8fb7-98eaaffc580a.png)

Currently, the plotting functions are randomly sorted, making it a little difficult to find the functions. It would be better to sort the plotting functions alphabetically.

To re

[2021-02-07 23:02] seisman commented on #807
Todo list after PR #832:

- [ ] `config`: wrapper of GMT's `set` command. `pygmt/config.py`? `pygmt/src/config.py`? `pygmt/src/set.py`?
- [ ] `GMTDataArrayAccessor`: `pygmt/datatypes.py`?
- [ ] `x2sys_init` and `x2sys_cross`: do we want to put these functions into two files or one file `pygmt/src/x2sys.py`?

[2021-02-08 20:07] #851 closed

[2021-02-08 22:29] seisman opened #856 "Fail to install the dev version following the install instructions"
**Description of the problem**

The [install instructions](https://www.pygmt.org/dev/install.html) say users can install the development version using:
[code]

However, the command doesn't work and gives me the following error:

[code]

Possibly related to https://github.com/GenericMappingTools/pygmt/pull/695.

[2021-02-09 01:31] weiji14 commented on #856
We might need to have setuptools_scm as an install only dependency. I remember reading about it somewhere but need to check.

[2021-02-09 02:15] seisman commented on #856
Does the error message mean that
[code]
doesn't work because it doesn't contain git information, thus setuptools_scm can't determine the version?

[2021-02-09 07:52] willschlitzer commented on #845
@GenericMappingTools/python  For updating the citation info, what do I put in place for "uieda_leonardo_2020_4025418"? I'm assuming this is some sort of DOI-like reference that @leouieda set up; will it be different for the new package? Also, what is the proper order to put the authors in? I know that AUTHORS.md uses alphabetical order, but this doesn't seem to do that.

[2021-02-09 10:05] weiji14 commented on #845
I've reserved a new doi at doi.org/10.5281/zenodo.4522136, so it should be `uieda_leonardo_2021_4522136` for v0.3.0.

It's roughly by order of commits/lines of code/outreach contributions. Leo's definitely first since he started it, and Paul the guru is last, but the rest we can discuss in #726.

[2021-02-09 16:11] willschlitzer commented on #845
Just so I understand it, when I upload the PyGMT zip (that's just downloading the entire repository, correct?) to Zenodo, I'll list the DOI as "10.5281/zenodo.4522136", correct?

I'll discuss the author order over at #726. Regarding the ORCID, it seems like I can copy everyone from the previous release, and just add myself and @michaelgrund. Is there anything else I'm forgetting?

Is this delay mo

[2021-02-09 17:57] weiji14 commented on #845
Long story, but I'm actually the only one who can do the upload to Zenodo (see #601). You can still list the DOI in the changelog though.

Ok, 15 Feb (UTC) is fine (it'll be 16 Feb for me in NZ :P). Just didn't want to overwork Dongdong over CNY ;)

[2021-02-09 19:15] willschlitzer commented on #845
Sounds good! I'll send you the ORCIDs for @michaelgrund and me. Do you need anything else from me for this?

Sounds good!

[2021-02-09 19:43] seisman commented on #801
@weiji14 I think the big issue in GMT dev was just fixed in https://github.com/GenericMappingTools/gmt/pull/4777.

Could you please bump conda-forge's GMT dev version (https://github.com/conda-forge/gmt-feedstock/tree/devel) again, so that we can have full tests running to make sure all tests pass?

[2021-02-09 22:36] seisman commented on #845
15 Feb sounds a good time to me.

[2021-02-10 02:51] weiji14 commented on #801
Ok. Hard to do it on mobile at the conference but I'll do it as soon as I possibly can, maybe in a day or two.

[2021-02-10 03:06] seisman commented on #801
As it's hard for you, I'll manually submit a PR later.

[2021-02-10 05:17] seisman commented on #801
Done in https://github.com/conda-forge/gmt-feedstock/pull/134, and recent tests with GMT dev pass (https://github.com/GenericMappingTools/pygmt/actions/runs/553525167).

[2021-02-10 11:32] willschlitzer commented on #856
I'm not sure how to go about fixing this, but I assume we want this fixed before v0.3 release. Do we consider this a big enough issue to delay the release if it's not fixed in time?

[2021-02-10 15:05] #691 closed

[2021-02-10 15:17] seisman commented on #856
Yes to me.

As I understand it, the easiest fix is changing it to
[code]
or we can encourage users to clone the repository:
[code]

[2021-02-10 20:47] weiji14 commented on #801
Ok, I'll close this issue since it seems to have been fixed in https://github.com/GenericMappingTools/gmt/pull/4777

[2021-02-10 20:47] #801 closed

[2021-02-11 04:31] weiji14 commented on #856
Yeah, this one-liner seems to be the easiest, though it does require `git` to be installed I think?

[2021-02-11 04:35] seisman commented on #856
Yes, it clones the whole git repository, so much slower.

Another workaround is setting the parameter `fallback_version` to something like `0.0.0+untagged` (https://github.com/pypa/setuptools_scm/#configuration-parameters).

[2021-02-11 05:07] seisman opened #859 "Passing xarray.DataArray to grdfilter gives incorrect results"
**Description of the problem**

Here is the result from GMT CLI. From the output, we can know the min and max of the filtered grid, -6147.49072266 and 5164.06005859.
[code]

This is how we do the same thing in Python:
[code]
The output is:
[code]
Obviously, passing xarray.DataArray to grdfilter gives incorrect results.

It's still unclear to me if this is a PyGMT bug or an upstream GMT bug.

Note:

[2021-02-11 11:07] weiji14 commented on #856
Right. I just read the thread at https://github.com/pypa/pip/issues/2432 (don't), and it seems that `pip` doesn't support shallow clones for philosophical reasons.

This looks good. I suppose we could reset the fallback version every release (e.g. users will get 0.3.0+untagged, 0.4.0+untagged)?

Alternatively (or in addition), we could just make use of the TestPyPI uploads and let people do `pip i

[2021-02-11 11:30] #182 closed

[2021-02-11 16:01] seisman commented on #856
Sounds good to me.

It sounds a good addition to me.

I'm wondering if we want to use the `tabbed` directive in the [sphinx-panels](https://sphinx-panels.readthedocs.io/en/latest/) extension, to show different ways to install pygmt.

![image](https://user-images.githubusercontent.com/3974108/107662634-7d4c3400-6c58-11eb-8249-56db648416e0.png)

[2021-02-11 16:52] seisman commented on #845
Are there any rules for the bibtex name? Is it better to use `pygmt_2021_4522136`?

[2021-02-11 17:01] seisman opened #860 "Add more PyGMT-related grants"
**Description of the desired feature**

In the [`README.rst`](https://github.com/GenericMappingTools/pygmt/blob/master/README.rst) file, we mention:

Compared to the [GMT support page](https://www.generic-mapping-tools.org/about/#support):

- NSF grant OCE-1558403 is not mentioned in the GMT support page
- Some recent grants in the GMT support page are not listed in the PyGMT project.

Questions f

[2021-02-11 17:56] meghanrjones commented on #392
I just tested this with the development version of gmt (6.2.0_d8a7766_2021.02.11).

This now produces a rectangle:
[code]
And the rounded rectangle style produced an error because the corner radius is required. This works for a rounded rectangle:
[code]
Does the issue stay open until GMT 6.2 is released or does it get closed as soon as the problem is fixed in the main gmt branch?

[2021-02-11 17:58] seisman commented on #392
We will keep the issue open until we bump the minimum required GMT version to 6.2.0 in PyGMT v0.4.0.

[2021-02-11 18:04] meghanrjones commented on #392
Would it be possible to use a tag for these types of issues (i.e., upstream problems that are solved but require an update to the minimum required GMT version)? In reading through PyGMT issues, it appears there are at least a couple issues of these currently open. I think a tag would help for keeping track and quickly identifying which issues do not require any action.

[2021-02-11 18:40] PaulWessel commented on #860
OCE-1558403 should be added for sure. 15 means 2015 so it should be placed in the right order.  We should also add workshop proposal OCE-1841660 which funded the summits.  Looking at NSF I also see EAR-1347184.  Finally OCE-1648602 which is what got the money to hire Leo, so that needs to be on PyGMT page.

[2021-02-11 18:46] seisman commented on #860
If I understand you correctly, we should

1. Add OCE-1558403, OCE-1841660, EAR-1347184, OCE-1648602 (in the correct order) to the GMT support page
2. Add OCE-1648602 to the PyGMT page

correct?

[2021-02-11 18:48] PaulWessel commented on #860
Yep, taht should do it.  The NSF page is confusing since they often give separate numbers to small supplements - I kept those off.  The 16* is a funny insider competition grant without any review and involves cost-matches across many units, so not just OCE I think.  WHo knows.

[2021-02-11 18:59] seisman commented on #860
I can't find the NFS link for OCE-1648602.

[2021-02-11 19:00] PaulWessel commented on #860
Try EAR, and if not then it is just some internal number considered a supplement to the 15, and then we can leave it off.

[2021-02-11 19:02] seisman commented on #860
Also can't find EAR-1648602. Will leave it off.

[2021-02-11 22:13] weiji14 commented on #392
Yeah there are quite a few of these. I think labeling it 'upstream' and adding it to the v0.4.0 milestone should suffice, but feel free to suggest a new label.

[2021-02-11 22:19] weiji14 commented on #845
The `uieda_leonardo_*` name is just copied from https://zenodo.org/record/4253459/export/hx, but it's also completely arbitrary and people might change it in their reference manager anyway I guess. Using `pygmt_2021_4522136` sounds good.

[2021-02-11 23:02] weiji14 commented on #856
Ok, I'll start a PR for this.

A bit hesitant with adding another extension. Maybe if it's used in more than one or two places, then we can start thinking about using `sphinx-panels`.

[2021-02-11 23:47] seisman commented on #856
I agree.

[2021-02-12 06:52] seisman commented on #856
Although #685 can fix the issue, I'm afraid users may still use
[code]
to install PyGMT, because it was a common way to install dev codes.

Perhaps we should still set the parameter `fallback_version`? To avoid updating the parameter in each release, maybe setting `fallback_version` to `unknown`, `0+unknown` (default version returned by versioneer: https://github.com/python-versioneer/python-versi

[2021-02-12 07:06] weiji14 commented on #631
Anything else remaining after #862?

[2021-02-12 07:09] weiji14 commented on #856
I'll can add the fallback version to PR #685 if that helps.

[2021-02-12 07:09] seisman commented on #631
Some module-specific arguments still need updates, for example, [`basemap`'s `map_scale` argument](https://www.pygmt.org/dev/api/generated/pygmt.Figure.basemap.html#pygmt.Figure.basemap).

[2021-02-12 07:12] seisman commented on #856
Good. I prefer `0+unknown`, although it makes little difference for most users.

[2021-02-12 07:28] seisman opened #867 "Improve how PyGMT loads the GMT library"
A few thoughts on the design of loading the library as a whole (might be out of scope for this PR but worth mentioning):

* I initially made the `Session` class load the library when it's used to avoid doing this work at import time. Mostly so we wouldn't have `GMTLibNotFoundError` at import.
* That clearly didn't work because we need to call `begin` at import for this whole thing to work.
* So it

[2021-02-12 07:47] michaelgrund commented on #845
As @weiji14 mentioned the bibtex name is completely arbitrary, in principle it's possible to select what ever you want but I agree that `pygmt_2021_4522136`  (and for future releases `pygmt_202X_*`) would be a good choice.

[2021-02-12 07:52] willschlitzer commented on #356
@sixy6e @MarkWieczorek @weiji14 @leouieda It looks like this issue has been sitting for a little over a year. Has there been any progress on it? I think it's a great idea to get away from having a (somewhat confusing) GMT string to set the projection.

[2021-02-12 09:05] MarkWieczorek commented on #356
I definitely would like to use this feature when it is implemented! Unfortunately, I really doubt that I will have time to contribute any coding over the next couple of months.

[2021-02-12 09:18] #856 closed

[2021-02-12 09:24] #628 closed

[2021-02-12 09:41] sixy6e commented on #356
I'll try to squish some time in and push through the last bits of the this over the next few weeks.  Spare time completely disappeared for me the past year.

[2021-02-12 10:14] willschlitzer commented on #584
@weiji14 I'm trying to make a draft test suite, but I'm getting my branch remote rejected because of the OAuth app. It looks like I should be able to generate a personal access token in Developer Settings, but PyGMT isn't listed as an application when I go there to get a token. Any idea how I should go about fixing this?

[2021-02-12 10:24] weiji14 commented on #584
Try setting your remote using ssh (`git@github.com:GenericMappingTools/pygmt.git`) instead of https (`https://github.com/GenericMappingTools/pygmt.git`) and see if it works.

[2021-02-12 10:29] willschlitzer commented on #584
I was able to change the remote but received:
[code]

[2021-02-12 10:32] weiji14 commented on #584
You also need to add your ssh key to your GitHub account https://docs.github.com/en/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account.

[2021-02-12 10:39] willschlitzer commented on #584
It works! Thanks @weiji14!

[2021-02-12 14:02] seisman opened #870 "Low-resolution Earth relief grids should support the "region" argument"
**Description of the desired feature**

In `load_earth_relief`, the `region` argument only works for high-solution earth relief grids (>=05m). For low-resolution girds, it raises an error:
[code]

Error:
[code]

I don't remember why it was not implemented, possibly due to some technical difficulties (related to #542, #524).

**Are you willing to help implement and maintain this feature?** Yes, but

[2021-02-12 18:30] meghanrjones commented on #631
Let me know if you'd like me to help with updating these.

[2021-02-12 18:36] willschlitzer commented on #631
@meghanrjones Please do! I'm planning on going through the documentation tomorrow; no complaints if you submit a PR for changes!

[2021-02-12 18:37] meghanrjones commented on #631
Sounds good. I'll try to get it done before then.

[2021-02-12 18:39] seisman commented on #631
Great! Please try your best to follow the standards as documented here (https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#example-code-standards).

There may be some cases that are not covered by the standards. We can discuss more later.

[2021-02-12 19:19] seisman opened #874 "test_load_libgmt_with_a_bad_library_path fails with GMT dev versions on Linux and macOS"
**Description of the problem**

In recent runs (https://github.com/GenericMappingTools/pygmt/actions/runs/560287188), `test_load_libgmt_with_a_bad_library_path` fails with GMT dev on Linux and macOS, but pass on Windows, possibly because we merged #702. However, it passed when @weiji14 triggered the dev tests before merging (https://github.com/GenericMappingTools/pygmt/actions/runs/560286224).

It

[2021-02-12 19:34] seisman commented on #874
Here is what happens. For GMT dev builds,

**Windows:** We use the conda-forge's GMT dev pacakges because we can't (don't) build GMT source codes on Windows. Obviously, conda adds the bin path to PATH so that we can call `gmt --show-library` to find the library, and the test passes.

**Linux/macOS**: We build GMT source codes and install it to `${{ github.workspace }}/gmt-install-dir`, and we set

[2021-02-12 19:48] seisman commented on #874
Maybe no, because the new tests in #872 need GMT's bin in PATH.

This is the preferred way.

Thoughts?

[2021-02-12 20:21] seisman opened #876 "Better categories for gallery examples"
The [Gallery](https://www.pygmt.org/dev/gallery/index.html) is generated from Python scripts in the [`examples/gallery`](https://github.com/GenericMappingTools/pygmt/tree/master/examples/gallery) directory.

Currently, we have 19 gallery examples in 4 directories (categories).

- Lines: 2 examples
- Coastlines and boundaries: 3 examples
- Plotting map items: 12 examples
- Grids: 2 examples

IMHO,

[2021-02-12 22:00] weiji14 commented on #874
I don't get it, so how did `pygmt/clib/loading.py` find the GMT bin before #702 even without us setting it? This seems like a regression bug to me.

[2021-02-12 22:25] seisman commented on #874
The test is new in #702, no?

[2021-02-12 22:36] weiji14 commented on #524
I'll need to do more investigation, but there's some discussion in `xarray` about moving towards keeping attrs (attributes) by default for slice operations. See https://github.com/pydata/xarray/issues/1614 and https://github.com/pydata/xarray/issues/3891. Right now, it might be possible for users to use `xr.set_options(keep_attrs=True)`(not tested, might not work, see http://xarray.pydata.org/en/v

[2021-02-12 22:54] weiji14 commented on #874
Well, that test (`test_load_libgmt_fails`) was actually modified from a previous test. Before, the library loading would just fail when a fake "GMT_LIBRARY_PATH" is set because we didn't have extra options. After, the library loading should pass because we check for other paths (using `gmt --show-library` and standard system paths). I think you're right that we still need to set GMT's bin in the s

[2021-02-12 22:58] #874 closed

[2021-02-12 23:45] #870 closed

[2021-02-13 00:40] meghanrjones opened #879 "Error in contour documentation (-A argument)"
**Description of the problem**

This description of the **A** option for ```pygmt.Figure.contour``` in the [PyGMT docs](https://www.pygmt.org/dev/api/generated/pygmt.Figure.contour.html#pygmt.Figure.contour) is incorrect.

PyGMT description:

GMT description:

Since **A** argument is the same for contour and grdcontour, I propose to add the same alias as in grdcontour for **A** (annotation).

[2021-02-13 00:44] meghanrjones commented on #879
If the alias addition is alright, I can fix this issue.

It also might be a good time to clean "[TODO: Insert more documentation]" in the contour docs before v0.3.0. While the argument descriptions can be cleaned up a bit, I actually don't think that anything more is really needed in the preamble since there's a link to the GMT docs and the amount of information provided is on par with most of the

[2021-02-13 00:57] weiji14 commented on #879
Hi @meghanrjones, annotation for -A sounds good. Go for it!

[2021-02-13 01:07] meghanrjones commented on #879
Great. One thing that I do not understand from the contributing guidelines - how do you decide which argument flags go into the PyGMT docstrings? For example, the pygmt docs for [grdcontour](https://www.pygmt.org/dev/api/generated/pygmt.Figure.grdcontour.html) for 'annotation' has a subset of the many flags for gmt's [grdcontour **-A**](https://docs.generic-mapping-tools.org/dev/grdcontour.html#op

[2021-02-13 01:12] weiji14 commented on #879
The goal is to wrap all of them if possible. But historically, we were lazy and only aliased a subset, usually the required arguments, or those that were subjectively deemed as important. It's better to start with something than nothing I guess, as we can always iterate and add more later.

[2021-02-13 02:11] meghanrjones commented on #879
So, if I understand correctly, the subset of the flags that are included in the documentation are the ones that have been tested? Perhaps a better example of my confusion is [basemap](https://www.pygmt.org/dev/api/generated/pygmt.Figure.basemap.html#pygmt.Figure.basemap). **map_scale** and **rose** take really similar option flags and **map_scale** lists a subset of the flags from basemap **-L** w

[2021-02-13 03:51] weiji14 commented on #879
Yes and no, it depends on many factors. On what should or should not be tested, see #796 and https://github.com/GenericMappingTools/pygmt/blame/a828f739057f6fd003d131063eab5e04df265540/CONTRIBUTING.md#L321-L325. Let's just say our standards have changed since PyGMT started in 2017, and there are some parts of our documentation from that early era (2018-2019) that have not been updated to the new s

[2021-02-13 04:00] meghanrjones commented on #879
Thanks for the explanation and the links to the PRs! Those will be helpful to review.

[2021-02-13 19:54] meghanrjones opened #884 "Document conventions for ordering aliases and arguments in contributing.md"
**Description of the desired feature**

Most of the PyGMT modules order aliases and arguments alphabetically by the GMT short option. I think it would be helpful to add this convention (if it is decided) to the contributing guidelines under [example code standards](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#example-code-standards).

**Are you willing to help implement

[2021-02-13 19:57] meghanrjones commented on #884
I did not find a conversation that settled on this convention in a quick search of past issues (apologies if I missed this). While alphabetically by short option is easily readable for the aliases section of the docs, I actually think that it makes it hard to find things in the ```parameters``` section. I would find it easier to read the docs if ```parameters``` was alphabetically by alias/long-op

[2021-02-13 20:51] weiji14 commented on #884
Yes, things are a bit inconsistent, and I don't think we've spelt this out in any previous issue, so thanks for raising this to our attention!

Agree on this, I think the code line at https://github.com/GenericMappingTools/pygmt/blob/805f533751cf3b0928c2523758984b3ba31c2161/pygmt/helpers/decorators.py#L206 sorts things under the "Aliases:" section.

We can discuss a bit more about sorting alphabet

[2021-02-13 23:08] seisman opened #885 "Update the release drafter workflow and configurations"
This project uses the [Release Drafter workflow](https://github.com/GenericMappingTools/pygmt/blob/master/.github/workflows/release-drafter.yml) to draft the [next release notes](https://github.com/GenericMappingTools/pygmt/releases) (only visible to maintainers) from PRs.

- [x] We're using the [`release-drafter/release-drafter@v5.8.0`](https://github.com/GenericMappingTools/pygmt/blob/805f533751

[2021-02-14 05:26] seisman opened #886 "Parameters vs Arguments?"
For function parameters like `frame`, `region`, we're inconsistently calling them "parameters", "arguments",  or "options".

I thought the correct way is calling `frame` an "argument", but after reading this FAQ (https://docs.python.org/3.9/faq/programming.html#faq-argument-vs-parameter), I think we should call `frame` a "parameter".

Thoughts? @GenericMappingTools/python @GenericMappingTools/pyth

[2021-02-14 05:32] seisman commented on #885
As we are very close to making the v0.3.0 release, I think it may be better to work on this issue **AFTER** v0.3.0 release.

@willschlitzer will work on the final changelog/release notes of v0.3.0. After he finishes it and releases v0.3.0, we will have 4 contributors (@leouieda, @weiji14, @willschlitzer and @seisman) who have some experience with making PyGMT releases. Then we can better discuss i

[2021-02-14 09:07] weiji14 commented on #886
A quick CTRL+F yielded >100 instances of 'argument' in the PyGMT project currently. Some are correctly called 'argument', but not all of them. It will be a big task to replace all of them, so maybe just be careful going forward and replace things on an ad-hoc basis (e.g. when refactoring stuff). I think most people won't get too hung up on whether we call it 'parameter' or 'argument', they know th

[2021-02-14 09:25] weiji14 commented on #885
I've triggered dependabot manually at https://github.com/GenericMappingTools/pygmt/network/updates. Will merge the release drafter update PR at #889 after ensuring that @willschlitzer has a backup of the changelog as mentioned in https://github.com/GenericMappingTools/pygmt/pull/887#issuecomment-778747303.

[2021-02-14 13:47] seisman commented on #886
Yes, I agree. It would be better to document it in the contributing guides.

[2021-02-14 14:56] #879 closed

[2021-02-14 15:48] meghanrjones commented on #886
In #881, I found that the another common inconsistency involved referencing to the arguments of parameters as options. Based on this discussion, it seems that these should be only referred to as 'arguments' if 'option' is a synonym for 'parameter'.

[2021-02-14 16:15] seisman opened #891 "plot and plot3d: Allow passing a numpy array as intensity"
As I understand it, there are at least three or four different ways to specify an intensity/intensities.

- Simply give a constant intensity like `intensity=0.5`
- Pass a numpy array to `intensity` (similar to the `x`, `y`, `size` parameters): I think it's not implemented yet
- Set `intensity=True`, and read data from an input file or from a 2D numpy array (via the `data` parameter).

The format o

[2021-02-14 16:41] seisman opened #892 "Add a tutorial for plotting vectors"
**Description of the desired feature**

@michaelgrund is working on one/two gallery examples about plotting different vectors in PR #890. The gallery examples will cover two topics:

1. How to plot vectors with different arrow heads and tails (#890)
2. How to plot Cartesian, circular and geographic vectors/arrows (#950)

There are many different ways for plotting vectors in GMT and PyGMT. For exam

[2021-02-14 19:09] #825 closed

[2021-02-14 19:16] weiji14 opened #895 "How to automate copying of GMT documentation to PyGMT"
The time we spend on writing and reviewing documentation for PyGMT is getting insane. Specifically, I'm talking about the docstrings in modules (not the tutorials/gallery examples). These are some of the formatting fixes we apply:

1. Turn short aliases to long aliases (#474)
2. Check that italics/bold/code-block formatting is applied correctly (#631)
3. Wrap to 79 characters (#384)

And there are

[2021-02-14 20:14] #20 closed

[2021-02-14 20:29] weiji14 commented on #845
Ok, subplot wrapper is finally done (woohoo)! I realize there's a lot of really good documentation improvements in the pipeline, and I'm happy for one or two to sneak in, but let's not waste time with the changelog at #887.

[2021-02-15 00:47] weiji14 commented on #860
I'm reopening this because we only have NSF grant OCE-1558403 listed on the main page at https://github.com/GenericMappingTools/pygmt/tree/57da40a0fde0d08cac1b1789167406894af99918#support. Probably should list down a few more.

[2021-02-15 00:56] seisman commented on #860
Ping @PaulWessel

[2021-02-15 02:44] weiji14 opened #896 "Handling plotting functions that have an inquire (I) only mode"
**Description of the issue**

There are a few GMT modules that have a mode for extracting data (statistics or otherwise) via the inquire (I) flag in addition to plotting:

- [`rose`](https://docs.generic-mapping-tools.org/6.1/rose.html#i) -  #794
- [`solar`](https://docs.generic-mapping-tools.org/6.1/solar.html#i) - #804, also has an `-M` mode where no plotting occurs
- [`histogram`](https://docs.

[2021-02-15 03:07] PaulWessel commented on #860
Certainly add EAR-1948603. Leo was paid off the supplement to OCE-15 so I think these two are the only ones explicitly supporting work on Python (i.e., Meghan on 19).

[2021-02-15 03:11] seisman opened #897 "Short affiliation names in AUTHORS.md"
Initial discussed in https://github.com/GenericMappingTools/pygmt/pull/857#pullrequestreview-588235476:

The full affiliation names sometimes are longer than one line in GitHub web UI, and more than 200 characters in the plaintext markdown file (see the screenshot below).

![image](https://user-images.githubusercontent.com/3974108/107901220-1dcc7d80-6f11-11eb-98bf-8577b24c483f.png)

And the full a

[2021-02-15 03:14] weiji14 commented on #860
Somehow we have EAR-1948603 on the Zenodo page at https://doi.org/10.5281/zenodo.4253459 already, but not on the main README page. I'll make a quick PR for it, thanks for the confirmation Paul.

[2021-02-15 04:04] #860 closed

[2021-02-15 08:27] liamtoney commented on #895
We should be aware of where it doesn't quite make sense to take the GMT docs w/o appending extra info. For example, currently the [docs for e.g. the `region` arg on master](https://www.pygmt.org/dev/api/generated/pygmt.Figure.grdimage.html#pygmt.Figure.grdimage) show:

<img width="858" alt="Screen Shot 2021-02-14 at 11 24 20 PM" src="https://user-images.githubusercontent.com/38269494/107922048-ec0

[2021-02-15 08:32] liamtoney commented on #897
I'm fine with short affiliations. Looking at the line wraps above, I appear to be the worst offender 😉 .

[2021-02-15 09:08] weiji14 commented on #885
Note to find a better way to put links, or find the correct `sed` command:

[code]

_Originally posted by @weiji14 in https://github.com/GenericMappingTools/pygmt/pull/887#discussion_r576022965_

[2021-02-15 09:46] weiji14 commented on #845
Ok, changelog merged and published at https://www.pygmt.org/dev/changes.html#release-v0-3-0-2021-02-15! @willschlitzer, once you publish the release, I'll work on the Zenodo zipfile upload, and then it'll be the post release announcements.

[2021-02-15 10:12] weiji14 commented on #845
Let's edit the forum announcement together at https://hackmd.io/@pygmt/v0-3-0_announcement. For reference, see previous one at https://forum.generic-mapping-tools.org/t/pygmt-v0-2-1-released.

[2021-02-15 11:09] weiji14 commented on #845
Argh, PyPI release isn't correct, we released https://pypi.org/project/pygmt/0.3.1.dev0/#history instead. Something wrong with the PR #679.

[2021-02-15 13:51] seisman commented on #845
I just made an upload of v0.3.0 (https://pypi.org/project/pygmt/0.3.0/).

Here is the command I'm using:
[code]

No, we can't. The version information is written in the packages, so I need to rebuild them.

[2021-02-15 13:54] seisman commented on #845
I haven't deleted v0.3.1.dev0 yet (https://pypi.org/project/pygmt/0.3.1.dev0/). I will delete it after you confirm that the v0.3.0 release works well.

I tried the following command, and it install PyGMT v0.3.0 correctly. So it looks good to me.
[code]

[2021-02-15 14:30] seisman opened #901 "Issues of the "Publish to PyPI" workflow"
**Description of the problem**

The [`publish-to-pypi.yml`](https://github.com/GenericMappingTools/pygmt/blob/master/.github/workflows/publish-to-pypi.yml) workflow uploads the PyGMT packages to PyPI and/or TestPyPI.

During the release v0.3.0, we found an issue with the workflow and had a quick fix in #900.

When I reiviwed the workflow, I found two more issues:

1. We're using secrets `test_pypi

[2021-02-15 16:27] seisman opened #902 "Improve the .gitignore file"
**Description of the desired feature**

The `.gitignore` file tells Git to ignore some files when running commands like `git status` and `git add`. The current [`.gitignore`](https://github.com/GenericMappingTools/pygmt/blob/master/.gitignore) file could be improved in some aspects:

- List the ignore patterns in groups and sort alphabetically in each group (see https://github.com/github/gitignore

[2021-02-15 17:36] michaelgrund commented on #845
I already added some notes, partly influenced by the previous release.

[2021-02-15 18:12] weiji14 commented on #845
Phew, you're a lifesaver @seisman! Was panicking a bit with all the release drama just now!

Yep, I checked the tar.gz file and installed the wheel. Seems pretty much the same as 0.3.1.dev0 but `pygmt.show_versions()` gives v0.3.0 (which is good!). I think we can delete the 0.3.1.dev0 from PyPI now.

[2021-02-15 18:17] seisman commented on #845
Done!

[2021-02-15 18:28] weiji14 commented on #845
Thanks @michaelgrund! I see that @seisman and @liamtoney's added some sentences as well. I'll polish the notes up and post in to the GMT forum later. If someone wants to start a PR to the GMT website (see previous one at https://github.com/GenericMappingTools/website/pull/69) that would be terrific!

[2021-02-15 18:43] michaelgrund commented on #845
Added a PR with the updates for the website @weiji14 :wink:

[2021-02-15 19:43] liamtoney opened #903 "fig.coast() with just dcw kwarg fails"
**Description of the problem**

Using `fig.coast(dcw=...)` fails, asking for additional kwargs. I have to add another kwarg, like `water='white'`, to get things to plot. I believe that `dcw` alone should be enough.

**Full code that generated the error**

[code]

**Expected output**

![out](https://user-images.githubusercontent.com/38269494/107987470-8a2f9700-6f7a-11eb-9550-d81ff96c9508.png)

**Fu

[2021-02-15 19:48] willschlitzer commented on #903
Will GMT coast just accept the E argument with no other land/water colors set? The GMTInvalidError input was likely put in to prevent an error coming back from the GMT API.

[2021-02-15 19:52] seisman commented on #903
`gmt coast -EUS+gred -pdf map` works, so confirm it as a bug.

[2021-02-15 19:54] willschlitzer commented on #903
Sounds good. Looks like we need to just do a quick update to the error raising.

[2021-02-15 19:54] seisman commented on #903
Running `gmt coast` without extra options gives the following error messages:
[code]

It doesn't mention **-E**, so also a tiny upstream bug.

[2021-02-15 21:03] weiji14 commented on #845
Just tried out the try-gmt demo at https://github.com/GenericMappingTools/try-gmt. Not sure why the version is showing up as v0.0.0 (pulled from conda-forge)?

![image](https://user-images.githubusercontent.com/23487320/107992754-38504500-703e-11eb-9193-220fc0a5aa86.png)

[2021-02-15 21:13] seisman commented on #845
I also noticed that. If you download and extract the tarball from conda-forge, you will see that the metadata in the package is v0.0.0.

[2021-02-15 21:19] seisman commented on #845
We are not alone (https://github.com/conda-forge/pint-feedstock/issues/32) 😃

[2021-02-15 21:32] weiji14 commented on #845
Ah ok, setuptools_scm again :sweat_smile:. Do you want to submit a PR based on that? I'm just polishing up the release announcement now.

[2021-02-15 21:35] seisman commented on #845
OK.

[2021-02-15 22:30] seisman opened #904 "Unnecessary files in the source distribution?"
Running `python setup.py sdist` will build a PyGMT source distribution in the `dist` directory (e.g., `dist/pygmt-0.3.0.tar.gz`.

The tarball contains the PyGMT source codes. Below is the list of top-level files and directories:
[code]

I'm not familiar with Python source distributions, but some files seem unnecessary (e.g., `vercel.json`, `package.json`, `.github`).

Reading the [Python package g

[2021-02-15 23:19] weiji14 commented on #845
Alright, conda-forge versioning issue was fixed in https://github.com/conda-forge/pygmt-feedstock/pull/15 (and @willschlitzer, we've added you as a maintainer there).

Forum announcement has also been posted on https://forum.generic-mapping-tools.org/t/pygmt-v0-3-0-released! What's left should just be the ResearchGate announcement (any takers?). Maybe twitter/instagram as well? Did we manage to se

[2021-02-16 04:48] seisman opened #908 "Document how to skip CI in the contributing guides"
https://github.blog/changelog/2021-02-08-github-actions-skip-pull-request-and-push-workflows-with-skip-ci/

Finally, GitHub support skipping workflows to save CI resources! Will try how it looks like in next pushes/PRs. If it works well, we should document it in the contributing guides at [CONTRIBUTING.md](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md), and even in the [

[2021-02-16 04:53] weiji14 commented on #908
Actually, do you want to just document this in MAINTENANCE.md at the current PR #906?

[2021-02-16 04:55] seisman commented on #908
Better to do one simple thing in one PR.

[2021-02-16 05:04] weiji14 commented on #901
Ok, renaming `TEST_PYPI_PASSWORD` -> `TEST_PYPI_API_TOKEN` and `PYPI_PASSWORD` -> `PYPI_API_TOKEN` sounds good, I can do it in PR #900.

You sure we want to hardcode disabling Github Actions workflows for forks? I know we can add a `if: github.repository == 'GenericMappingTools/pygmt'` line to the workflow, but:

1) it will be hard for fork users to re-enable tests, unless they have good knowledge

[2021-02-16 05:10] seisman commented on #901
I meant to add this line to the "Publish to PyPI" workflow, because forks can't do the uploads anyway (they don't have the tokens).

[2021-02-16 05:13] seisman commented on #901
For other workflows (e.g., Tests and GMT Dev Tests), I think they're disabled for forks by default but can be enabled following the documentation you just posted.

[2021-02-16 14:24] seisman commented on #903
Reopen the issue because this is also an upstream bug (if I understand it correctly).

The fix is similar and easy. Just need to update these lines in GMT's `pscoast.c`: https://github.com/GenericMappingTools/gmt/blob/19db042fc2f1bf09136029bd801ea73f0b6dd30d/src/pscoast.c#L606-L609

@willschlitzer Do you want to try it?

[2021-02-16 15:19] seisman opened #912 "PyGMT version is not dynamic in develop mode?"
**Full code that generated the error**

I have the full git repository of the PyGMT project, and then run the following commands:
[code]

As shown above, should the version string to `v0.3.0` when I checked out the `v0.3.0` tag?

[2021-02-16 15:46] meghanrjones opened #913 "Update "setting up your environment" in CONTRIBUTING.md"
**Description of the problem**

In the [setting up your environment](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#setting-up-your-environment) section of CONTRIBUTING.md, the instruction for activating the environment created from the ```environment.yml``` file is:

```source activate ENVIRONMENT_NAME```

Starting with conda 4.4, ```conda activate``` is recommended over

[2021-02-16 15:54] seisman commented on #913
Sounds good.

Reference: https://docs.conda.io/projects/conda/en/latest/user-guide/getting-started.html#managing-python

[2021-02-16 17:26] willschlitzer commented on #903
@seisman Just submitted the PR

[2021-02-16 17:28] #903 closed

[2021-02-16 17:29] meghanrjones opened #914 "Add more targets to doc/makefile help information"
**Description of the problem**

The available targets in [the docs Makefile](https://github.com/GenericMappingTools/pygmt/blob/master/doc/Makefile) are ``help``, ``clean``, ``html``, ``api``, ``linkcheck``, ``doctest``, and ``serve``. The ``help`` target only lists information about the ``all``, ``html``, ``linkcheck``, and ``doctest`` targets. One line each could be added to ``help`` to describe

[2021-02-16 18:07] joa-quim commented on #903
Curious. I went see what I do in Julia and your command jut works (gives the map you show). But probably because under the hood I always add a **-Da** if option **-D** is not used. Though this option has no effect with DCW countries
[code]

[2021-02-16 18:29] seisman commented on #914
We may want to remove the `linkcheck` target, because `make linkcheck` is so slow (> 5 minutes for me), and we will have a workflow for checking links (#634) (in process, but close to be ready).

[2021-02-16 18:38] seisman commented on #897
Ping @leouieda @mjziebarth @michaelgrund @tjnewton @willschlitzer @weiji14

[2021-02-16 19:21] weiji14 commented on #897
Alternatively, if people want to keep their full affiliation, we can use a table, by adding:

[code]

![image](https://user-images.githubusercontent.com/23487320/108111029-051ebc00-70f9-11eb-8867-84219baafe6a.png)

[2021-02-16 19:52] michaelgrund commented on #897
I'm fine with short affiliations, too. However, since mine is currently the shortest I'd leave it to the others to decide.

[2021-02-16 20:13] weiji14 commented on #904
Yeah we should fix this by the next release (v0.3.1). Not that we'll reach it anytime soon, but PyPI has a 10GB total project size limit, and a 100 MB project upload limit (i.e. per release/version).

![image](https://user-images.githubusercontent.com/23487320/108116247-259e4480-7100-11eb-88de-14e61ed96176.png)

[2021-02-16 20:29] seisman commented on #845
Ping @meghanrjones about the social media accounts.

If we still don't have one, then we can close the issue.

[2021-02-16 20:32] meghanrjones commented on #845
I have not yet. I don't think Leo has either. I will be sure to get one set up in time for the next release (sorry, social media is not my expertise).

[2021-02-16 20:49] liamtoney commented on #845
Perhaps we could query the forum for a volunteer? Some folks really like this sort of thing (I don't have time for it)

Matplotlib has a cool Insta: https://www.instagram.com/matplotart/?hl=en. We could also set up a submission system.

[2021-02-16 20:50] #901 closed

[2021-02-16 20:55] weiji14 commented on #845
Cool, I think we can move this discussion to another thread. I'll mark this Release v0.3.0 issue as closed, but feel free anyone to find a way to spread the word (tweet or otherwise)!

[2021-02-16 20:55] #845 closed

[2021-02-16 21:17] weiji14 commented on #914
I never even realized we had a `make linkcheck` :sweat_smile: But yes, agree that this is a good first issue.

And just wanting to raise the issue of making things cross-platform (read: runs on Windows). Leo suggested using [nox](https://nox.thea.codes/en/stable/) at https://github.com/GenericMappingTools/pygmt/pull/679#issuecomment-723147333, but I'm wondering if our Makefile would just work on W

[2021-02-16 23:04] weiji14 commented on #735
Just as a follow because there's a related post on the forum (https://forum.generic-mapping-tools.org/t/pygmt-plot-errorbars), what we could do is to copy and modify these lines

https://github.com/GenericMappingTools/pygmt/blob/65b099a5873b4f9e76d7fccdbc8882d9b37870e3/pygmt/src/plot.py#L207-L213

to use `kwargs["E"]` instead of `kwargs["G"]`, or maybe turn it into a for-loop over ("G", "E"). That

[2021-02-16 23:15] arleaman opened #916 "grdmath SUB operator"
grdmath SUB operator

I would like to use this feature to calculate residuals by finding the difference between two grid files.

**Are you willing to help implement and maintain this feature?** Yes, with guidance

[2021-02-16 23:17] seisman commented on #735
Just a quick note. The order of the data columns is important. For error bars,

Refer to https://docs.generic-mapping-tools.org/dev/plot#e for details.

[2021-02-17 00:10] weiji14 commented on #916
Hi @arleaman, just need a bit more information on what your 'grids' are. Are they NetCDF files, `xarray.DataArray`/`xarray.Dataset` objects, or something else? This will help us to advice you a bit better.

About calculating residuals (using SUB), I would recommend doing it directly in `xarray` (see http://xarray.pydata.org/en/v0.16.2/computation.html#basic-array-math) using the minus '-' operator

[2021-02-17 00:25] seisman commented on #897
It seems more than half (5/9) of the "PyGMT Developers" agree with short affiliation names.

The table looks good, but making the plain markdown file more complicated.

[2021-02-17 00:25] weiji14 commented on #254
The API page at https://www.pygmt.org/v0.3.0/api/index.html isn't very long yet (as of early 2021), so probably fine to close this issue for now. Feel free to reopen in the future.

[2021-02-17 00:25] #254 closed

[2021-02-17 00:31] weiji14 commented on #382
Closing as wontfix, feel free to reopen anyone if there is demand for this feature.

[2021-02-17 00:32] #382 closed

[2021-02-17 00:41] weiji14 commented on #417
Documentation for `plot` has been revised significantly in PyGMT v0.3.0 (see https://www.pygmt.org/v0.3.0/api/generated/pygmt.Figure.plot.html) which uses GMT 6.1.1, and long alias zvalue (Z) was added in #666. It might still be a bit confusing getting to know how color (-G) and [zvalue (-Z)](https://docs.generic-mapping-tools.org/6.1/plot.html#z) works, but I'll close this issue now and we can op

[2021-02-17 00:41] #417 closed

[2021-02-17 00:52] weiji14 commented on #647
Just noting that this has a bit of overlap with #633 [which is about passing in string types (e.g. DMS coordinates) to the `x` and `y` parameter of some functions].

[2021-02-17 02:37] weiji14 commented on #733
My reading of this issue is that it is a problem related to having **one** GMT session open all the time in PyGMT (c.f. #867). Either we:
1. create a `fig.destroy()`/`fig.clear()` (or similar) method
2. have a context manager like `with pygmt.Figure() as fig: fig.* ...` to keep the scope of things local.
3. we enforce/strongly recommend the use of `pygmt.config` in a `with` statement so that thing

[2021-02-17 02:46] weiji14 commented on #770
Just mentioning that we've submitted a tutorial proposal for Scipy 2021 (see https://github.com/GenericMappingTools/scipy2021) :wink:

In terms of this issue, how should we proceed and/or what exactly is it that we intend to do for the PyGMT tutorials at https://www.pygmt.org/v0.3.0/tutorials/? Do we want to add more tutorials, reorganize them, or do something else? Just wanted to make this issue

[2021-02-17 06:05] seisman commented on #885
Updated command (convert `#123` to ReST syntax):
[code]

Example input:
[code]
Output:
[code]

With this updated command, points 2 and 3 seem unnecessary.

[2021-02-17 06:15] tawandamoyo commented on #913
I'd like to work on this

[2021-02-17 06:23] seisman commented on #913
@tawandamoyo Great! You can following our [contributing guidelines](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md). Let us know if you need any help.

[2021-02-17 07:33] willschlitzer commented on #770
@weiji14 I've thought about this from time to time (mostly whenever I click on my issues and see this is still here and think about how I haven't gotten around to it), and it is one of my priorities for v0.4.0. My vision is something along the lines of the first half of the SciPy tutorial. I think the current issue with out tutorials is that they cover the how-tos for different things someone migh

[2021-02-17 12:52] willschlitzer commented on #845
@GenericMappingTools/python-contributors not sure why we closed this; I haven't seen sufficient evidence that the "Party" criteria have been met!

On a serious note; great team work everyone! Glad we got this done!

[2021-02-17 15:47] #913 closed

[2021-02-17 16:29] meghanrjones commented on #770
I can't remember if this has come up in PyGMT spaces before, but the [documentation system](https://documentation.divio.com/) by Daniele Procinda has been mentioned during GMT documentation discussions. For the GMT documentation, we proposed to make some revisions according to that structure in the recently submitted NASA proposal. Here are the three objectives that we specifically proposed for [t

[2021-02-17 16:35] meghanrjones commented on #770
Also, I agree with this will be a helpful addition that will give new users a place to start, especially people who prefer to learn by reading rather than listening/watching (where #613 is helpful).

[2021-02-17 16:44] seisman opened #920 "Suppress the sphinx + sphinx-gallery warnings"
Does anyone have any recommendations for suppressing the warnings like this:

They are a bit distracting.

_Originally posted by @meghanrjones in https://github.com/GenericMappingTools/pygmt/issues/875#issuecomment-778420989_

I agree, perhaps you can try if adding them to [`exclude_patterns` in `doc/conf.py`](https://www.sphinx-doc.org/en/master/usage/configuration.html#confval-exclude_patterns)

[2021-02-17 16:48] meghanrjones commented on #920
Is there a reason for these to get built in, for example, ``gallery/coast/`` rather than a subdirectory in ``_build/``?

[2021-02-17 16:56] seisman commented on #920
I have no idea. The gallery was set up by @leouieda (#268). Not sure if sphinx-gallery can generate these files in `_build`.

BTW, it seems possible to remove the `nbsphinx` extension, as mentioned in  https://github.com/GenericMappingTools/pygmt/pull/268#discussion_r250684321.

[2021-02-17 17:04] meghanrjones commented on #920
OK, thanks. I will try to figure this out, but anyone is welcome to help.

[2021-02-17 18:09] seisman commented on #920
Also see https://github.com/GenericMappingTools/pygmt/issues/269#issuecomment-457260318

[2021-02-17 18:49] seisman opened #924 "Remove the xshift (X) and yshift (Y) aliases from all plotting modules?"
In [the Zen of Python](https://www.python.org/dev/peps/pep-0020/):

Now we have two different methods to shift origins:

1. passing arguments like `xshift="2c", yshift="1c"` to any plotting modules
2. explicitly call `Figure.shift_origin(xshift="2c", yshift="1c")`

GMT users are familiar with method 1, but IMHO method 2 is more pythonic. As I can see, these two methods are equivalent.

Should we r

[2021-02-17 22:19] seisman commented on #179
No feedbacks and no volunteers in two years. This PR is in very low priority.

I'm closing the issue, and feel free to reopen it if you still want the feature implemented.

[2021-02-17 22:19] #179 closed

[2021-02-18 01:07] seisman commented on #647
Ping @PaulWessel. How does GMT convert DMS strings to float? Is it possible to allow external programs to pass DMS strings via `GMT_Put_Vector`? Or is it easier or better to convert DMS strings to float numbers first?

[2021-02-18 01:10] seisman commented on #924
Similar to this issue, I also don't like the **timestamp** (-U) alias. I'm in favor of removing **timestamp** too, and add a new method ``Figure.timestamp()``.

We can discuss **xshift** and **yshift** first. If we all agree, I'll open another issue to better track and discuss the ``Figure.timestamp()`` method.

[2021-02-18 02:01] PaulWessel commented on #647
This is done during proccessing of ASCII data records.  I am sure we could implement something similar to what we did with DATETIME. Maybe need some other flags like GMT_TEXT_LONGITUDE etc.

[2021-02-18 02:29] seisman commented on #733
Or we could document the behavior of `pygmt.config()` better.

[2021-02-18 04:01] liamtoney commented on #770
Well said, @meghanrjones — I agree with the thoughts you put forth here.

[2021-02-18 15:15] github-actions[bot] opened #927 "Link Checker Report"
Errors were reported while checking the availability of links.

📝 Summary
--------------------
🔍 Total.........3750
✅ Successful....3744
⏳ Timeouts.........0
🔀 Redirected.......0
👻 Excluded.........5
🚫 Errors...........1

Input: repository/BROKEN-LINKS.md
   🚫 https://www.pygmt.org/abc/def
      Failed (404 Not Found)

[Full Github Actions output](https://github.com/GenericMappingTools/pygmt/actio

[2021-02-18 15:20] #927 closed

[2021-02-18 15:39] github-actions[bot] opened #928 "Link Checker Report"
Errors were reported while checking the availability of links:

[2021-02-18 15:41] #928 closed

[2021-02-18 15:43] github-actions[bot] opened #929 "Link Checker Report"
Errors were reported while checking the availability of links.

[Full Github Actions output](https://github.com/GenericMappingTools/pygmt/actions/runs/578615101?check_suite_focus=true)

[2021-02-18 15:44] #929 closed

[2021-02-18 16:35] michaelgrund commented on #896
I totally agree that it feels quite strange if no plotting object is returned when applying these modules.

Sounds like a good compromise, however, does it make sense for all modules that have the ``-I``  flag or only for a few of them?

[2021-02-19 01:00] meghanrjones commented on #920
Thanks. Yes, these warnings are caused by the ``nbsphinx`` extension. ``doc/conf.py`` sets ``source_suffix = ".rst"``, but this info that's reported while building the docs indicates that ``nbsphinx`` resets this to ``source_suffix = ""``:

After reading https://github.com/GenericMappingTools/pygmt/pull/268#discussion_r250684321 and https://github.com/GenericMappingTools/pygmt/issues/269#issuecomm

[2021-02-19 01:09] meghanrjones commented on #920
Also, adding the file extensions to exclude_patterns in doc/conf.py suppresses the warnings, but I think it would be better to fix this by removing ``nbsphinx`` if it is not needed.

[2021-02-19 01:16] seisman commented on #920
When @leouieda started this project, the tutorials were written in notebooks using `nbsphinx` (see the old notebooks at https://github.com/GenericMappingTools/pygmt/tree/e5845ba38df2b4c04a55132df0edede05ca29321/doc/tutorials). In #268, we switched to sphinx-gallery (i.e., using `.py` files) so that the `nbsphinx` is no longer necessary and can be removed.

The reason that @leouieda kept the `nbsph

[2021-02-19 16:14] meghanrjones commented on #631
Is the convention for documenting defaults in PyGMT set? In GMT, it is typically brackets [ ] without any explanation before the default. I remember a comment in which @seisman mentioned that "[Default is ...]" is more clear than just "[...]", but I couldn't track find that comment again.

[2021-02-19 16:18] seisman opened #933 "Better web font for I (capital i) and l (small L)"
**Description of the problem**

See this page as an example: https://pygmt-6lvxfpcmx.vercel.app/gallery/line/vector-heads-tails.html

![image](https://user-images.githubusercontent.com/3974108/108530368-86b24d80-72a3-11eb-8aab-445003cbbe62.png)

The two "I" in the two red boxes are different. The first one is capital `i`, and the second one is small `L`. However, they look the same in the current

[2021-02-19 16:28] seisman commented on #631
Yes, it's open for discussions. The GMT documentation sometimes also uses "[Default is ...]".

[2021-02-19 16:46] meghanrjones commented on #933
I agree with you. I think it would just involve changing a couple lines in ``doc/build/_static/style.css``. For example, this is the output for the vector example with this css style (which is currently set to open sans):
[code]

I like Tahoma because it is sans-serif but still has differences between those two characters.

[2021-02-19 16:52] seisman commented on #933
Looks good. Does Linux support it?

[2021-02-19 17:03] meghanrjones commented on #933
Good point, probably not. We can include multiple fonts in the font-family property as a fall-back and/or find an open source alternative to Tahoma that still makes those characters more distinct.

[2021-02-19 17:05] seisman commented on #933
It would be better if you can open a PR so that we can preview what the new font settings look like.

[2021-02-19 18:50] michaelgrund opened #935 "Remove trailing white spaces automatically"
So far trailing white spaces in files are not automatically detected when running `make format`, `make check` and `make lint` (see #890) .

Do you think we should add such check, if possible, to follow the PEP8 guidelines?

**Are you willing to help implement and maintain this feature?** Discuss first

[2021-02-19 19:55] #920 closed

[2021-02-19 21:55] seisman commented on #935
I tried the following script (with invisible trailing whitespaces in many lines):
[code]
Running `black` removes all trailing whitespaces for me.

Not sure why it hehaves differently in #890.

[2021-02-19 22:16] seisman commented on #935
No, `black` doesn't remove the trailing whitespace in the docstrings of the file.

[2021-02-19 22:25] meghanrjones commented on #935
``flake8`` would check for whitespace and lines >80 (both not caught by ``black`` in examples); currently ``flake8`` is only used for pygmt, setup.py, and doc/conf.py.

[2021-02-19 22:26] weiji14 commented on #935
Doesn't `blackdoc ` remove the trailing whitespace in the docstrings? Interesting :thinking: Might be worth filing an issue on https://github.com/keewis/blackdoc if we can confirm this.

[2021-02-19 22:29] seisman commented on #935
None of `black`, `blackdoc`, and `docformatter` does to the file-scope docstrings. It's possible these are not "docstrings" https://www.python.org/dev/peps/pep-0257/.

[2021-02-20 00:01] meghanrjones opened #937 "Intersphinx mapping not working in Returns"
**Description of the problem**

The intersphinx mapping to pandas.DataFrame does not seem to be working in the Returns section of the docstrings. See [blockmedian](https://www.pygmt.org/dev/api/generated/pygmt.blockmedian.html#pygmt.blockmedian) for an example.

*Originally posted by @weiji14 in https://github.com/GenericMappingTools/pygmt/pull/930#discussion_r579526151*

[2021-02-20 01:04] steo85it commented on #608
Hi! This would be super-useful, and your "hack" already works great for geoDataFrames of Polygons imported from .shp files.

![image](https://user-images.githubusercontent.com/29377066/108576961-6dce8a00-72ed-11eb-8b83-70ab87cb26bb.png)

LMK if you need help testing or such!

[2021-02-20 01:15] weiji14 commented on #933
Ok, here's 3 open PRs with new web fonts to preview:

- #934 (Tahoma) - [Microsoft Windows only?](https://docs.microsoft.com/en-us/typography/font-list/tahoma) - https://pygmt-git-docs-fonts.gmt.vercel.app/api/generated/pygmt.Figure.basemap.html
- #936 (IBM Plex Sans) - [Open Font License](https://en.wikipedia.org/wiki/SIL_Open_Font_License) - https://pygmt-git-docs-fonts-serve.gmt.vercel.app/api/

[2021-02-20 03:02] meghanrjones commented on #933
The Atkinson Hyperlegible font looks great IMO

[2021-02-20 16:00] seisman commented on #935
Related issue: https://github.com/psf/black/issues/318

[2021-02-20 17:17] meghanrjones commented on #631
Moving forward is seems that the GMT documentation will be going with "[Default is ...]" (see https://github.com/GenericMappingTools/gmt/pull/4834).

[2021-02-20 17:48] meghanrjones commented on #937
Relevant issue: https://github.com/sphinx-doc/sphinx/issues/8290

Seems the options here are to either set ``napoleon_use_rtype = True`` in doc/conf.py, manually define the links, or wait for a bug fix.

[2021-02-20 18:41] michaelgrund commented on #935
Means it is not possible to do any automatic check and everybody has to care about the spaces before committing, right?

[2021-02-20 18:46] seisman commented on #935
Perhaps [docformatter](https://github.com/myint/docformatter) should remove the trailing whitespace? It says:

[2021-02-20 19:33] weiji14 commented on #670
Just two quick questions:

1. On organizing these higher level convenience functions. Do we want to keep them in the `pygmt/src` folder or somewhere else?

2. Should the implementation of `hlines` and `vlines` be reusing some part of the `fig.plot` code? Or do we implement them from scratch as is being done in #923?

[2021-02-20 21:11] seisman commented on #670
I think we should put them in `pygmt/src`. To users and developers, they are the same as other modules/functions.

Do you mean `Figure.hlines()` should calling `Figure.plot()`? Ideally yes, but I'm not sure if `Figure.hlines()` can use the aliases of `Figure.plot()`.

[2021-02-20 22:04] seisman commented on #937
Tried `napoleon_use_rtype = True`, it gives:

![image](https://user-images.githubusercontent.com/3974108/108609675-78485c80-739d-11eb-8835-b4bfd30a89fd.png)

[2021-02-20 22:13] seisman commented on #937
`napoleon_use_rtype = True` gives inconsistent rendering for returns and parameters. I don't think this is what we want. I think we should manually define the links or just ignore them.

[2021-02-20 22:17] seisman commented on #829
This is not a PyGMT issue, and all PyGMT tests work well on Windows.

Close it? @weiji14

[2021-02-20 22:30] seisman commented on #935
`docformatter` can remove trailing whitespaces from the following script:
[code]

but does nothing to:
[code]

Report a bug to `docformatter` at https://github.com/myint/docformatter/issues/71.

[2021-02-20 22:31] seisman commented on #924
Ping @GenericMappingTools/python and @GenericMappingTools/python-maintainers for comments and thoughts.

[2021-02-20 23:31] weiji14 commented on #924
For context, the xshift/yshift aliases were added in #624. While I agree with that line in the [Zen of Python](https://www.python.org/dev/peps/pep-0020/) "There should be one-- and preferably only one --obvious way to do it.", what comes higher up before that line is "Readability counts.", and that is what the xshift/yshift aliases (and other PyGMT aliases) was originally intended for.

Agree that

[2021-02-20 23:32] weiji14 commented on #829
Ok, haven't had time to reproduce this properly. I'll close for now.

[2021-02-20 23:32] #829 closed

[2021-02-21 00:11] weiji14 commented on #885
Just discovered [MyST](https://myst-parser.readthedocs.io/en/v0.13.5/index.html) today and I believe it should address most of the ReST changelog pain points by switching things to markdown! It also opens up the possibility of converting some of *.rst files in `doc` from restructured text to markdown (possibly more new-contributor friendly) but that's for another discussion.

See https://github.co

[2021-02-21 04:11] seisman opened #942 "Add more examples for polar projections"
We already have a very simple example (https://www.pygmt.org/dev/projections/nongeo/polar.html) showing how polar projection looks like, but the polar projection (**-JP**) is more complicated (also more powerful). We should add more examples for the polar projections.

Here are some examples from [the GMT Chinese documentation](https://docs.gmt-china.org/latest/proj/Jp/).

![image](https://user-im

[2021-02-21 04:15] liamtoney commented on #933
Agreed! I'd be happy w/ this and don't mind the zero with the slash. One concern I have is that it's on the smaller side, I'd suggest we bump up the font size a bit if we use this (easy).

[2021-02-21 04:28] weiji14 commented on #933
Increasing the font size sounds good, I'll look into the style.css file.

Also, should we/do we need a list of fallback font types if we serve the font directly? I.e. do something like `font-family: "Atkinson Hyperlegible", "Tahoma", sans-serif;`?

[2021-02-21 05:07] seisman commented on #912
Related to https://github.com/pypa/setuptools_scm/issues/518

[2021-02-21 05:09] seisman commented on #908
One note: when we merge a PR, we should be cautious that the merge message (default to be a list of commit messages in this branch) can't contain `[ci skip]`, otherwise the merged commit won't trigger CI jobs when merged into master branch.

[2021-02-21 09:47] liamtoney commented on #933
I think that it's best practice to include a fallback font regardless. I'd suggest just falling back to generic `sans-serif` from Atkinson though.

[2021-02-21 09:55] weiji14 commented on #933
Ok, done at f14a8e1ec597c61e23fffc031128f0bbdeed2f39. See https://pygmt-git-docs-fonts-legible-gmt.vercel.app/gallery/line/vector-heads-tails.html#sphx-glr-gallery-line-vector-heads-tails-py, compare with https://www.pygmt.org/dev/gallery/line/vector-heads-tails.html.

[2021-02-21 10:37] michaelgrund commented on #942
Great idea, I would put it into a standalone gallery example according to the figure you show above. Since I worked a lot with such projections in the past (and some parts were really confusing to me in the beginning) I could work on this if there are no other volunteers :wink:

[2021-02-21 18:41] liamtoney commented on #933
Thanks, @weiji14. I think having a slightly heavier font is fine and might even be better for small screens. Plus, then we don't have to serve the "light" font or whatever.

I think this looks great, adds a bit more style to our site, and hopefully makes it more readable too. But I think we should check with other @GenericMappingTools/python folks too!

[2021-02-21 18:56] willschlitzer opened #945 "Assigning updates to major and minor releases"
As I understand the versioning system, a minor release will cover relatively minor changes (documentation updates and bug fixes are the examples that come to mind), while major changes, primarily new modules being wrapped, will be covered in the major releases. How do we control which release a given pull request/merge applies to? I'm assuming we'll release a v0.3.1 sometime in the next few months

[2021-02-21 19:14] weiji14 commented on #945
Excellent question. We discussed this a while ago, see https://github.com/GenericMappingTools/pygmt/pull/424#issuecomment-625747471 and also https://github.com/GenericMappingTools/pygmt/issues/665#issuecomment-728748849. If any new modules get into the master branch, then we release v0.4.0, else we just do a v0.3.1. The advanced branching strategy with backports and stuff was trialed in upstream G

[2021-02-21 20:28] seisman opened #946 "pylint 2.7.0 breaks the style check"
**Description of the problem**

See the "Style Checks" runs in https://github.com/GenericMappingTools/pygmt/pull/944 for details.

[2021-02-21 20:45] willschlitzer commented on #945
@weiji14 That makes sense for how to determine if it's major or minor release. I think PyGMT is small enough that these releases won't have much in the way of breaking changes (we hope) to necessitate someone using a patched older release. Thanks for clearing this up, I didn't want to merge any PRs that have major changes only to find out I should have waited until after v0.3.1 is released.

[2021-02-21 20:55] weiji14 commented on #946
Lots of `duplicate-code` recommendations in the error message log:

<details>

[code]

</details>

The docs at http://pylint.pycqa.org/en/2.7/technical_reference/features.html#similarities-checker-messages says:
[code]
So we should tweak our [`.pylintrc`](https://github.com/GenericMappingTools/pygmt/blob/v0.3.0/.pylintrc) file a bit following https://stackoverflow.com/questions/29206482/pylint-dup

[2021-02-21 21:15] seisman commented on #946
Still a lot of warnings after setting `ignore-imports=yes`. Perhaps better to disable `duplicate-code` and try to refactor later.

[2021-02-21 21:28] weiji14 commented on #946
Yes, I'll open a separate issue for refactoring. Do you want to go ahead and update `.pylintrc`?

[2021-02-21 21:36] seisman opened #948 "Let flake8 check examples"
``flake8`` would check for whitespace and lines >80 (both not caught by ``black`` in examples); currently ``flake8`` is only used for pygmt, setup.py, and doc/conf.py.

_Originally posted by @meghanrjones in https://github.com/GenericMappingTools/pygmt/issues/935#issuecomment-782408392_

Do we want flake8 to check all examples? Or do we want to limit line length in examples?

[2021-02-21 21:38] seisman commented on #948
I don't like `flake8` because it still doesn't support pyproject.toml (https://gitlab.com/pycqa/flake8/-/issues/428), but there are alternatives (e.g., https://flakehell.readthedocs.io/)

[2021-02-21 21:45] seisman commented on #945
Just to make it clear, the version number is _major.minor.patch_, so:

- a **patch** release will cover relatively small changes (documentation updates and bug fixes are the examples that come to mind)
- a **minor** release will cover new features (new modules being wrapped, new parameters)

[2021-02-21 21:56] seisman commented on #933
Looks good to me.

[2021-02-21 21:58] weiji14 opened #949 "Universal virtualfile_from_data function to replace virtualfile_from_grid/matrix/vectors"
**Description of the desired feature**

As a user, I'd like to be able to pass in any type of data into a PyGMT function in a consistent way, be it:

- a `str` type filename
- a `numpy.ndarray`
- a `pandas.DataFrame` matrix
- a `geopandas.GeoDataFrame` (#608)
- an `xarray.DataArray` grid, or even 1d arrays!
- etc

### Current state

We have a not so nice `if... then` block that currently handles t

[2021-02-21 22:00] #946 closed

[2021-02-21 22:27] #933 closed

[2021-02-21 22:46] weiji14 commented on #948
Funny, I was looking at `flakehell` too last week. Dropping `flake8` and switching to `flakehell` might allow us to get rid of the [`setup.cfg`](https://github.com/GenericMappingTools/pygmt/blob/v0.3.0/setup.cfg) file I think. See also https://dev.to/bowmanjd/using-flake8-and-pyproject-toml-with-flakehell-1cn1

[2021-02-21 22:47] seisman commented on #948
Yes!

[2021-02-21 23:01] weiji14 commented on #948
See also https://stackoverflow.com/questions/44878600/is-setup-cfg-deprecated :smile:. I think it should be safe to remove `setup.cfg` once (and **if**) we switch from `flake8` to `flakehell`, but need to be extra careful in case it breaks some obscure Python packaging component.

[2021-02-22 03:09] seisman commented on #807
Ping @weiji14 to separate `x2sys_init` and `x2sys_cross`.

[2021-02-22 03:27] #535 closed

[2021-02-22 04:09] weiji14 commented on #807
Right, do we want to move the `config` and `GMTDataArrayAccessor` classes out of `pygmt/modules.py`? I wouldn't consider them 'data processing' modules, they're more about plot configuration and metadata related.

[2021-02-22 04:14] seisman commented on #807
We should. I think `pygmt.config` should be in `pygmt/src/config.py`, but I'm not sure where to put `GMTDataArrayAccessor`.

[2021-02-22 14:28] core-man commented on #897
Could I help with this issue? It seems that it is a good first issue for me.

Based on the above discussion, could we just keep the authors' full names, ORCID, and university/institute.
The maximum length is about 73 under preview (i.e., Meghan Jones), which corresponds to 146 characters.

* [Dongdong Tian](https://seisman.info/) | [0000-0001-7967-1197](https://orcid.org/0000-0001-7967-1197) | Mic

[2021-02-22 15:42] meghanrjones commented on #937
My preference would be to ignore the missing links in the rtypes (seems like an upstream bug to me) and manually define the links in the bullet lists (if present) below the rtypes (which would not be automatically linked regardless of the bug). These are the module docstrings which would need to be updated if we chose this solution:

- [ ] blockmedian.py (L61)
- [ ] grdcut.py (L85)
- [ ] grdfilter

[2021-02-22 16:11] michaelgrund commented on #897
Me too, as pointed out not everybody has listed a homepage on the ORCID portal and some people don't even have a "real" homepage (execpt the linked GitHub profile).

[2021-02-22 16:31] seisman commented on #937
Sounds good.

[2021-02-22 18:32] #937 closed

[2021-02-22 20:16] weiji14 commented on #897
Cool, let's go with Solution 1 in https://github.com/GenericMappingTools/pygmt/issues/897#issuecomment-783413696 then, i.e.:

- [Name]() | 0000-0001-2345-6789 | University/Company/Unaffiliatied

@core-man, feel free to open up a Pull Request for this, have a look at [CONTRIBUTING.md](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md) to get started and don't hesitate to ask

[2021-02-22 23:09] #885 closed

[2021-02-23 00:40] weiji14 commented on #244
To close this >2 year old issue, I think it would be great if someone can add an example to our gallery that demonstrates how to "Color points by categories". The [3D Scatter Plot example](https://www.pygmt.org/v0.3.0/gallery/plot/scatter3d.html#sphx-glr-gallery-plot-scatter3d-py) actually covers this, but it would be nice to have a simpler, 2D example.

One way would be to just copy and modify ht

[2021-02-23 06:26] seisman commented on #948
Unfortunately, [`flakehell`](https://github.com/life4/flakehell) is no longer maintained.

[2021-02-23 06:46] weiji14 commented on #948
Oo, that was sudden. Guess we'll need to find or wait for an alternative.

[2021-02-23 07:52] michaelgrund commented on #935
Interesting but good to know that we can differentiate between normal scripts and sphinx-gallery style header docstrings.

[2021-02-23 13:27] core-man commented on #902
I'd like to help to improve `.gitignore`.

[2021-02-23 20:41] #897 closed

[2021-02-23 21:39] arleaman commented on #916
Thanks @weiji14 - I am using NetCDF files for my grids and will look into performing calculations in xarray.

[2021-02-24 00:42] seisman commented on #945
Can we close this? Or is there anything we need to add to the MAINTENANCE.md?

[2021-02-24 00:45] PaulWessel commented on #647
I see two separate ways of how to do this, with some different benefits:

1. Add two new types that _GMT_Put_Vector_ will recognize, such as **GMT_TEXTLON** and **GMT_TEXTLAT**.  Then the implementation is very similar to the **GMT_DATETIME** from #633.
2. Alternatively, change the values for the bit-flags **GMT_IS_LON**, **GMT_IS_LAT** and **GMT_IS_ABSTIME** from gmt_dev.h to gmt_resources.h and

[2021-02-24 00:48] weiji14 commented on #945
Might be good to bring up your comment at https://github.com/GenericMappingTools/pygmt/pull/941#issuecomment-783735110 here:

I can add it to the PR at #907 which is updating the 'Releasing' section in MAINTENANCE.md

[2021-02-24 01:09] seisman commented on #945
Sounds good. Then I need to remove the "enhancement" label from PR #952, and maybe declare it as a bug.

[2021-02-24 01:11] PaulWessel commented on #647
One thing this proposal does not address is if you want the converted data to be a double, float, int, etc. [double].  For that we would need to do something slight more complicated like **GMT_FLOAT**|**GMT_TEXTLAT**.  I think that would be better, and wee should implement that for **GMT_DATETIME** as well.

[2021-02-24 01:32] weiji14 commented on #945
So semver v2.0.0 at https://semver.org/spec/v2.0.0.html says:

Is an 'enhancement' always considered a new functionality? I'm thinking whether we could just bump the minor version if there is a 'feature' added? I.e. have just:

[code]
but not quite sure if my interpretation of semver here is correct.

[2021-02-24 01:48] seisman commented on #945
I think it's pretty subjective. Looking at the previous changelogs, most of the "enhancements" are adding new aliases to existing modules, or allowing more data types as input or output. They can all be declared as bugs 😄

[2021-02-24 04:33] seisman opened #962 "Change the line length limit of docstrings to 88 characters"
We use the [Black](https://github.com/psf/black) tool to format the code, and the default line length of Black is [88 characters](https://black.readthedocs.io/en/stable/the_black_code_style.html#line-length). The 88-char line length limit is only applied to code, not docstrings. For docstrings, the line length limit is 79 characters, and we use several tools, [blackdoc](https://github.com/keewis/b

[2021-02-24 07:42] seisman opened #963 "Rethink the testing mechanism for images"
_If you're unclear about how PyGMT tests images, please read the ["Testing plots" section in the contributing guides](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#testing-plots) first._

---

In short, for image-based tests, we need to specify the baseline/reference image. When we make any changes to the code, we can generate the new "test" image and compare it with the

[2021-02-24 16:07] meghanrjones commented on #962
To me, the example docstring looks good in VSCode and PyCharm but the return between 'separate'/'tick-intervals' and 'or'/'``compass``' in the Notebook and the Python console decreases readability and does not look good. Do you know why there are returns in those two locations?

[2021-02-24 16:12] seisman commented on #962
Oh, sorry for the confusion. To test what long docstrings look like, I changed (locally) the docstrings of `Figure.basemap()` to:
[code]
So it seems VSCode and PyCharm remove all "returns" in the docstrings, while Python and notebook keep them.

[2021-02-24 17:58] willschlitzer commented on #963
I'm a fan of switching to `@check_figures_equal()`, although I understand the difficulties associated with having our testing functions make so many plots. I mostly like the idea of not having a large repository of reference plots, especially for when we have changes in the plotting function, like in GMT 6.2.

That being said, I have begun to realize that it doesn't seem like we're always effectiv

[2021-02-24 18:27] michaelgrund commented on #608
Definitely support the idea to integrate geopandas (geo) dataframes. I assume that the possibility to easily plot shape file stuff atop GMT maps allows us to attract lot's of new users to use PyGMT.

[2021-02-25 07:51] seisman commented on #963
Yes, I agree. This is what we must do.

Still, the biggest challenge is "**how to make sure that baseline images are correct.**".

---

We had some discussions in #451.

One solution is storing static images in a separate repository (e.g. `pygmt_baseline_image`), but it is too complicated when we want to add a new test.

---

Another solution is generating baseline images by directly calling `Sess

[2021-02-25 07:51] seisman commented on #962
Ping @GenericMappingTools/python @GenericMappingTools/python-maintainers for thoughts.

[2021-02-25 07:57] seisman commented on #948
As I understand it, `flake8` is still the most popular and widely-used tool for style checking. I think we should still use `flake8`, and (1) wait for the official pyproject.toml support (https://gitlab.com/pycqa/flake8/-/issues/428); (2) see if someone forks and maintains `flakehell`; (3) see if there are similar wrappers.

Back to the initial issue, I think we should let `flake8` check the examp

[2021-02-25 09:37] willschlitzer commented on #963
I like this idea. I think it more effectively tests that the aliases and Python functions line up with the expected outcome from GMT. The downside is that it will expect anyone to learn GMT commands, but I don't think this is too advanced from someone wrapping a new module.

Why wouldn't this also be applicable for grd tests? Since we use standard GMT-hosted grids, wouldn't we be able to add `@ear

[2021-02-25 15:06] seisman commented on #886
Almost done. Closing the issue.

[2021-02-25 15:06] #886 closed

[2021-02-25 15:20] seisman commented on #963
Yes, it sounds reasonable and valid assumption.

It can also be applied to grid tests.

https://github.com/GenericMappingTools/pygmt/blob/e0579275d00c7a69d25a82b4c8936e0b0b1b7577/pygmt/tests/test_grd2cpt.py#L23-L37

Just take this test (written by you) as an example, I think I mentioned before that the test may still pass even if `grd2cpt()` doesn't work as expected. The test can be rewritten to:

[2021-02-25 17:18] #902 closed

[2021-02-25 22:16] meghanrjones commented on #962
I have no problems with changing it. Is your preference 88 or ~120 characters @seisman?

[2021-02-25 22:28] seisman opened #966 "Allow load_earth_relief() to load the original land-only SRTM tiles"
**Description of the desired feature**

Refer to https://docs.generic-mapping-tools.org/latest/datasets/remote-data.html#technical-information for details.

Currently, the `load_earth_relief()` function can load `01s` and `03s` Earth relief grid, but can't load the original land-only SRTM grid.

It seems easy to add the feature. We just need to add a new parameter `use_srtm` (default to `False`) t

[2021-02-25 22:31] willschlitzer commented on #966
I think this is a good idea.

[2021-02-25 22:32] liamtoney opened #967 "ObsPy integration"
[ObsPy](https://github.com/obspy/obspy/wiki) is the *de facto* standard tool for processing seismological data using Python. GMT is already heavily used by seismologists. It seems natural to make PyGMT integrate better with ObsPy. This issue can serve as a platform for broad discussion of how we might accomplish this.

On the seismology side in general, we already have [`Figure.meca()`](https://ww

[2021-02-25 22:36] seisman commented on #962
We will stick with 88 characters (the default value of `Black`) if others agree.

[2021-02-26 01:47] weiji14 commented on #608
FYI, I'm working on #961 which will lay the groundwork for `geopandas` integration (by providing a single I/O entrypoint into GMT virtualfiles). Still need to work on the implementation details, but hopefully :crossed_fingers: this will mean that **any** PyGMT function which accepts a table-like input will be able to take in `geopandas.GeoDataFrame` too (i.e. not just `fig.plot`), but will need mo

[2021-02-26 02:57] seisman opened #968 "Three tests fail with GMT dev versions"
See https://github.com/GenericMappingTools/pygmt/actions/runs/601427126 for the recent PyGMT tests with GMT dev versions.

Three tests failed due the recent upstream changes (possibly https://github.com/GenericMappingTools/gmt/pull/4852) and our static out-of-date baseline images:
[code]

We need to rewrite the three tests using the [`@check_figures_equal`](https://github.com/GenericMappingTools/p

[2021-02-26 04:29] #968 closed

[2021-02-26 06:48] core-man commented on #966
I'd like to help with this issue if possible. It seems a good issue to begin to be familiar with pygmt.

[2021-02-26 13:33] core-man opened #972 "load_earth_relief() failed to find earth relief files"
**Description of the problem**

As I am working on #966, I first ran the examples on [pygmt.datasets.load_earth_relief](https://www.pygmt.org/latest/api/generated/pygmt.datasets.load_earth_relief.html#pygmt.datasets.load_earth_relief). However, it seems that `load_earth_relief()` may have a bug to find low-resolution earth relief files, which seems to be related to `which`.

**Full code that gener

[2021-02-26 14:29] seisman commented on #972
Could you please post the output of
[code]

[2021-02-26 14:41] core-man commented on #972
@seisman

[code]

[code]

[2021-02-26 14:58] seisman commented on #972
It's weird. I don't see anything wrong in the output.

[2021-02-26 18:19] michaelgrund commented on #962
Would be fine for me.

[2021-02-26 19:07] weiji14 commented on #962
I would keep it at 79 characters. The point made at #384 and https://github.com/fatiando/verde/issues/177 is for the **Parameters^^ section. E.g. in `jupyterlab`, try reading this:

![image](https://user-images.githubusercontent.com/23487320/109343850-d233af80-78d2-11eb-8e80-5c29810e1708.png)

[2021-02-26 19:55] seisman commented on #962
Hmmm, I didn't know the "Shift+Tab" shortcut for the docstring tooltip until today.

It seems JupyterLab wraps at 90 characters, but Jupyter Notebook wraps at 80 characters.

So, the only reason to keep 79 characters is to make it look better in the classic Jupyter Notebook? But, is jupyter notebook still heavily used by people? Even the [jupyter notebook](https://github.com/jupyter/notebook) proj

[2021-02-26 20:33] weiji14 commented on #962
Wow, you've missed out on so much then!!

You will be surprised at how many people still use the classic notebook, even as jupyerlab has been around for a few years. I haven't had time to look, but Google Collaboratory, Kaggle and others probably use a similar classic notebook interface. This is one of those things where it's better to keep things as it is - if it ain't broken, don't fix it.

[2021-02-26 20:34] seisman commented on #972
@PaulWessel Do you have any idea why `gmt which` can't find the remote file even though it's already downloaded?

[2021-02-26 21:00] seisman commented on #962
Fair enough. Let's keep the docstring to 79 characters.

[2021-02-27 15:07] core-man commented on #967
As a seismologist, I almost use `gmt sac` in every project. Currently, I call `lib.call_module` to use `gmt sac`. See a simple example:
[code]

![sac](https://user-images.githubusercontent.com/50591376/109390821-c4bc0b00-794e-11eb-997c-3a453c435549.png)

`saclist` is a sac file list with the [format](https://docs.generic-mapping-tools.org/6.1/supplements/seis/sac.html#required-arguments):

[code]

[2021-02-27 21:35] PaulWessel commented on #972
On the face of it, no.  But if I delete my copy and run that command I get the same error.  I think you need **-G** if you want to download a file via gmt which though.

[2021-02-27 21:52] seisman commented on #972
@core-man Is it possible that the earth_relief_01d_p.grd file is not complete due to unstable internet connections? Could you check the file size and md5sum?

[2021-02-28 04:19] weiji14 commented on #896
As far as I can tell, it's only 3 modules (`rose`, `solar` and `histogram`) where this applies. For other modules, the `-I` flag means something else (e.g. spacing) and not 'inquire'.

[2021-02-28 08:48] willschlitzer commented on #963
@GenericMappingTools/python-contributors Does anyone have opinions on this? I'm in support of @seisman's example using `with Session() as lib`.

[2021-02-28 09:19] core-man commented on #963
As a new PyGMT and an old GMT user, it seems that the test method by `with Session() as lib` is better.

If the right figure cannot be generated by PyGMT, I guess there are two possible reasons: 1) some bugs exist in PyGMT; 2) GMT has some bugs. We should fix the first one in PyGMT, while we should report GMT bugs to upstream.

But if the PyGMT project plans to develop more functions that are not

[2021-02-28 19:40] seisman commented on #963
Any new functions in PyGMT would reply on GMT, so we can always find equivalent GMT command lines. For example, in the new `Figure.hlines()` (https://github.com/GenericMappingTools/pygmt/pull/923) function, we can call low-level `gmt plot` commands to generate the reference images.

[2021-02-28 22:43] liamtoney commented on #967
This is a good point. If ObsPy is made a [optional] dependency, then we could leverage its I/O to read in all sorts of files (as well as Trace and Stream objects).

[2021-03-01 01:16] #945 closed

[2021-03-01 08:36] core-man commented on #967
if `gmt sac` can be wrapped, the seismological community will benefit a lot from PyGMT and GMT.

@liamtoney Could this issue be completed in two or more PRs? For example,

1. Wrap `gmt sac`

    I think this is the first step before ObsPy can be a [optional] dependency. Meanwhile, seismologists could use
    PyGMT to plot SAC data a simple way before ObsPy is made as a dependency.

2. Plot seismic

[2021-03-01 08:52] core-man commented on #972
@seisman The `earth_relief_01d_p.grd` downloaded by `grid = load_earth_relief()` is 116k.

[code]

I deleted the downloaded grid. Then I can use the `grdimage` to download and plot `@earth_relief_01d`.

[code]

The downloaded grid is also 116k. I used `diff` command to compare the grid downloaded by `grid = load_earth_relief()` and `grdiamge`, and they are the same.

[2021-03-01 08:56] core-man commented on #972
Yes, I can use `-Ga` to download and find the grid.

[2021-03-01 15:37] core-man opened #983 "Improve PyGMT documentation"
We have to decide whether we want to add quotes to all arguments, e.g., `'05m'` or `05m`. Originally posted in https://github.com/GenericMappingTools/pygmt/pull/976#discussion_r584484932.

We use quotes for many arguments, e.g.,
https://github.com/GenericMappingTools/pygmt/blob/afe9293d8d6705587be9982909820d9ebf5e75eb/pygmt/datasets/earth_relief.py#L34-L39

Meanwhile, we don't use quotes in some c

[2021-03-01 16:21] seisman commented on #983
Also see https://github.com/GenericMappingTools/pygmt/issues/631

[2021-03-01 20:20] liamtoney commented on #967
@core-man yes, exactly! The PyGMT devs were thinking that two PRs would make sense.

Agreed on your first one. For number 2, I'm not quite sure what you mean by:

I was assuming we'd just utilize the ObsPy I/O here. We could either read it to e.g. a NumPy array, or quietly change it to a SAC file and plot it that way (hacky, perhaps).

[2021-03-02 01:33] #346 closed

[2021-03-02 04:46] seisman commented on #972
Thanks for the detailed reports. However, I followed your steps but still can't reproduce your issue. I'm using GMT 6.1.1 (installed using conda) on macOS.

[2021-03-02 05:21] core-man commented on #972
I use GMT 6.1.1 (installed using conda) CentOS7. I don't have this issue on my macOS either.

[2021-03-02 05:32] core-man commented on #891
I'd like to help with this issue.

[2021-03-02 05:48] seisman commented on #972
I just tried GMT 6.1.1 on CentOS 7.8. Still can't reproduce your issue.

[2021-03-02 12:07] core-man commented on #972
I use CentOS 7.5. I also use the GMT built from the source code (6.2.0_416e03f_2020.08.18) instead of conda and it also has the same bug.

[2021-03-02 13:46] willschlitzer commented on #967
I'm not familiar with SAC data/files, but is it information that could be relatively easily transferred to/from a numpy array/pandas dataframe? I figure `sac` has to be wrapped to accept this before we can have ObsPy integration?

[2021-03-02 14:15] core-man commented on #983
This could be an off-topic issue. I feel I am totally new to the PyGMT documentation (https://www.pygmt.org/latest/). What I am feeling when I first go through the documentation may represent some new PyGMT users. I plan to go through the documentation from the landing page to the end and make some comments about what I feel in a PR/issue.

I quickly read `the landing page`, `Overview`, `Installin

[2021-03-02 14:57] seisman commented on #972
I will close this one. Feel free to reopen it if someone else can reproduce the issue or have a clue why it doesn't work.

[2021-03-02 14:57] #972 closed

[2021-03-02 15:05] meghanrjones commented on #972
I don't have a way to reproduce the issue, but I wanted to point out that this seems similar in some ways to an issue that I had earlier which could not be reproduced by other users: https://github.com/GenericMappingTools/gmt/issues/4522. So, it could be related to the specific user environment rather than the OS.

[2021-03-02 15:13] seisman commented on #983
@core-man I think these are all good suggestions. We definitely need more new PyGMT users like you to help us find bugs in our documentation.

[2021-03-02 15:46] willschlitzer opened #987 "Release PyGMT v0.3.1"
**Release**: [v0.3.1](https://github.com/GenericMappingTools/pygmt/milestone/7)
**Scheduled Date**: 2021/03/14
**Pull request due date**: 2021/03/12

**Priority PRs/issues to complete prior to release**
@GenericMappingTools/python Any priorities to finish for this patch release?

- [x] Unnecessary files in the source distributions (#904)
- [ ] ~~Document how to skip CI in the contributing guides (

[2021-03-02 16:25] michaelgrund commented on #967
In principle everything from a SAC file could be transferred to a numpy array/pandas dataframe or any structure we need. However, some of these steps are already handled by ObsPy, thus using these resources potentialy could help us a lot. As Liam suggested, first we should discuss if:
*  `sac` has to be wrapped as is with support of data only in SAC format or
* if we want to make ObsPy an optional

[2021-03-02 18:34] seisman commented on #904
So setuptools_scm includes all files in the source distribution by default.

See https://github.com/pypa/setuptools_scm#file-finders-hook-makes-most-of-manifestin-unnecessary and https://github.com/pypa/setuptools_scm/issues/516.

I think we need to explicitly exclude unnecessary files in the `MANIFEST.in` file.

[2021-03-02 19:07] michaelgrund commented on #963
You're right, so far I made no use in the tests to compare the images as you suggested @seisman.  Hopefully I have time to work on this the upcoming weekend.

[2021-03-02 22:15] willschlitzer commented on #876
Looking at the gallery, this is my thought:

*Plot maps (coastlines and boundaries section, along with inset)
*Plot numeric data (scatter plots, 3d plots, datetime input, line)
*Plot additional figure elements (symbols, legend, logo, colorbar, set line color)

[2021-03-02 22:27] willschlitzer commented on #963
@seisman Should we begin working on rewriting the tests, or should we wait until the GMT 6.2 release? I'm assuming we want to prioritize the rewriting the tests that use `@pytest.mark.mpl_image_compare`, but will ideally update the `@check_figures_equal` tests to use `with Session as lib()`?

[2021-03-02 22:43] weiji14 commented on #963
Not to throw a spinner into things, but do we want to reconsider using `@pytest.mark.mpl_image_compare`? I've mentioned it before at https://github.com/GenericMappingTools/pygmt/issues/451#issuecomment-655874898 about storing the PNG images offsite, while commiting the 'hash' of the image here on the pygmt repo using things like `git-lfs`.

There's also solutions like [`dvc`](https://dvc.org/doc/s

[2021-03-03 02:11] seisman commented on #983
`pip` is not a PyGMT dependence, but it's commonly used to install any other Python packages. I just tried `conda create --name pygmt python`, it installs the following packages, with pip included.

**So I think it's OK to remove `pip` to avoid confusion.**
[code]

This is a good point. In the install guide, we show different ways to install PyGMT, but don't show any way to update it. I think we w

[2021-03-03 02:14] seisman commented on #876
I'm thinking in a different way:

- Lines and vectors
- Symbols and markers
- Images and contours
- Subplots
- 3D plots
- more?

[2021-03-03 02:23] seisman commented on #963
I agree that `@pytest.mark.mpl_image_compare` is the most accurate way to compare reference and test images. As you said, if we can store images offsite, `@pytest.mark.mpl_image_compare` is the best solution.

Not sure if it really works for us. How can we download and update baseline images if we want to run tests locally?

Unfortunately, GMT doesn't support SVG anymore (because recent Ghostscrip

[2021-03-03 02:51] weiji14 commented on #963
The hash of the images will be stored in a `.dvc` file. To download/update the PNG images locally, use `dvc pull` (similar to `git pull`). Adding files would be through `dvc add` (similar to `git add`). In fact, most of the `dvc` commands are based on `git` (see also https://realpython.com/python-data-version-control/), so the learning curve shouldn't be too steep (hopefully). They also have a Pyt

[2021-03-03 03:09] seisman commented on #963
Yes, that would be better.

If it works, can we just store the PNG images in another github repository?

[2021-03-03 03:39] seisman opened #993 "Add "Table of Contents" to MAINTENANCE.md"
In [CONTRIBUTING.md](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#contents), we have a good "Table of Contents" for quickly jumping to specific sections.

We should also add a TOC to [MAINTENANCE.md](https://github.com/GenericMappingTools/pygmt/blob/master/MAINTENANCE.md).

Please check the [CONTRIBUTING.md](https://github.com/GenericMappingTools/pygmt/blob/master/CONTR

[2021-03-03 06:16] core-man commented on #983
Below are some comments about [Installing](https://www.pygmt.org/dev/install.html#installing-pygmt).

### [Quickstart](https://www.pygmt.org/dev/install.html#quickstart)

Why shall we need [Quickstart](https://www.pygmt.org/dev/install.html#quickstart)?

- I think it is not for advanced Python users. But if it is for new Python users,
shall we just recommend them to install PyGMT like [Installing

[2021-03-03 06:27] seisman commented on #983
Yes, please open a PR instead. It would be much easier to discuss.

[2021-03-03 07:28] core-man commented on #983
On https://test.pypi.org/project/pygmt/, the title is `pygmt 0.2.1`. So the dev version name is a little different from the stable version?

[2021-03-03 15:20] seisman commented on #983
TestPyPI is only for testing purposes. We make a dev release for every commit merged in the master branch. The dev version string is like `0.3.1.dev52`, in which 52 means 52 commits since the last stable release. On that page, it shows `0.2.1` simply because we made a v0.2.1 release when we tested how TestPyPI works. Obviously, TestPyPI shows the stable version instead of the pre-releases versions

[2021-03-03 22:26] weiji14 commented on #597
Alright, with #960 merged. Anyone installing PyGMT from the master branch (see https://www.pygmt.org/v0.3.0/install.html#using-pip) should be able to use the `coltypes="0T"` GMT 6.1.1 workaround (where `0T` means the first column contains time), i.e.:

[code]
Assuming that https://github.com/GenericMappingTools/gmt/issues/4241 is resolved in GMT 6.2.0, then GMT 6.2.0 users won't need to use the `c

[2021-03-04 02:17] weiji14 commented on #764
Reopening this because the "columns" description is missing for `plot3d` at https://www.pygmt.org/dev/api/generated/pygmt.Figure.plot3d.html.

I'm marking this as a good first issue as it should be easy enough to just copy and paste the description from https://github.com/GenericMappingTools/pygmt/blob/v0.3.0/pygmt/src/plot.py to https://github.com/GenericMappingTools/pygmt/blob/v0.3.0/pygmt/src/p

[2021-03-04 05:30] core-man commented on #983
At https://www.pygmt.org/dev/index.html#documentation-for-other-versions,

The latest release is also 0.3.0, right? Why do we list both of them? How about merging them into one term?

Same question for the left side-bar. Meanwhile, shall we move `dev` to be the first as the above list, or we can move the latest release to be the first in the above list?
<img width="291" alt="content" src="https://

[2021-03-04 05:35] core-man commented on #983
@GenericMappingTools/python  I am still a little confused why we need the [Quickstart](https://www.pygmt.org/dev/install.html#quickstart) subsection?
I think it is not for advanced Python users. But if it is for new Python users, shall we just recommend them to install PyGMT like [Installing GMT and other dependencies](https://www.pygmt.org/dev/install.html#installing-gmt-and-other-dependencies) a

[2021-03-04 07:10] weiji14 commented on #983
Yes 0.3.0 is currently the latest, but the URL is different. One is a dynamic URL https://www.pygmt.org/latest which always resolves to the latest version, the other one is a static version URL https://www.pygmt.org/v0.3.0 useful as a permalink. E.g. I could go to https://www.pygmt.org/v0.1.0 and get the documentation for some old pygmt module.

The quickstart was added in v0.3.0 (#865), and is me

[2021-03-04 07:57] core-man commented on #983
@weiji14 Thanks for the detailed explanations. I see~

[2021-03-04 10:17] #993 closed

[2021-03-04 16:47] meghanrjones opened #1003 "Add links between projection table and projection examples"
**Description of the desired feature**

Link to the various projection examples from the [projections table](https://www.pygmt.org/dev/projections/index.html#projection-table).

Pros: easier to find the projections listed in the table
Cons: slightly higher maintenance, since the references depend on the directory organization for sphinx-gallery which could change

I will open a PR as an example.

[2021-03-04 17:36] liamtoney commented on #949
I'd add `Path` objects if they're not already supported. :)

[2021-03-04 18:14] #942 closed

[2021-03-05 02:13] weiji14 commented on #963
Will need to have a think about where to store things as I create that PR. Probably won't have time to do this until v0.4.0 though.

[2021-03-05 02:15] #904 closed

[2021-03-05 05:58] core-man commented on #983
Currently, there is a note on almost every tutorial/gallery page:
![note](https://user-images.githubusercontent.com/50591376/110073155-e0456c80-7db9-11eb-9f49-8509fb834513.png)

Some pages miss it: [Gallery](https://pygmt-qneb8okqg-gmt.vercel.app/gallery/index.html), [projection](https://pygmt-qneb8okqg-gmt.vercel.app/projections/index.html), [subplots](https://pygmt-qneb8okqg-gmt.vercel.app/tutor

[2021-03-05 19:00] seisman opened #1009 "Add an example for double Y-axis graph"
![image](https://user-images.githubusercontent.com/3974108/110160884-9f9a2300-7dba-11eb-898f-66634b476396.png)

*Figure from https://www.originlab.com/doc/Origin-Help/Double-Y-Graph.*

This kind of base maps are commonly seen. In GMT or PyGMT, we need to make two base maps (with same x limits but different Y limits) and plot data points separately.

This is a good gallery example, but I'm not sure

[2021-03-05 20:02] seisman commented on #876
Here are some new thoughts about categories.

As documented in the [contributing guides](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#gallery-plots), a good gallery plot should "**highlight a single feature/command**". Usually, we only use one or a few plotting commands in one example. So, I think it's easier to decide the categories based on the plotting modules and fe

[2021-03-05 23:00] #1003 closed

[2021-03-05 23:06] mibillen opened #1010 "typo in tutorial page"
I found a typo on the top of a tutorial page that might lead to unnecessary confusion. The error is on this page: https://www.pygmt.org/latest/tutorials/first-figure.html.  In the note about how to show a figure using the default PDF viewer there is a a set of quotes missing in the text in red: fig.show(method="external). This should be fig.show(method="external")

[2021-03-05 23:13] seisman commented on #1010
@mibillen Thanks for pointing out the typos in the documentation. The typos have been fixed in #953.

Unfortunately, we can't make changes to the released documentation. Instead, you can view our dev documentation at https://www.pygmt.org/dev.

FYI, we're going to make a patch release v0.3.1 next week. After v0.3.1 release, the "latest" documentation will be correct.

[2021-03-06 01:48] #1010 closed

[2021-03-06 02:19] weiji14 opened #1011 "Make scatter plots gallery example colourblind friendly"
**Description of the problem**

The orange and green colours at the ["Scatter plots with a legend"](https://www.pygmt.org/v0.3.0/gallery/plot/scatter.html#sphx-glr-gallery-plot-scatter-py) gallery example can be hard to distinguish for people with red/green colour vision deficiencies. We should choose different colours instead if possible.

| [v0.3.0](https://www.pygmt.org/v0.3.0/gallery/plot/scat

[2021-03-06 04:36] seisman opened #1012 "Improve the docstring of the pygmt package"
[code]
If you run the above commands in a Python interpreter, you will see a help page like:
[code]
The description part is not helpful.

For comparison, you can run `help(numpy)`, `help(pandas)` or `help(matplotlib)` to see what the docstrings of other packages look like.

We should improve the docstring of the pygmt package by updating https://github.com/GenericMappingTools/pygmt/blob/master/pyg

[2021-03-06 11:36] core-man commented on #983
If my understanding is right, `+rincrement` option in the tutorial for [ISO code](https://www.pygmt.org/dev/tutorials/regions.html#iso-code) may mislead some new GMT users.

----

`+r` option in [GMT DOC](https://docs.generic-mapping-tools.org/latest/cookbook/options.html#data-domain-or-map-region-the-r-option)

Take `JP` as an example:
[code]
Output:
[code]

Use `[+r|R|e[incs]]` option:
- `JP+R1`

[2021-03-06 15:34] core-man commented on #983
`Session.put_strings` method is listed at https://www.pygmt.org/dev/api/generated/pygmt.clib.Session.html, but is not listed at https://www.pygmt.org/dev/api/index.html#gmt-c-api. So do we want to just ignore it at the second link?

[2021-03-06 17:33] seisman commented on #983
Yes, @weiji14 found the issue in https://github.com/GenericMappingTools/pygmt/pull/975#issuecomment-788425435, and I added it in #985. But #985 won't be merged recently, so you can open a PR fixing it if you want.

[2021-03-06 18:03] core-man commented on #983
Good to know. Waiting for that PR be merged.

[2021-03-07 06:05] seisman commented on #914
@GenericMappingTools/python @GenericMappingTools/gmt-contributors @GenericMappingTools/python-maintainers

We are close to the v0.3.1 release, and I think we can wrap up this issue. Does anyone want to work on it?

[2021-03-07 09:12] core-man commented on #914
I am working on it.

[2021-03-07 12:22] github-actions[bot] opened #1015 "Link Checker Report"
Errors were reported while checking the availability of links:
📝 Summary
---------------------
🔍 Total.........3580
✅ Successful....3079
⏳ Timeouts.........0
🔀 Redirected.......0
👻 Excluded.......498
🚫 Errors...........3

Errors in repository/MAINTENANCE.md
↯ https://hackmd.io/@pygmt (Invalid mail address: https://hackmd.io/@pygmt)
✗ https://zenodo.org/badge/DOI/10.5281/zenodo [404 Not Found]
✗ ht

[2021-03-07 12:37] core-man commented on #1015
@seisman @weiji14 @willschlitzer

I can open this link https://hackmd.io/@pygmt, but the report considered it as an email.

These two points seem to be a wrong error report for Point 2 in [Updating the changelog](https://github.com/GenericMappingTools/pygmt/blob/master/MAINTENANCE.md#updating-the-changelog)
[code]

[2021-03-07 13:58] core-man commented on #1009
A quick demo:
[code]
![Screenshot from 2021-03-07 21-57-45](https://user-images.githubusercontent.com/50591376/110242261-2fdd9100-7f90-11eb-8e3a-77859e4b05c9.png)

[2021-03-07 20:11] seisman opened #1018 "Add another gallery example for inset"
Currently, we already have a good and nice inset example at https://www.pygmt.org/v0.3.0/gallery/plot/inset.html. This example doesn't cover all use cases of insets.

Another common use case is plotting a rectangle in the inset map to show the area of the main figure. Below is an example (originally from https://docs.gmt-china.org/latest/tutorial/inset/):

![image](https://user-images.githubuserco

[2021-03-08 06:57] seisman opened #1021 "Support 2D list as input"
**Description of the problem**

PyGMT doesn't allow 2D list as input.

**Full code that generated the error**

The script below doesn't work:
[code]

but it works if I convert it to a 2D numpy array:
[code]

**Full error message**

[code]

[2021-03-08 07:03] seisman commented on #1021
The bug will be fixed by #990.

[2021-03-08 08:19] ria-19 commented on #1011
Can I work on this issue?

[2021-03-08 08:47] weiji14 commented on #1011
Hi @ria-19, this issue is already being worked on already at #1013. But you can find a list of other issues at https://github.com/GenericMappingTools/pygmt/contribute that we need help with. I recommend #908 which is not taken yet, though you're welcome to try another one too.

[2021-03-08 09:29] ria-19 commented on #1011
Okay, Thank you!

[2021-03-08 17:24] meghanrjones commented on #876
I like this organization, in particular because the features that are currently in 'maps and map elements' in #995 that are not exclusive to maps will be more aptly categorized as 'embellishments'. It's also nice to have the consistency with GMT terminology.

I think that the `grdtrack` example would be best placed in a **Data processing** section (which could also hold several of the other module

[2021-03-08 21:28] #914 closed

[2021-03-08 23:11] #1021 closed

[2021-03-09 00:55] #1015 closed

[2021-03-09 20:21] weiji14 commented on #987
Alright, since we're getting close to the release date, I've moved a couple of lower priority issues from the v0.3.1 to v0.4.0 milestone. We should definitely prioritize wrapping up the gallery reorganization #876 in the next day or two (since a few other PRs depend on it). I'd encourage everyone to help out in reviewing the open PRs, and I see that quite a few people have stepped up which is good

[2021-03-09 21:28] willschlitzer commented on #987
I'll do the change log

[2021-03-10 04:28] #1012 closed

[2021-03-10 07:26] willschlitzer commented on #892
@GenericMappingTools/python Can we close this issue?

[2021-03-10 07:38] core-man commented on #987
@weiji14 I am grateful to be listed as a collaborator.

[2021-03-10 08:41] weiji14 commented on #987
Yep, the DOI for v0.3.1 will be `10.5281/zenodo.4592991`.

Cool, just followed you on ResearchGate, you'll need to follow me back for me to add you as a collaborator according to https://www.researchgate.net/post/how_can_I_add_collaborators_to_an_existing_project (Same for anyone else wanting to join).

[2021-03-10 08:47] core-man opened #1035 "Misleading description for the spacing parameter of pygmt.info"
I find the description for **spacing** parameter of [`pygmt.info`](https://www.pygmt.org/latest/api/generated/pygmt.info.html#pygmt.info) may be a little misleading for new GMT users.

It seems that only when the **per_column** parameter is combined with **spacing**, then the numpy.ndarray output will be rounded up/down for *as many columns as there are increments* provided in **spacing**. Without

[2021-03-10 08:58] weiji14 commented on #1035
Yes you are correct here. Granted, we pretty much just copied the documentation from GMT, so it might be considered an 'upstream' issue.

I would advise against automatically setting `per_column=True`. There may be use cases where people don't want that to happen, someone's bug is another person's feature.

As mentioned above, this was copied directly from https://github.com/GenericMappingTools/gm

[2021-03-10 09:51] core-man commented on #1035
Submitted to GMT (https://github.com/GenericMappingTools/gmt/issues/4938).

[2021-03-10 16:18] michaelgrund commented on #892
Yes a full tutorial is still missing, I only provided a gallery example.

[2021-03-10 18:33] michaelgrund commented on #987
I will only be partially available on 14 March, however, if possible I could help out with updating the website etc. (as for the last release).

[2021-03-10 18:46] meghanrjones commented on #987
Since I previously said I would, I can create a twitter account and then hopefully transfer it later on to someone who understands how to use emojis. Instagram is over my head though, sorry. Do you think GMT/PyGMT twitter should be the same or different?

[2021-03-10 18:54] core-man commented on #987
I am available, but I am not good at social media outreach. Maybe I can help draft a release announcement for the forum at https://hackmd.io/@pygmt if it does not need any permission.

[2021-03-12 05:33] seisman commented on #876
I'll keep the PR open for more discussions.

[2021-03-12 09:14] #244 closed

[2021-03-12 09:33] willschlitzer commented on #987
Unfortunately "@pygmt" on Twitter is a suspended account; I think keeping PyGMT the same as the GMT Twitter is fine for now; I don't foresee the project tweeting that often.

Also, I registered "pygmt.dev@gmail.com" (pygmt@gmail.com was too short) if we want to start up a YouTube channel for tutorials and the like.

[2021-03-12 09:54] weiji14 commented on #987
Cool, just sent a hackmd invite to you and @michaelgrund too. I think most everybody is in but let me know if anyone else wants to join.

Thanks @willschlitzer for setting that up! I agree that using the same twitter handle for GMT/PyGMT is fine, people can always hashtag #pygmt to be more specific. Probably easier to use the GMT YouTube channel to post PyGMT content, but I'm sure we'll find a use

[2021-03-12 14:37] #1018 closed

[2021-03-12 15:37] seisman opened #1038 "The gallery thumbnails are too small"
**Description of the problem**

Here is a comparison between the [PyGMT gallery](https://www.pygmt.org/dev/gallery/index.html) and the [matplotlib gallery](https://matplotlib.org/stable/gallery/index.html)

|PyGMT | Matplotlib |
|---|---|
| ![image](https://user-images.githubusercontent.com/3974108/110960089-63b41000-831c-11eb-86ab-6bc074602ed6.png) | ![image](https://user-images.githubusercontent

[2021-03-12 15:50] seisman opened #1039 "Rename files in the tutorials using underscores"
Following #1034, we should use underscores for all Python files. We did the renaming in recent PRs, but there are still a few files in the [`examples/tutorials`](https://github.com/GenericMappingTools/pygmt/tree/master/examples/tutorials) directory that should be changed.

[2021-03-12 16:06] meghanrjones commented on #987
We're live on twitter! https://twitter.com/gmt_software

The 'handle' has to be 4+ characters (not GMT), less than 15 characters (not GenericMappingTools), and only alphanumeric characters and underscores. I came up with @gmt_software but if anyone has better ideas please feel free to share.

[2021-03-12 16:13] seisman commented on #987
It's really annoying 🤦

[2021-03-12 17:30] meghanrjones commented on #1039
I can address this issue

[2021-03-12 17:54] meghanrjones commented on #1038
I agree that 100% max-width looks better for the thumbnails. For the ROSES tutorial (and generally files in the .rst files), we can just set the width to 80% in the figure directive rather than relying on max-width. For any fig.show() output, I think it could be better to not scale the images at all given that it obscures the purpose of the *width* or *height* in **-J**.

[2021-03-12 18:12] #1009 closed

[2021-03-12 18:52] seisman commented on #764
I'm not sure if we discussed it before (github search shows nothing). Is "columns" a good alias for **-i** option?

GMT provides both **-i** and **-o**, for selecting columns of input and output, respectively (see https://docs.generic-mapping-tools.org/latest/std-opts.html).

GMT uses ``incols`` and ``outcols`` for their long options (see https://github.com/GenericMappingTools/gmt/blob/master/src/

[2021-03-12 19:23] seisman commented on #987
@meghanrjones Did you ask Leo or Paul if there is already a GMT (maybe suspended) Twitter account? I have the impression Leo may already create one.

[2021-03-12 19:25] cklima616 commented on #892
Hello! We’re a team of developers at Allegheny College seeking to contribute to open source communities as part of our Software Innovation course curriculum. We are happy to begin a “notebook” style tutorial, at least on plotting using the start/end and start/angle functions. @Nathandloria @noorbuchi  @munzekm

[2021-03-12 20:09] seisman commented on #1039
Closed by #1041.

[2021-03-12 20:09] #1039 closed

[2021-03-12 20:41] seisman commented on #892
@cklima616 Thanks for offering help. Let us know if you need help.

[2021-03-12 20:48] weiji14 commented on #764
I think the comment you're looking for is this:

_Originally posted by @seisman in https://github.com/GenericMappingTools/pygmt/pull/666#discussion_r511538159_

We kept `columns` as the alias for `i` because `contour` uses it too:

_Originally posted by @weiji14 in https://github.com/GenericMappingTools/pygmt/pull/666#discussion_r511538764_

Since renaming the alias for `i` will be a backwards inc

[2021-03-12 20:56] seisman commented on #764
Great searching skills! 😃

Yes to me.

[2021-03-12 20:57] maxrjones opened #1042 "Consistent (non-common) aliases between modules"
**Description of the problem**

The **-C** arguments (parameters) in [contour](https://docs.generic-mapping-tools.org/dev/contour.html#c) and [grdcontour](https://docs.generic-mapping-tools.org/dev/grdcontour.html#c) do essentially the same thing. But, PyGMT uses different aliases for these parameters in the two methods (``interval`` and ``level``). I think it would be better to use the same alias

[2021-03-12 21:04] meghanrjones commented on #987
I did not think this was the case but am double-checking now.

[2021-03-12 21:21] willschlitzer commented on #764
Sounds good. I'll update the milestone on it.

[2021-03-12 21:23] meghanrjones commented on #807
Could something like either ``pygmt/src/accessors.py`` or ``pygmt/src/xarray_extension.py`` work?

[2021-03-12 21:35] willschlitzer commented on #1038
I agree that bigger thumbnails look better.

[2021-03-12 21:59] willschlitzer commented on #1042
I'm not familiar with the use of the *-C* in `contour` or `grdcontour` and don't want to cause any breaking changes before v0.3.1, but they have very different documentation. In the future I think we should standardize names, but for now, should we copy the `interval` documentation from `grdcontour.py` and copy it into `levels` in `contour.py`? I notice that `interval` states it can accept an inte

[2021-03-12 22:21] meghanrjones commented on #1042
Works for me:

[code]

[2021-03-12 22:46] willschlitzer commented on #1042
Sounds good. I'll open a PR to copy the documentation.

[2021-03-13 00:15] weiji14 commented on #892
Welcome @cklima616 and others! Always happy to get more students into open source, Have a look at the ['tutorial' section of CONTRIBUTING.md](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md) and also the tutorials under https://github.com/GenericMappingTools/pygmt/tree/master/examples/tutorials to get started.

Also wanted to check on how long the course curriculum be? A w

[2021-03-13 01:17] noorbuchi commented on #892
@weiji14 @seisman Thank you for welcoming us and for being a friendly open source community. We are looking forward to work on this project! This cycle of the course will last until March 26th and we'll be trying to make contributions to this issue as well as others if it's feasible. It's likely that other cycles will focus on other projects but we're unsure yet. We'll also take a look at your con

[2021-03-13 02:41] weiji14 commented on #807
I'm ok with moving `pygmt.config` to `pygmt/src/config.py` since `gmt set` is a pure GMT function. But I'm inclined to keep `GMTDataArrayAccessor` outside of the `src` folder. Maybe do the following:

1. Move `class config` from `pygmt/modules.py` to `pygmt/src/config.py`
2. Rename `pygmt/modules.py` to `pygmt/accessors.py`

[2021-03-13 03:20] seisman commented on #807
Sounds good.

[2021-03-13 17:43] meghanrjones opened #1048 "Adding more links from API docs to user guide"
**Description of the desired feature**

#1044 added a link from the ``projection`` parameter to the [projections user guide](https://www.pygmt.org/dev/projections/index.html). I think it could be useful to add links from the API docs to the user guides for other parameters as well.

Here's a list of two of the most complicated common options and the related user guide pages.

- R (region) - user g

[2021-03-13 18:50] noorbuchi commented on #892
Hello @seisman! I recently started working on the tutorial and I was wondering about how I can preview the additions that I'm making. Since the tutorial files are in `.py` format, I can't open them using Jupyter to see how everything looks like. Any advice on this? Thanks!

[2021-03-13 19:46] #1038 closed

[2021-03-13 19:52] weiji14 commented on #892
[Jupytext](https://jupytext.readthedocs.io/en/latest/index.html) might be a good option to convert between jupyter notebooks and regular python files when working locally on your computer. I.e. you could work on a Jupyter interface first, and then use jupytext to convert it to a .py script for the PR.

Oh, and we also have Continuous Documentation set up so every Pull Request push has an associate

[2021-03-13 23:04] noorbuchi commented on #892
Thanks for linking these tools, I found Jupytext very helpful! I made a copy of `lines.py` and I've been trying to follow the formatting and structure to create examples for plotting vectors. I also finished one simple example so far and I wanted to check if it would be ok to create a work in progress pull request to keep track of our changes and get feedback.

[2021-03-14 01:41] meghanrjones commented on #807
I can help with this if needed.

[2021-03-14 09:42] weiji14 commented on #987
What about `@gmt_maps`? or `@gmt_team`? Feel like `@gmt_software` is a bit of a handful to type.

[2021-03-14 10:12] core-man commented on #987
Thanks. You are right. It is GMT **6.2.0**. The highlights at https://hackmd.io/@pygmt/v0-3-1_announcement were directly copied from the changelog draft in #1047 and will be updated when that PR is merged.

[2021-03-14 11:20] willschlitzer commented on #987
Release has been done on GitHub!

[2021-03-14 11:25] weiji14 commented on #987
And we are live on PyPI https://pypi.org/project/pygmt/0.3.1! I'll double check the package before uploading to Zenodo, got too paranoid with Murphy's Law during the last release.

[2021-03-14 11:59] michaelgrund commented on #987
Great work!!! Thanks for all your efforts 🚀 .

[2021-03-14 12:01] weiji14 commented on #987
Good work team, I'm heading off to bed so will delegate the rest to you all. No rush to do them, please enjoy the rest of your Sunday first!

@willschlitzer, will leave this to you.

Someone new could give this a go, see https://github.com/GenericMappingTools/try-gmt/pull/13 for an example.

Let's do the announcements on Monday (UTC time), I've edited the draft at https://hackmd.io/@pygmt/v0-3-1_a

[2021-03-14 12:10] michaelgrund commented on #987
Made some minor changes on your latest version @weiji14. Good night's sleep 😉.

[2021-03-14 13:32] core-man commented on #987
Good **global team** work. It seems the PyGMT team is working all the time in a day. Thanks to everyone. I've learned a lot during the last several weeks.

BTW, I'm going to use some gallery and tutorial examples to give **a preliminary introduction to PyGMT** to the Seismological Group at our university (i.e., Nanyang Technological University, Singapore) next week. See a draft [tutorial repositor

[2021-03-14 16:12] meghanrjones commented on #987
I have a couple recommended changes to the draft. Is it too late for me to edit the announcement? (obligatory grumble about the U.S. time shift making this even hard to track 😫)

[2021-03-14 16:14] core-man commented on #987
Of course, please help use polish it. I am heading off to bed and see you guys tomorrow.

[2021-03-14 16:24] meghanrjones commented on #987
@gmt_team is nice! I can update it to that before making the twitter announcement unless there are any other recommendations.

Regarding other accounts, Paul wasn't aware of any and I haven't heard back from Leo (which is good, since it's a weekend). My memory of the 2020-11-19 community meeting was that the previous attempt to create an account failed and that a new one would be necessary. The co

[2021-03-14 19:15] seisman commented on #987
There is already a Twitter user called "gmt_team", which was created in Jan 2017, almost the same time that Leo started his postdoc in Hawaii. That's why I'm wondering if this "gmt_team" account was created by him.

If "gmt_team" is not available, what about "gmt_dev"?