[2021-03-14 19:28] meghanrjones commented on #987
gmt_dev is fine too. I don't think that account is associated with Leo. The gmt_team user is only following one person who goes by GMT and is not related to the GenericMappingTools.

[2021-03-14 19:33] seisman commented on #987
I think you're right!

FYI, xarray and pandas also use "_dev", and numpy uses "_team" 😃

- xarray: https://twitter.com/xarray_dev
- pandas: https://twitter.com/pandas_dev
- numpy: https://twitter.com/numpy_team

[2021-03-14 19:35] meghanrjones commented on #987
Nice! Let's go with gmt_dev, since it's available. It should be all set to go now.

[2021-03-14 19:46] meghanrjones commented on #48
I think we can solve this by adding a link to https://docs.generic-mapping-tools.org/dev/devdocs/long_options.html in the contributing guide.

[2021-03-14 21:01] weiji14 commented on #597
FYI, https://github.com/GenericMappingTools/gmt/issues/4241 has been magically resolved, so this issue can be resolved when PyGMT bumps the minimum version to GMT 6.2.0!

[2021-03-14 21:09] meghanrjones commented on #597
Fixed by https://github.com/GenericMappingTools/gmt/pull/4849

[2021-03-14 22:18] weiji14 commented on #987
Wow, there's already 66 followers (and counting) at https://twitter.com/gmt_dev after the [forum announcement](https://forum.generic-mapping-tools.org/t/gmt-is-on-twitter/1461)!

Did another round of editing the draft at https://hackmd.io/@pygmt/v0-3-1_announcement. I'd appreciate a bit more proof-reading, and would prefer it if someone else does the posts it this time (literally just copying and

[2021-03-14 22:58] weiji14 opened #1059 "Curate a list of PyGMT community contributions"
**Description of the desired feature**

Team, what do people think about adding a "User Contributions" section on the sidebar (similar to https://docs.generic-mapping-tools.org/6.1/users-contrib-scripts.html). I think there's a lot of good examples (from workshops/papers/posters/etc) floating out there in the wild and it would be good to have a place to link to some of them

Some examples that I k

[2021-03-14 23:15] meghanrjones commented on #987
I can do the forum post. I did not really understand this statement in the announcement - ``version v0.3.1, a release with more than a handful of new gallery examples``. Is this stating that the number of new gallery examples is more than a handful or that the release includes more than just new gallery examples?

[2021-03-14 23:26] meghanrjones commented on #987
One other question about the forum announcement - would it be better for the highlights to link to the new pages rather than the PRs? The PRs can be found in the changelog and I expect that forum readers might be more interested in the product rather than the process.

[2021-03-15 00:06] weiji14 commented on #987
Cool, please do make the post! We do have a more than 5 new gallery examples, and that's what I meant by a handful, but probably nice if we can rephrase it a bit (feel free to make the change).

Good idea. Those were just copied from the [highlights section in the changelog](https://www.pygmt.org/v0.3.1/changes.html#highlights), but you're right that we could just link to the output (though not su

[2021-03-15 00:25] meghanrjones commented on #987
OK, I made some changes but feel free to change it back if you prefer.  Do you have a preference for whether the forum and twitter announcements are made tonight or tomorrow morning (EST | UTC-4)?

[2021-03-15 00:32] weiji14 commented on #987
Cool, I noticed you added back most `@username` links to GitHub. More just a minor point, but most of us have the same Github handle as on the GMT forum (myself @weiji14 included) and we could just use plain `@someone` instead of `[@someone](https://github.com/someone)`.

Let's do the forum announcement now. I can do the twitter announcement if you want (coordinate on the Slack channel), and I thi

[2021-03-15 00:36] meghanrjones commented on #987
🤦 Good to know. Would it be better for me to change them back now?

Sounds good.

[2021-03-15 00:52] meghanrjones commented on #987
Forum announcement is [posted](https://forum.generic-mapping-tools.org/t/pygmt-v0-3-1-released/1462)!

[2021-03-15 01:12] seisman opened #1060 "Add "announce the release on Twitter" to the release checklist"
GMT is now on Twitter (https://twitter.com/gmt_dev) and has >100 followers. For each PyGMT release, we will make announcements on the GMT website, forum, ResearchGate, and now also on Twitter. To avoid forgetting it, we need to add the "GMT Twitter account" to our release checklist.

You need to edit the [release checklist template](https://github.com/GenericMappingTools/pygmt/blob/master/.github/

[2021-03-15 02:54] seisman commented on #48
Why do we want to add the link in the contributing guide?

Should we just wrap up all aliases in the `COMMON_OPTIONS` dict?

https://github.com/GenericMappingTools/pygmt/blob/1fb9e2e4e523baaf3aaedb90d71872ede6d03bb7/pygmt/helpers/decorators.py#L15

[2021-03-15 02:55] seisman commented on #211
Can we close this 2.5-year-old issue? I don't think we will switch to cffi in the next few years.

[2021-03-15 03:01] weiji14 commented on #211
Yep, close it as wontfix. But feel free to reopen if someone wants to work on it :slightly_smiling_face:

[2021-03-15 03:01] #211 closed

[2021-03-15 03:57] seisman opened #1061 "Fail to open images in external viewer programs if running PyGMT in a Python script"
**Description of the problem**

Here is a simple Python script to reproduce the issue.
[code]
When I run the codes in a Python/IPython interpreter, it works well and can open the preview image. However, if I save it in a Python script and run it using `python test.py`, sometimes it can open the image but sometimes it fails and gives an error like (I'm using macOS):

![image](https://user-images.gi

[2021-03-15 05:11] core-man commented on #987
The announcement is great. Thanks for the revisions @meghanrjones.

[2021-03-15 05:48] core-man commented on #987
ResearchGate announcement is [posted](https://www.researchgate.net/project/PyGMT-A-Python-interface-for-the-Generic-Mapping-Tools).

[2021-03-15 06:45] core-man commented on #1061
I use CentOS 7.5 to test. Both two examples work in JupyterLab no matter if `time.sleep(0.5)` is added.

However, it shows the same bug as @seisman when running a script (I tried three times for each cases).
- The first example (only Figure 1) does not work and shows the same bug, but it works if `time.sleep(0.5)` is added.
- The second example (two figures) can display Figure 1 but cannot open Fi

[2021-03-15 12:10] core-man commented on #493
So we still want more line examples?
- error bar? Do error bar belong to lines?
- mat angles
- bezier
- decorated
- decorated text

Which one is on the top
priority? @seisman

[2021-03-15 14:54] seisman commented on #987
We have finished the v0.3.1 release! Great work! 🎉

[2021-03-15 14:54] #987 closed

[2021-03-15 16:03] #1060 closed

[2021-03-15 18:55] meghanrjones commented on #48
Is it decided that the current names of core GMT aliases will be used for all pygmt common aliases? #764 indicated that incols and outcols will be used; there's also distcalc versus spherical and possibly other common options that are wrapped in individual modules rather than decorators.py.

[2021-03-15 20:25] #966 closed

[2021-03-16 20:58] weiji14 commented on #892
Sorry for the late reply, got a bit sidetracked with a recent release. Yep, it is totally ok to create a WIP Pull Request, and we'd actually encourage it! You can create a 'draft' Pull Request by following the instructions at https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork. Let us know if you need any help.

[2021-03-17 05:05] seisman commented on #1059
I think a list of links in the PyGMT documentation is enough. A separate awesome-pygmt repository and site mean more maintenance burden on us.

[2021-03-17 05:56] seisman commented on #859
@PaulWessel It looks like a GMT bug. Please see if you can fix it when you have time.

[2021-03-17 06:48] willschlitzer commented on #563
More power to someone if they can come to the project and immediately wrap `histogram`, but I don't think this should be marked as a "good first issue"

[2021-03-17 10:12] willschlitzer commented on #1059
Are you envisioning this as just PyGMT-focused tutorial/posters/papers, or including geoscience (and other -science) work that uses PyGMT in it?

[2021-03-17 13:03] PaulWessel commented on #859
To keep it as simple as possible, can you demonstrate the same mismatch with -Fg300 or even better, -Fb300 ?

[2021-03-17 13:10] seisman commented on #859
CLI:
[code]

Python:
[code]
the output is even worse:
[code]

[2021-03-17 13:45] PaulWessel commented on #859
How would you do the equivalent of

[code]

in python, and does it differ then too (trying to make as small test as possible)

[2021-03-17 13:48] seisman commented on #859
[code]

output:
[code]

[2021-03-17 16:55] core-man commented on #563
This issue will be my highest priority after I finish #1065.

[2021-03-17 18:53] michaelgrund commented on #1059
Agree with @seisman. I think a list of links is sufficient.

[2021-03-17 23:21] meghanrjones opened #1073 "Add an example for Oblique Mercator projection"
**Description of the desired feature**

Add an example to the [projections section](https://www.pygmt.org/dev/projections/index.html#) of the PyGMT user guide showing in the three ways to define the Oblique Mercator projection.

References:

As always, the contributing guide: https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md
GMT documentation for the Oblique Mercator project

[2021-03-18 00:25] weiji14 commented on #690
Ok, some time has passed, and we should now be supporting Python 3.7+ and Numpy 1.17+ only as per [NEP29](https://numpy.org/neps/nep-0029-deprecation_policy.html).

I think we should do this. It should be relatively straightforward to set the desired numpy version to install after #1033. Currently we have 9 builds in total (3 Python versions x 3 Operating Systems). If we drop the middle Python ver

[2021-03-18 03:52] seisman commented on #717
I'd like to close the issue, because:

1. We already know that PyGMT sometimes crashes on Windows
2. We don't have any Windows developers to track the crashes
3. There are most likely issues of GMT, not PyGMT.

[2021-03-18 04:07] weiji14 commented on #963
Ok, #1036 has been merged which sets up data version control (dvc) for the PyGMT repo. The new `dvc` based workflow addresses the main con of using `@pytest.mark.mpl_image_compare` (storing large images in the repo) by storing them on https://dagshub.com/GenericMappingTools/pygmt instead (please create an account there everyone using your GitHub login).

We will slowly migrate the tests from `@che

[2021-03-18 04:43] #717 closed

[2021-03-18 14:26] core-man opened #1075 "The color parameter of plot and plot3d methods can be 1d array"
**Description of the problem**

We need to update the documentation for the `color` parameter in [plot](https://www.pygmt.org/dev/api/generated/pygmt.Figure.plot.html#pygmt.Figure.plot) and [plot3d](https://www.pygmt.org/dev/api/generated/pygmt.Figure.plot3d.html#pygmt.Figure.plot3d) because `color` can also be `1d array` (originally posted in https://github.com/GenericMappingTools/pygmt/pull/1065

[2021-03-18 14:46] seisman commented on #1075
If I understand it correctly, we only need to update the docstrings to mention that `color` can be a string or a 1darray?

[2021-03-18 15:08] core-man opened #1076 "plot and plot3d: Allow passing an array as symbol"
**Description of the desired feature**

We can now use a 1d array for `sizes` and `color` parameters, and `intensity` can also accept a 1d array after #1065. Therefore, we may also support a 1d array as `symbol` or `symbols` (originally posted in https://github.com/GenericMappingTools/pygmt/pull/1065#issuecomment-801212175).

---

The format of the input file of GMT `plot` (including both [**-S**]

[2021-03-18 15:15] core-man commented on #1075
I think so. May better to add a note like the `size` parameter for the [`plot`](https://www.pygmt.org/dev/api/generated/pygmt.Figure.plot.html#pygmt.Figure.plot) method.

Because we raise `GMTInvalidInput` when `color` is used with the `data` parameter just like the `sizes` parameter.

https://github.com/GenericMappingTools/pygmt/blob/1a2289a20519a4dbf1c78543acd4a654b981811e/pygmt/src/plot.py#L207

[2021-03-18 15:24] seisman commented on #1075
Sounds good. Maybe also need to mention that `cmap` is required if `color` is a 1darray (I don't check if it's true).

[2021-03-18 15:29] core-man commented on #1075
I think so. See GMT [plot](https://docs.generic-mapping-tools.org/latest/plot.html#S):

[2021-03-18 17:46] meghanrjones commented on #963
Wow, @weiji14 and @seisman this looks fantastic! Great job! I'm excited to try it out and find out whether it could be a solution for core-gmt's testing woes as well :smile:

[2021-03-18 23:16] seisman commented on #963
@weiji14 Perhaps you could open a separate issue or several issues with a list of TODOs so that people who want to help have a better idea of what to do.

**Question:** Do we want to do the migration before GMT 6.2.0 or after? I prefer to do the migration before v6.2.0, although it means more work for us. After bumping GMT to 6.2.0, most tests will fail due to the changes in GMT 6.2.0, but I feel

[2021-03-19 03:01] yebo-liu opened #1078 "Figure.text(): Support paragraph mode"
**Description of the desired feature**
I was trying to place some texts on my plot. The texts are quite long and require to be separated into paragraphs. Maybe I got something wrong, but it looks like the paragraph mode of gmt hasn't been wrapped in pygmt yet?

**Are you willing to help implement and maintain this feature?** Yes/No

[2021-03-19 03:08] weiji14 commented on #1078
Hi @yebo-liu, could you provide an example of your PyGMT script and the text that you want to plot? Are you trying to plot the text using `fig.text`, or in `fig.legend`, or somewhere else?

[2021-03-19 03:20] yebo-liu commented on #1078
Hi @weiji14 , thanks for the prompt reply. Please see below

`fig = pygmt.Figure()`
`fig.basemap(projection="W0/12i", region="g", frame=['30g30'],transparency=70)`
`fig.text(text='long texts',x=90,y=0,font='10p')`
`fig.show()`

![image](https://user-images.githubusercontent.com/56617247/111727012-fddc0100-88a4-11eb-98a1-f84371e239fa.png)

I'm not really familiar with PyGMT nor GMT. What I'm trying

[2021-03-19 03:38] weiji14 commented on #1078
Ok, I won't be able to reply for the next few hours, but maybe someone else can chip in.

There was some work on supporting long titles in `fig.basemap` at https://github.com/GenericMappingTools/gmt/pull/4562 (but that will be available in GMT 6.2.0, not the current 6.1.1). Alternatively, there might be a way to hack out a solution using `fig.legend` (see https://docs.generic-mapping-tools.org/6.1

[2021-03-19 04:42] seisman commented on #1078
@yebo-liu I believe it would be very trick to have a Pythonic way to support paragraph mode. Here is an PyGMT example modified from the official text manual (https://docs.generic-mapping-tools.org/dev/text.html#examples).
[code]

[2021-03-19 06:50] yebo-liu commented on #1078
Thanks @seisman and @weiji14 for your help. Your solutions solved my problem.

[2021-03-19 13:23] seisman commented on #1078
Reopen the issue as it's a useful feature.

[2021-03-19 16:02] seisman commented on #948
There is an "official" fork of [flakehell](https://github.com/life4/flakehell) at https://github.com/flakehell/flakehell.

[2021-03-20 04:29] seisman commented on #1078
The feature is not that hard to implement. The key here is the **-M** option (https://docs.generic-mapping-tools.org/dev/text.html#m):

To support paragraph mode, we need to prepare a file like this one.
[code]
`Figure.text()` already has parameters for x, y, font, angle, and justify, so the only thing we need to do is providing parameters for `linespace`, `parwidth` and `parjust`.

There are two

[2021-03-20 05:06] seisman opened #1082 "What's the most Pythonic way for long GMT arguments?"
For each GMT option, PyGMT usually provides a long-form parameter. For example, GMT CLI option **-B** is equivalent to **frame** in PyGMT. This is done by the alias system (the `use_alias` decorator), which automatically converts long-form PyGMT parameters to short-form GMT options. The alias system works well but has known limitations and issues (e.g., #256, #262).

Sometimes, GMT arguments are s

[2021-03-20 15:25] yebo-liu commented on #1078
，  to v南京！小米
VF崩溃

Get Outlook for Android<https://aka.ms/ghei36>

小 。
________________________________
From: Dongdong Tian ***@***.***>
Sent: Friday, March 19, 2021 9:20:45 PM
To: GenericMappingTools/pygmt ***@***.***>
Cc: yebo-liu ***@***.***>; State change ***@***.***>
Subject: Re: [GenericMappingTools/pygmt] paragraph mode in pygmt (#1078)

Reopened #1078<https://github.com/GenericMappingTools

[2021-03-20 15:31] meghanrjones commented on #963
@weiji14, could I please get added on DAGshub?

[2021-03-20 18:04] weiji14 commented on #963
Ok done

[2021-03-20 19:00] seisman opened #1086 "Exclude dvc related files from source distribution"
The new workflow in #1036 adds more files into the git repository and some files are included in the source distribution by default.

Run `make package` and check the files in the tarball `dist/pygmt-X.Y.Z.tar.gz`.

I see some new files in the source distribution:

- `.dvc`
- `.dvcignore`
- `pygmt/tests/baseline/*.dvc`

Some DVC images (e.g., `pygmt/tests/baseline/test_logo.png`) are also included

[2021-03-20 21:28] weiji14 commented on #1086
As you mentioned in https://github.com/GenericMappingTools/pygmt/issues/999#issuecomment-791093992_:

I think we should move towards trimming the size of the PyPI sdist (.tar.gz) and bdist (.whl) down to less than 1MB. This would mean that `pygmt.test()` at https://www.pygmt.org/v0.3.1/install.html#full-test-optional won't work out of the box. But really, what other Python package ships with a ful

[2021-03-20 21:49] meghanrjones commented on #48
I'll start wrapping the other common options and we can discuss alternate names if needed.

[2021-03-20 21:51] #807 closed

[2021-03-20 22:05] weiji14 commented on #48
Cool, have a look at other 'Add common alias for XXX) PRs like #994, #853, #662 as a reference. Maybe have a list of what other common option aliases needs to be done and we can split up the workload too.

[2021-03-20 22:18] meghanrjones commented on #48
Yes, I agree. Do you think it's best to post a list in this issue or create separate issues for the remaining common option aliases? My preference would be to create separate issues, because I think tasks are less likely to get lost that way and it would make splitting up the workload easier (people can either self-assign, post that they will be working on it, or open a linked PR).

[2021-03-20 22:22] weiji14 commented on #48
Up to you whether you want to open a separate issue. If it's just a couple, I was thinking that a comment with a tickbox list will do. You could even edit Leo's original comment on the top to keep track of things without scrolling down.

[2021-03-20 22:45] meghanrjones commented on #48
Checklist of unwrapped common option aliases

- [ ] a - aspatial
- [ ] b - binary
- [ ] d - nodata
- [ ] e - find
- [ ] g - gap
- [ ] h - header
- [ ] i - incols
- [ ] l - legend
- [ ] o - outcols
- [ ] s - skiprows
- [ ] w - wrap

[2021-03-21 15:59] meghanrjones opened #1091 "Wrap blockmean and blockmode"
**Description of the desired feature**

Wrap [blockmean](https://docs.generic-mapping-tools.org/dev/blockmean.html) and [blockmode](https://docs.generic-mapping-tools.org/dev/blockmode.html). As @weiji14 mentioned previously, much of blockmedian can be moved to a generic _blockm* function which can be used for all three block average estimation methods.

**Are you willing to help implement and mai

[2021-03-21 20:36] seisman commented on #1086
Matplotlib includes all baseline images in their source tarballs (~40 MB) (https://pypi.org/project/matplotlib/#files), but not in wheels (~10 MB). They recommend users to download the source tarball and extract the test codes and baseline images before doing tests (https://matplotlib.org/stable/users/installing.html#test-data).

Perhaps it's simpler to just upload the baseline images as GitHub re

[2021-03-21 21:23] meghanrjones opened #1094 "Incorrect parameter in Figure.meca()"
**Description of the problem**

[Figure.meca](https://www.pygmt.org/dev/api/generated/pygmt.Figure.meca.html#pygmt.Figure.meca) defines an alias as ``C = offset``. Based on the description of the ``offset`` parameter, I think this alias should be for the **-A** option in GMT's meca (https://docs.generic-mapping-tools.org/dev/supplements/seis/meca.html#a); **-C** is for giving a cmap for the compre

[2021-03-21 21:27] seisman commented on #1094
GMT made some changes to the **-C** option recently (https://github.com/GenericMappingTools/gmt/pull/4873), although it's still backward-compatible.

We should upgrade the `Figure.meca()` syntax to match the GMT 6.2.0 syntax.

[2021-03-21 21:29] meghanrjones commented on #1094
Thanks for pointing this out - lesson learned to check the 'latest' documentation in addition to the 'dev' documentation before posting.

[2021-03-21 22:22] meghanrjones commented on #48
@willschlitzer, do you think that the **-i** (``columns`` or ``incols``) description could be made general enough to include in `COMMON_OPTIONS` in `pygmt/helpers/decorators.py` as part of #1040, rather than adding the alias independently to each method that uses it?

Here's the list of GMT modules that use `incols` (not all are wrapped as PyGMT methods):
[code]

[2021-03-22 00:45] seisman commented on #48
Yes, we should. Docstring of any common options should be included in `COMMON_OPTIONS`. We should also rename `columns` to `incols`.

[2021-03-22 00:47] seisman commented on #1059
Do we need to ask for permissions if we want to add any repositories/websites to the list?

[2021-03-22 12:03] michaelgrund commented on #1059
Not sure, e.g. ObsPy lists several extensions to the main package etc. on their GitHub page. Maybe we do it in a similar way or ask them how they handle it.

[2021-03-22 12:59] core-man opened #1098 "The transparency parameter of plot/plot3d methods can be 1d array"
**Description of the problem**

We need to update the documentation for the ` transparency` parameter in [plot](https://www.pygmt.org/dev/api/generated/pygmt.Figure.plot.html#pygmt.Figure.plot) and [plot3d](https://www.pygmt.org/dev/api/generated/pygmt.Figure.plot3d.html#pygmt.Figure.plot3d) because `transparency` can also be `1d array`.

---

See the description  of the `transparency` parameter o

[2021-03-22 14:28] maxrjones opened #1099 "Improve input/output options for blockm* and grdtrack"
**Description of the desired feature**

_Originally posted by @weiji14 in https://github.com/GenericMappingTools/pygmt/pull/1092#discussion_r598541899_

- [x] Improve the **input** options for blockmedian, blockmode, and blockmean from only supporting pandas.DataFrame or file to supporting a file, matrix, pandas.DataFrame, or x/y/z.
- [ ] Improve the **output** options to support pandas.DataFrame

[2021-03-22 19:50] seisman commented on #1059
At least most of the tutorials/examples are owned by our project maintainers/contributors. So at least we can list these sites and ask users to contribute more to the list:

[2021-03-22 21:54] weiji14 commented on #1099
I'll take the blame for this one. Just for context, the " pd.DataFrame in, pd.DataFrame out; filename in, filename out" restriction was added in a37fb0aa3fef025eb1c723039060caa0489fcab1 when I was wrapping the `grdtrack` function at #308. Some of the `blockmedian` code was based on `grdtrack`, and was not really questioned ever since.

So we should also update the `grdtrack` code as well to have t

[2021-03-23 08:39] weiji14 commented on #1076
A bit of a side issue, but do you think we can make a generic `_plot` function that shares some common code between `plot` and `plot3d`, as is being done with `blockmean` and `blockmode` at #1091?

[2021-03-23 09:23] core-man commented on #1076
I quickly checked the current source codes of those two methods in PyGMT, which are the same except that `plot3d` has an additional `z` parameter. So I think it's a good suggestion to make a generic `_plot function`.

[2021-03-23 13:04] seisman commented on #1076
There are still many unimplemented and complicated features/options in plot and plot3d. I would prefer **NOT** to make the generic `_plot` function until we have more thoughts on the possible features and changes.

[2021-03-23 13:14] core-man commented on #1076
That's true. Actually, I think I found two bugs when I try to work on this issue for the `plot` method. Will double-check before submitting them.

[2021-03-23 13:44] seisman commented on #1098
Sounds good to me.

[2021-03-23 13:51] meghanrjones opened #1111 "Providing a datasets.download_test_data() method"
**Description of the desired feature**

Tests are more reliable if the remote datasets are downloaded before running the tests, in particular if any are run in parallel. Developers only really need to worry about this once, but it still could be confusing for new contributors if tests fail because of the remote file mechanism. On the GMT-side `gmt get -Dcache` and `gmt get -Ddata=earth -I1m -N` ca

[2021-03-23 14:46] core-man commented on #1076
For this issue, shall we create a new parameter called `symbol` or `symbols` (which one is better?) to accept 1d-array symbols or just use the `style` parameter instead? I prefer to have a new parameter, just like the `sizes` parameter (I dont' understand why we add a **s** at the end) of the `plot`/`plot3d` method. How do you think?

[2021-03-23 15:14] seisman commented on #1076
`plot` is one of the oldest wrappers in PyGMT, and the parameters are not carefully chosen. We had some discussions in the GMT Community meeting, and I think we agree that we will change `sizes` to `size`.

I'm not sure if we should reuse `style` or not. If you'd like to work on this feature, I think you can use `symbol` first, then we can decide which one is better based on your changes.

[2021-03-23 15:47] core-man commented on #1076
Sound great.

Great. I will try~

[2021-03-23 16:08] seisman opened #1112 "Add instructions to clean up files tracked by DVC"
Running `dvc pull` can download the PNG images tracked by dvc, but how can I remove these images?

I want to remove these dvc-tracked PNG images, so that:

1. it's easier to know which images are still tracked by git
2. I can have a refreshing download of all dvc-tracked images when I feel that something is wrong.

I had a quick look at the dvc command reference but did't find the command.

The co

[2021-03-23 17:08] meghanrjones commented on #1112
Not sure the answer to your actual question, but I suspect that viewing here might be the easiest way to see what's still tracked by git (https://dagshub.com/GenericMappingTools/pygmt/src/master/pygmt/tests/baseline) if my interpretation is correct that the files with the different symbol and blue highlighting are on DAGsHub.

[2021-03-23 18:37] weiji14 commented on #1112
How about removing the `.dvc/cache/` folder? Technically all the PNG images are just reflinks (assuming you are using a modern-ish folesystem), see https://dvc.org/doc/user-guide/large-dataset-optimization#file-link-types-for-the-dvc-cache.

I did think about adding `rm -rf .dvc/cache/` to the Makefile, but not sure if that's what you mean.

[2021-03-23 18:47] seisman opened #1113 "Discuss and document the Pull Request review process"
During the release v0.1.0 and v0.2.1, @weiji14 and I were the only active maintainers of the project. We usually submitted PRs, waited for approval from the other one, and then merged PRs immediately after approval.

Now the team is growing quickly, and we have more maintainers and contributors comment on PRs, so we usually do **NOT** merge PRs immediately after one approval. The review process he

[2021-03-23 19:28] willschlitzer commented on #1112
Just unsuccessfully tried to do this. `dvc` does have a `remove` command, but that didn't accomplish what I was hoping to do (delete unused `solar` test images from `dvc`)

[2021-03-23 19:47] meghanrjones commented on #1113
Thanks for starting this conversation! In addition to the aspects you mentioned, I would find it helpful to get some clarity on people's preferences for if/when to request specific reviewers (rather than generally marking 'ready for review'). Only people with write access can request reviewers, so this isn't relevant for all PRs. Still, the review request process for PyGMT confused me at first reg

[2021-03-23 20:31] meghanrjones commented on #1113
I am skeptical that one rule could apply to all PRs. For example, I would prefer to see more opportunity for people to comment if #379 gets a 'final review call' (order days) since it's a outward facing change, while I would really be fine if #1110 were merged immediately after one approval.

[2021-03-23 20:39] zhen-dong-zhang opened #1114 "Fill positive areas in ploting (add GMT wiggle module)"
Hi,
I'm new to pygmt and wondering how to fill the positive areas in plotting?
Please find the figure below for more information:
![fill](https://user-images.githubusercontent.com/74623393/112215036-47ef1a80-8bf6-11eb-8253-c100a041c559.png)
Thanks for your attention.
Best Regards,
Zhendong

[2021-03-23 21:06] weiji14 commented on #1113
Just on this, I think that people with maintenance permissions should get into the habit of merging in their own Pull Requests, once it is approved and past the 24hr threshold or so.

This is actually a good idea. It helps people to keep track at https://github.com/pulls/assigned on what they have to do. How about we make it a habit to assign 2 people to each PR (the person who opened it, and one

[2021-03-23 21:26] whyjz commented on #770
Hi folks, Firstly thanks @weiji14 for bringing me to this discussion thread! I have been writing some GMT tutorial posts on my [gmt-tutorials.org](https://www.gmt-tutorials.org/en) site, and in February I started to include PyGMT in some posts. [This](http://gmt-tutorials.org/en/coloring_topography.html#pygmt) is an example of what I am doing and plan to do: for each map, I provide both a GMT scri

[2021-03-23 21:28] willschlitzer commented on #1113
I think it would be a good idea to have some sort of delegation to individuals approving PRs. I know I'm hesitant to merge a PR (of the few I've done) without getting @weiji14 or @seisman to sign off on it first. I think it would be good to delineate the roles for the different maintainers; something like certain maintainers handle documentation-related PRs, others handle wrapping new functions, s

[2021-03-23 22:45] weiji14 commented on #770
Welcome @whyjz! Thanks for providing the links, I think that your website is really well thought out, and it fills in an important gap we have on the ['understanding-orientated'](https://documentation.divio.com/#about-the-system) side of PyGMT's documentation as mentioned by @meghanrjones at https://github.com/GenericMappingTools/pygmt/issues/770#issuecomment-780680084. The translation system is a

[2021-03-23 23:17] meghanrjones commented on #1113
A solution here is to publish the list of people who are trusted by the PyGMT project with the privilege and responsibility of merging pull requests (i.e., maintainers and admins combined) - similar to the [numpy team gallery](https://numpy.org/gallery/team.html). Anyone can review a pull request, but (at least one) of these people are needed to approve for merging.

[2021-03-24 00:14] meghanrjones commented on #1114
It's not included in PyGMT yet but your request sounds similar to GMT's wiggle module. Can you take a look at the documentation for [wiggle](https://docs.generic-mapping-tools.org/latest/wiggle.html) and let us know if this suites your request? If so, we can convert this into a feature request for a wiggle method in PyGMT. Here's the output from an example in the GMT docs:

![wiggle](https://user-

[2021-03-24 00:39] zhen-dong-zhang commented on #1114
Hi Meghan,
Thanks a lot for your reply.
Yes, it is wiggle plotting, which is very popular in exploration geophysics.
I have implemented it by using matplot. But it would be helpful if pygmt can have this function.
Best Regards,
Zhendong

[2021-03-24 01:33] meghanrjones commented on #1114
Hi Zhendong,
I am glad you found a way to make the plot and agree that this would be a nice function to have in PyGMT! We'll keep the issue open and I will add the GMT module name to the title of your GitHub issue so that developers can find it easier to work on.
Best regards,
Meghan

[2021-03-24 02:40] weiji14 commented on #1113
Lots of good ideas here! There seems to be two main themes flowing through this thread:

1. What the **contributor** cares about: The Pull Request review _process_ itself, which is the original topic of this issue, and this should be documented in CONTRIBUTING.md (or a more detailed page like the NumPy example).

2. What the **maintainer** cares about: Who do we assign to do the code review? GitHu

[2021-03-24 02:43] zhen-dong-zhang commented on #1114
Hi Meghan,
Thank you for taking the time and effort in adding the module.
I'm looking forward to it.
Best Regards,
Zhendong

[2021-03-24 05:40] seisman commented on #891
Implemented in #1065 and #1109.

[2021-03-24 05:40] #891 closed

[2021-03-24 06:33] core-man commented on #1113
Woow~ I even don't know it. This is a really great functionality (Thanks @meghanrjones ). When I look through the PR and Issue list, I don't know which maintainer or reviewer is reviewing it until I click that PR/Issue. I think this can help PyGMT maintainers/contributors know which PR still needs help. For example, If a PR is assigned to @meghanrjones, we will know she is willing to be in charge

[2021-03-24 06:53] core-man commented on #1113
Sounds great~

I am still a little confused after I submit a PR. They are also directly related to the above topic about maintainer assignment.

1. Whether shall I request one or more reviewers? If yes, who (usually there are some suggested reviewers on the right sidebar)? Currently, I will let the PR as a draft and wait, because some maintainers/contributors always are willing to help without req

[2021-03-24 10:30] core-man opened #1118 "Rename the sizes parameter in plot/plot3d to be size"
**Description of the problem**

Both [plot](https://www.pygmt.org/latest/api/generated/pygmt.Figure.plot.html#pygmt.Figure.plot) and [plot3d](https://www.pygmt.org/latest/api/generated/pygmt.Figure.plot3d.html#pygmt.Figure.plot3d) have the `sizes` parameter that are used to plot symbols with different sizes. However, `size` is used in GMT documentation. Shall we rename this parameter to be `size`?

[2021-03-24 17:19] meghanrjones commented on #983
Lots of great work here, @core-man! Are there any other PRs that you plan to submit as part of this issue or is it ready to be closed?

[2021-03-24 17:47] core-man commented on #983
Thanks for the reminding. Actually, the initial topic at the top is not discussed and not resolved because I begin to work with you from this issue and go off-topic later. Which one shall we use, `'string'`, ` ``string`` `, or ` ``'string'`` `?

I think we may discuss here and revise some documentation when a PR works on it in future instead of finding and revising all of them in a PR. How do you

[2021-03-24 21:07] weiji14 commented on #1113
@core-man, how about you tackle this 1st task with me (since you're a bit newer and probably closer to this). I'll open up a PR to start (and assign the two of us). Just found a really good resource https://github.com/joho/awesome-code-review, but let's discuss more details in the PR itself (and others are welcome to chip in too).

On the 2nd task, I think @meghanrjones and @seisman should handle

[2021-03-24 21:14] #690 closed

[2021-03-24 21:38] meghanrjones commented on #1113
I'm not really clear on what the second task is. Is it to set up automated code review assignments? Are we sure that's helpful here? We don't have all *that* many maintainers and the amount of time that any given maintainer has available for PyGMT reviews could fluctuate without us or the routing algorithms knowing. My opinion is that maintainers should just assign themselves to PRs that they are

[2021-03-24 21:44] meghanrjones commented on #1113
Ah, I see that these are probably the two tasks:

Sorry, I was a bit confused the quote of @core-man's two questions. If this is right, sounds great and I can work on the second with @seisman.

[2021-03-24 21:48] weiji14 commented on #1113
You're right, we're probably not at that stage yet with many (>10) maintainers. I think Will had a point in https://github.com/GenericMappingTools/pygmt/issues/1113#issuecomment-805275155 that we should have some sense of ownership on different parts of the code. But I'll leave it up to you to decide whether to use a manual, semi-automated or fully automated PR reviewer assignment method. Just nee

[2021-03-24 21:54] meghanrjones commented on #1113
Sounds good. I could work on this in a couple days after finishing some core GMT stuff (I swear, we're close on 6.2), but if @seisman or anyone else wants to start on documenting this before then that is fine by me.

[2021-03-24 22:03] weiji14 commented on #1113
Yes, GMT 6.2 is the top priority, no pressure though.

[2021-03-25 00:56] meghanrjones commented on #983
Even though it looks a bit silly in the source code and it’s different than pandas and other packages, I actually like how ``` ``'string'`` ``` gets rendered in the html docs. I haven't checked about how it looks in notebooks or other python environments - is that the main reason for changing to `'string'`?

[2021-03-25 02:38] seisman commented on #1076
@core-man Thanks for your quick PR in #1117. Here are the possible ways to set symbols and sizes after your PR. I feel some of them are not intuitive to me.

Although we use `style="cc"` in our documentation, I still don't think it's not easy to understand.

I believe most users would use `symbol=symbol` + `sizes="0.5c"`.

The `style=True` should NOT be required.

[2021-03-25 02:46] seisman commented on #1118
As the `sizes` parameter is used a lot, we should be careful with backward-compatibility.

[2021-03-25 03:23] seisman opened #1120 "Backwards compatibility and deprecation policy"
As stated in many places, PyGMT is still not a finished project:

So we're allowed to break backward-compatibility in any major and minor versions. However, from users' point of view, they would be disappointed when they find that their scripts break after upgrading PyGMT. There are always be some trade-offs between users' and developers' experiences.

We now already have some open issues that mig

[2021-03-25 05:00] seisman commented on #247
NOTE: the [`list2cmdline`](https://github.com/python/cpython/blob/3.9/Lib/subprocess.py#L533) function may be helpful.

[2021-03-25 13:12] core-man commented on #983
I think we have five ways to show a string value in the docstring. Please see the table below. Meanwhile, we can use either ' or " in the python source code to indicate a string value.

1: ' | 2: " | 3: ' + `code` | 4: " + `code` | 5: `code` only
:---: | :---: | :---: | :---: | :---:
<img src="https://user-images.githubusercontent.com/50591376/112471906-74966400-8da7-11eb-8ba2-16df5b84a513.png" wi

[2021-03-25 13:16] core-man commented on #1113
Okay~ :smile:

[2021-03-25 15:22] core-man commented on #1076
We can use `style="c"` for this case because the default unit is **c**etimeter. The unit can also be set by the [PROJ_LENGTH_UNIT](https://docs.generic-mapping-tools.org/latest/gmt.conf.html#term-PROJ_LENGTH_UNIT) using the `config` method.

That's true, but it seems that `sizes` cannot work for a string input now.

Good suggestion. Will include in #1117.

---

@seisman based on your comments, I t

[2021-03-25 16:57] meghanrjones commented on #983
Great summary! To start, want to open a PR adding your recommended documentation conventions for these two topics to the CONTRIBUTING.md [**example code standards** section](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#example-code-standards)? People could recommend revisions to the guidance through a PR review if necessary - but these seem like a good starting point.

[2021-03-25 17:28] core-man commented on #983
How about waiting for comments from other contributors and maintainers here for 1-2 days? Maybe they have better ideas.

[2021-03-25 17:37] meghanrjones commented on #983
I thought that only people who would be aware of this conversation are those who have notifications turned on for every event in the PyGMT repo and the two others who have commented here (but on unrelated documentation topics), meaning that opening a PR would probably involve more people into the discussion without needing to open a separate, more focused issue. But, if you want to wait that is fi

[2021-03-25 17:58] core-man commented on #983
Woow~ I see. Thanks a lot for the explanation :smile: . Let's open a PR.

[2021-03-25 18:01] meghanrjones commented on #983
I hope my comment did not come across as a rebuke and am very sorry if it did - there's definitely merits to both paths fowards.

[2021-03-25 18:05] core-man commented on #983
Not at all, I think you are right. I thought all of us turn notifications on for every event. I am heading to bed now and will work on it tomorrow.

[2021-03-25 18:07] seisman opened #1123 "Fix "pandas.Dataframe" to "pandas.DataFrame" in pygmt/datasets/samples.py"
In [pygmt/datasets/samples.py](https://github.com/GenericMappingTools/pygmt/blob/master/pygmt/datasets/samples.py), sometimes we use "pandas.Dataframe", but the correct name should be "pandas.DataFrame" (capital **F**).

[2021-03-25 18:18] seisman commented on #983
Single-quotes and double-quotes are the same in Python. Our codes use double quotes following the `black` code style. I think we should also use double quotes in docstrings.

Another alternative way is using bold text, for example, **05m**, as bold text means literal arguments in both GMT and PyGMT documentation.

[2021-03-25 19:28] seisman commented on #1113
Lots of great discussions here!

I agree that assignment is a good idea.

- For issues, it means he/she will work on the issues
- For PRs, it means he/she will do most of the reviews (others can still help) and merge the PR. Maintainer can also merge their own PRs after approvals.

I'm in favor of the manual PR reviewer assignment, based on maintainers' own availability and interests.

Yes, I once

[2021-03-25 19:37] michaelgrund commented on #1113
I followed the discussion only from the sideline so far, sorry. However, I agree with most given suggestions and answers to make the whole review process easier and more powerful. On the other side, I wouldn't cast everything in stone to allow at least some flexibility.

[2021-03-25 23:22] #1123 closed

[2021-03-26 04:36] seisman commented on #1035
The upstream documentation issue has been fixed in https://github.com/GenericMappingTools/gmt/pull/5014.

[2021-03-26 10:43] core-man commented on #1114
@zhen-dong-zhang you could still call [wiggle](https://docs.generic-mapping-tools.org/latest/wiggle.html) even though we have wrapped it. See an example below modified from [Examples](https://docs.generic-mapping-tools.org/latest/wiggle.html#examples)

GMT command line:
[code]

PyGMT `call_module` method:
[code]

![wiggle](https://user-images.githubusercontent.com/50591376/112619939-df58a580-8e62-

[2021-03-26 16:30] #1035 closed

[2021-03-26 17:09] michaelgrund commented on #1120
I'm definitely a fan of backwards compatibility, however, if some points are changed to improve the overall product one has to think about how this should be handled. For example, when I started using PyGMT in 2019 several aliases were not implemented but now they are. Of course we support both, original GMT shortcuts and aliases and thus my notebooks will still work, however, some other things li

[2021-03-26 18:04] rdcorona opened #1129 "pygmt.Figure.meca offset not working"
I am using pygmt to graph focal mechanisms with magnitude scale.
However, when I try to give it an offset so that they don't pile up the function doesn't seem to work.

I'm using :

[code]
where all the objects are lists with real (float) values

**System information**
[code]

Do I make something wrong?

[2021-03-26 19:41] seisman opened #1130 "Change non-ASCII quotes “ to ASCII quotes ""
The following files use non-ASCII double quotes `“”`, but ideally we should use ASCII double quotes `""`:
[code]

[2021-03-26 20:58] shahid-0 commented on #1130
i will ready to  take this issue

[2021-03-26 21:04] seisman opened #1131 "Migrate tests to use dvc-tracked baseline images"
After #1036, we start to use the new `dvc` based workflow for baseline images. We need to migrate existing baseline images to dvc, and also rewrite some tests. Please read the [Testing Plots](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#testing-plots) section in the contributing guides for the details of the new `dvc` based workflow. (Related to #963)

This issue tracks

[2021-03-26 21:05] seisman commented on #1130
@shahid-0 Thanks for your help! Let us know if you need help.

[2021-03-26 21:32] seisman commented on #1120
IMHO, we should try our best to:

1. Keep backward-compatibility
2. Raise deprecation warnings if users are using the old syntax
3. Fully deprecate old syntax or remove unsupported feature after _X_ minor versions or _X_ months.

[2021-03-27 05:46] seisman opened #1132 "Let PyGMT accept a 1d array when 2d array is needed"
The issue was first found in https://github.com/GenericMappingTools/pygmt/pull/1070#discussion_r602617399.

Below is a simple example plotting a circular vector. The `data` parameter expects a 2D array/list. Each row is a record, and the 5 columns are `[x_start, y_start, radius, degree_start, degree_stop]`.

The following script works as expected because the variable `data` is a 2D array/list:
[co

[2021-03-27 05:47] seisman commented on #1132
Similarly, parameters like `x` and `y` usually expect a 1D array/list, but PyGMT allow passing scalar values to them.

[2021-03-27 05:54] seisman commented on #859
Ping @PaulWessel just in case you forget it.

[2021-03-27 06:01] adii095 commented on #1130
Can we create a new python file that goes through all the above files in the directory and then replaces occurrences of non-ASCII double quotes to ASCII as requested? Is that the way to do it?

[2021-03-27 06:13] seisman commented on #1130
The easiest way is to edit the above files manually. Of course, you can write a simple Python or Shell script to do the job automatically.

[2021-03-27 06:28] seisman opened #1134 "Change the title of the "Set the region" and "Plot lines" tutorials"
The PyGMT documentation has several tutorials (see the User Guide in the sidebar on https://www.pygmt.org/dev/). Most of the tutorials have titles like "Plotting XXX", "Adding XXX", or "Creating XXX", except for two tutorials.

- The title of the [lines.py](https://github.com/GenericMappingTools/pygmt/blob/master/examples/tutorials/lines.py) tutorial is "Plot lines", and should be changed to "Plot

[2021-03-27 06:37] iamayushdas commented on #1134
Assign this to me

[2021-03-27 06:37] seisman opened #1135 "Use smaller figure dimensions in the "Plot lines" tutorial"
Examples in the [Plot lines](https://www.pygmt.org/dev/tutorials/lines.html) tutorial all use the `projection="X25c/20c"` argument, which sets a 25cm X 20cm figure.

The figure dimensions (25cm X 20cm) is too large, making the annotations too small to see.

Additionally, figures with large dimensions also have larger sizes, and are slower to generate. We should update the examples to use smaller f

[2021-03-27 06:43] xdshivani commented on #1135
Assign this to me

[2021-03-27 08:14] shahid-0 commented on #1130
Hi I create the python file and change the code but when I push the file to the repository this will me this issue "error: failed to push some refs" so as a beginner I don't know how to resolve this issue

[2021-03-27 09:43] core-man commented on #1130
Could you present the git commands you use? Or you could refer to Aaron Meurer's [tutorial on the git workflow](https://www.asmeurer.com/git-workflow/).

[2021-03-27 10:07] core-man commented on #1129
I can re-produce this potential bug using [Focal mechanisms](https://www.pygmt.org/dev/gallery/seismology/meca.html#sphx-glr-gallery-seismology-meca-py) gallery example.

[code]
![meca](https://user-images.githubusercontent.com/50591376/112717373-32942c00-8f27-11eb-934e-d9924d1e983e.png)

[2021-03-27 10:53] shahid-0 commented on #1135
I am ready to do this. assign me

[2021-03-27 15:45] noorbuchi commented on #1132
Hello! I tried the example you mentioned in the issue description and I got this error message.
[code]
So it looks like even passing a 2D array would cause an error. To solve it, I had to pass the 2D array into a `numpy` array object to see the plot.
I don't know if it's important to know but I ran the code using Jupyter Notebook.
[code]

[2021-03-27 15:52] seisman commented on #1132
It works for me. What's your PyGMT and GMT versions?
[code]

[2021-03-27 15:57] noorbuchi commented on #1132
This is what I got:
[code]

[2021-03-27 15:59] seisman commented on #1132
You're using PyGMT v0.3.0, but the latest one is v0.3.1. I think the `'list' object has no attribute 'flags'` error was fixed in #990.

[2021-03-27 16:02] noorbuchi commented on #1132
That makes a lot of sense! I haven't been keeping up with the latest updates. I'll try updating and see if it fixes the issue. I'll keep you posted

[2021-03-27 16:26] noorbuchi commented on #1132
I just updated to v0.3.1. and your example is working! It still doesn't accept 1D array as you mentioned

[2021-03-27 19:04] #1135 closed

[2021-03-27 20:32] seisman commented on #1086
These images are included in the source distribution because the following line:

https://github.com/GenericMappingTools/pygmt/blob/74c93662a5a046ecd0f1d1710eb5118204a35ecb/setup.py#L21

[2021-03-27 21:14] seisman commented on #1086
Here are the rules about which files are included in the source distributions:

- All files tracked by git are included
- Any files in the _baseline_ directory are included (no matter the files are tracked by git or not)
- Any files listed in the `MANEFEST.in` files are excluded.

In the "Publish to PyPI" workflow, we don't run the `dvc pull` command, so the dvc-tracked baseline images are not in

[2021-03-27 22:14] seisman commented on #631
I think we can document it in the ["Example code standards"](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md#example-code-standards) section, then close the issue, right?

[2021-03-28 01:07] PaulWessel commented on #859
Was starting to look using my new M1 laptop but first have to install miniconda and that got me this far:

bash ~/Downloads/Miniconda3-py39_4.9.2-MacOSX-x86_64.sh
WARNING:
    Your operating system appears not to be 64-bit, but you are trying to
    install a 64-bit version of Miniconda3.
    Are sure you want to continue the installation? [yes|no]

Some googling talks about condo running in emula

[2021-03-28 14:10] #1086 closed

[2021-03-28 14:27] #1134 closed

[2021-03-28 20:35] seisman commented on #1111
After we finish the migration of the baseline images to DVC, the source tarball and binary wheels won't contain baseline images. It means that users who install PyGMT via `pip` or `conda` cannot run tests.

I'm think if we should have a `pygmt/testing.py` module. The module can provide two functions:

1. `pygmt.testing.download_baseline_images()`: runs `dvc init`, `dvc remote` to setup the remote

[2021-03-29 22:57] meghanrjones commented on #631
Yes, I can add that guideline after #1126 is merged.

[2021-03-30 15:33] meghanrjones opened #1149 "Bump sphinx rtd theme to fix search indexing"
**Description of the problem**

The search functionality for the PyGMT docs does not work for v0.3.0 onwards. I have locally confirmed that the search functionality works on the dev docs if sphinx_rtd_theme=0.4.3 is bumped up to 0.5.1 (the latest release).

[2021-03-31 13:47] #1149 closed

[2021-03-31 16:26] meghanrjones opened #1151 "Update CSS for sphinx_rtd_theme 0.5.1"
**Description of the problem**

#1150 updated sphinx_rtd_theme to 0.5.1, which fixed the search problem but added unnecessary whitespace to the parameters section (see https://github.com/GenericMappingTools/pygmt/pull/629 for context). The custom CSS in `doc/_static/style.css` should be updated for improved appearance with the latest sphinx_rtd_theme release.

[2021-03-31 16:30] meghanrjones commented on #1151
I can update the custom CSS, but probably will not have time to do so right away. Anyone is welcome to comment or self-assign if they are interested in addressing this issue instead.

[2021-04-01 00:28] seisman opened #1152 "Remove the extra period from the copyright information in the footer"
If you visit the PyGMT dev documentation (https://www.pygmt.org/dev/) and scroll down to the bottom, you will see there are two periods after "The PyGMT Developers" in the copyright (see the screenshot below):

![image](https://user-images.githubusercontent.com/3974108/113226810-14983580-925f-11eb-81ed-04269345fdbd.png)

One period is hard-coded in the sphinx_rtd_theme template (v0.5.1) and anothe

[2021-04-01 01:49] itsabhianant commented on #1152
Hi @seisman,

I have read the issue and also got how to fix it. I really want to fix this issue. Could you please assign this to me?

Best,
Abhishek

[2021-04-01 01:51] seisman commented on #1152
@itsabhianant Great. Assigned to you.

[2021-04-01 03:30] seisman commented on #1129
I can reproduce the issue, and now know why it fails. Unfortunately, there is no workaround now.

[2021-04-01 03:50] rdcorona commented on #1129
Hello seisman.
So, we'll have to wait for the 0.4.0 release.🤷🏻‍♂️

Thanks for the reply

[2021-04-01 03:52] seisman commented on #1129
Currently, offsetting beachballs only works for files.

I'll see what I can do to fix it.

[2021-04-01 03:58] rdcorona commented on #1129
Ok, meanwhile I'll try it with a dataFrame and an ASCII file

Thanks again

[2021-04-01 06:38] michaelgrund opened #1156 "Create new gallery category "Histogram""
**Description of the desired feature**

As discussed in #876 and mentioned in #794 (rose wrapper) we should add a new category "Histogram" to the gallery in which we store e.g. the rose and histogram (#1072) examples.

**Are you willing to help implement and maintain this feature?** Yes, but volunteers are welcome.

[2021-04-01 09:13] #1152 closed

[2021-04-01 14:22] #786 closed

[2021-04-02 00:57] zengxianghang opened #1159 "fig.show() not work"
**Description of the problem**
After the following code runs, the figure cannot be displayed automatically.

**Full code that generated the error**

[code]

**Full error message**

[code]

**System information**

Please paste the output of `python -c "import pygmt; pygmt.show_versions()"`:

[code]

[2021-04-02 01:11] seisman commented on #1159
If you're running a python script or run the codes in a Python interpreter, you need to use `fig.show(method="external")`.

Duplicate of #366, and should be fixed in #529.

[2021-04-02 01:33] #1159 closed

[2021-04-02 02:12] seisman commented on #493
I'm closing the issue, because I feel that the `Figure.plot()` method is becoming too complicated and may need some re-design. I prefer **NOT** to add more complicated (and less used) examples (e.g., decorated text) before we have some more discussions about `Figure.plot()`.

[2021-04-02 02:12] #493 closed

[2021-04-02 05:01] seisman commented on #1156
To create the new "histogram" gallery category, you need to:

- create a directory `examples/gallery/histograms`
- Add a `README.txt` in the directory `examples/gallery/histograms`
- Add the path to the [`conf.py`](https://github.com/GenericMappingTools/pygmt/blob/e131d26f9666bb28aa11d938f232f30036791976/doc/conf.py#L72) file
- Move the example [`rose.py`](https://github.com/GenericMappingTools/py

[2021-04-02 18:21] munzekm commented on #1078
Hello! Me and my team of developers would like to know if this issue is still open to contribute to? We currently just worked on pull request #1070 and we would like to continue to work on this open source project for our software innovation class. @noorbuchi @cklima616 @nathandloria

[2021-04-02 18:22] Nathandloria commented on #1011
Hello! Recently my group @munzekm @cklima616 @noorbuchi and I took up work on #1070. We did this work for a class and another cycle has recently begun in that same class. We noticed that there was previously work being done on this issue, however progress seems to have slowed. Our team would love to take up work on this issue if possible. We really enjoyed this project and would love to continue c

[2021-04-02 19:26] #892 closed

[2021-04-02 19:32] seisman commented on #1011
@Nathandloria Thanks for your interest in this issue. I just pinged the original author of PR #1013. I'd like to give another one week to see if the author wants to keep working on that PR before you create a new one.

[2021-04-03 00:26] seisman commented on #1078
@munzekm Thanks for your interest in this feature. I'm afraid this issue needs more discussion before someone tries to work on it.

[2021-04-03 01:28] seisman commented on #1112
I still don't find a `dvc` command for this, but I'm closing the issue, because we won't need it after finishing the migration of baseline images.

Currently, I simply do:
[code]

[2021-04-03 01:28] #1112 closed

[2021-04-03 18:24] seisman commented on #840
I'm closing this issue because we have refactored most tests recently, and the information in this PR is out-of-date.

[2021-04-03 18:24] #840 closed

[2021-04-03 19:16] seisman commented on #1120
Ping @GenericMappingTools/pygmt-contributors for thoughts.

[2021-04-03 19:21] meghanrjones commented on #1120
I agree. I think we talked about quarterly releases at the last community meeting, so I think 4 minor versions or 12 months would be a good guideline for full deprecation.

[2021-04-03 19:33] seisman opened #1171 "Broken link to the commit hash in the latest documentation"
To reproduce the issue:

1. Go to https://www.pygmt.org/latest/
2. Scroll down to the bottom
3. Click the "Revision v0.3.1" link:

![image](https://user-images.githubusercontent.com/3974108/113489376-e5b5d580-9491-11eb-94fa-118e437f61e4.png)

"v0.3.1" is linked to a nonexistent commit hash (https://github.com/GenericMappingTools/pygmt/commit/v0.3.1).

[2021-04-03 20:53] weiji14 commented on #1120
Since we're at v0.x.y, I think 1 or 2 minor versions should be enough (3-6 months). NumPy has some good notes at NEP23 https://numpy.org/neps/nep-0023-backwards-compatibility.html on how to handle deprecation, but I think we can apply a simpler/shorter deprecation cycle for the alias name changes. More complex changes could span 3-4 minor versions as Meghan noted.

[2021-04-04 02:20] #983 closed

[2021-04-04 05:42] seisman opened #1172 "Geographic xarray.DataArray grid is plotted as Cartesian grid"
**Description of the problem**

Originally found in https://github.com/GenericMappingTools/pygmt/pull/1154#discussion_r606749263

**Full code that generated the error**

[code]

`xrgrid.gmt.gtype` is 1, so the grid is a geographic grid. However, the grid is still plotted as a Cartesian grid.

| grdview | grdimage |
|---|---|
| ![image](https://user-images.githubusercontent.com/3974108/113499812-f7

[2021-04-04 07:02] willschlitzer opened #1173 "Add individual parameters for pen settings"
The current setup for the `pen` parameter involves passing the literal GMT string. I think that this is confusing and non-intuitive for individuals who haven't used GMT. I think that the PyGMT wrappers for GMT modules that take a `pen` parameter should have parameters such `pen_color`, `pen_width`, `pen_color`, which will then be inputs to a function that returns a GMT-formatted string that is pas

[2021-04-04 16:51] seisman commented on #1172
@PaulWessel This looks like an upstream GMT bug.

Here is a minimal script to reproduce the issue. It extracts a subregion from the earth_relief_01d grid, and then plot it using `grdview`. It's a geographic grid and should use a geographic projection, but it uses a Cartesian projection (see the image above).
[code]

Internally, PyGMT calls the `GMT_Create_Data` function, and then calls `GMT_Put_Ma

[2021-04-04 16:58] seisman commented on #1173
@willschlitzer Could you please give an example showing what the new syntax looks like?

[2021-04-04 21:06] PaulWessel commented on #1172
Here is what happens: Your **GMT_GRID_IS_GEO** bit-flag only leads to a call to `gmt_set_geographic (GMT, GMT_OUT); `inside _GMT_Create_Data_. Never mind that you did not pass **GMT_IS_OUTPUT** so this should be considered a grid for input, not output [I think I need to fix that bug which probably is not affecting many things anyway].  But even so, once your **fig.grdview** command is run a new se

[2021-04-05 03:37] seisman opened #1175 "Fix a "Title underline too short" warning in building the documentation"
**Description of the problem**

Building the documentation gives an warning:

[code]

As the warning says, the title underline is shorter than the title "Plot Circular Vectors".

The fix is simple.

- Go to file [doc/tutorials/vectors.rst](https://github.com/GenericMappingTools/pygmt/blob/master/examples/tutorials/vectors.py)
- Scroll down to line 254
- Add more underlines so that the underlines i

[2021-04-05 03:48] xdshivani commented on #1175
I would like to work on this.

[2021-04-05 03:56] seisman commented on #1175
@xdshivani Great! Let me know if you need any help.

Just a tip before you start your first contribution: when submit your pull request, it would be better to create a new branch for your changes, instead of committing the changes directly to your own master branch.

[2021-04-05 04:29] seisman opened #1176 "Wrong style of toctree caption due to breaking changes in docutils 0.17"
**Description of the problem**

Go to https://www.pygmt.org/dev/, you will see:

![image](https://user-images.githubusercontent.com/3974108/113537087-b09aa780-95a5-11eb-84f5-89348e1fdd88.png)

The toctree captions don't show correctly, dut to breaking changes in docutils 0.17.

See related bug reports and possible fixes:

- https://github.com/readthedocs/sphinx_rtd_theme/issues/1112
- https://gith

[2021-04-05 04:34] weiji14 commented on #1176
Since this only affects the `dev` doc page, I would wait for 24-48 hours to see if `docutils` does a bugfix release that would resolve things automatically.

[2021-04-05 04:47] #1171 closed

[2021-04-05 05:46] seisman opened #1177 "Figure.grdcontour crashes for GMT dev (the upcoming v6.2.0)"
**Full code that generated the error**

The following script is modified from a crashing test `test_grdcontour_interval_file_full_opts`:
[code]

**Full error message**

The script works for GMT 6.1.1, but gives a lot of warnings and crashes for GMT 6.2.0:
[code]

The above Python script is equivalent to:
[code]
The only difference is that the Python script passes a xarray.DataArray grid instead of

[2021-04-05 05:46] seisman commented on #1177
@PaulWessel This seems like another GMT bug.

[2021-04-05 05:47] #640 closed

[2021-04-05 06:26] PaulWessel commented on #1177
OK, will tackle tomorrow morning.

[2021-04-05 07:01] PaulWessel commented on #1177
COuld you please post contours.txt

[2021-04-05 07:14] weiji14 commented on #1177
Here you go Paul:

https://github.com/GenericMappingTools/pygmt/blob/8e2b2e6fd4900ccae25282d9d50f0ccd34d400ee/pygmt/tests/data/contours.txt#L1-L10

[2021-04-05 07:26] PaulWessel commented on #1177
Thanks, looking forward to Xcode session tomorrow.  The messages are coming form table i/o code despite this being a grid module... wonder how that can happen.

[2021-04-05 07:46] PaulWessel commented on #1177
So the virtual file says it is a DATASET passed as a MATRIX, not a GRID passed as a MATRIX.  Could you possibly tell me how the virtual file was created, i.e., how GMT_Create_Data and GMT_Put_Matrix was called?  Is it different than the grdview case eariler, since in that case it was a GRID as MATRIX.

[2021-04-05 09:09] willschlitzer commented on #1173
Sure! Here is my rough idea using `fig.plot`.

[code]

Here is what the basic overview of the function:
[code]
The `pen_string_generator` function would be further expanded if only certain arguments are passed (such as only `pen_width` and `pen_style` but no `pen_color`), and adding in different line attributes (**+o**, **+v**, etc.) that would be appended onto the **-W** string. That second part

[2021-04-05 12:09] #1175 closed

[2021-04-05 14:07] seisman commented on #1177
I believe the virtual file is created in the same way,

Arguments for `GMT_Create_Data`:
- GMT_IS_GRID|GMT_VIA_MATRIX
- GMT_IS_SURFACE
- GMT_CONTAINER_ONLY|GMT_GRID_IS_GEO

Arguments for `GMT_Open_VirtualFile`:
- GMT_IS_GRID|GMT_VIA_MATRIX
- GMT_IS_SURFACE
- GMT_IN|GMT_IS_REFERENCE

[2021-04-05 14:22] #1130 closed

[2021-04-05 14:30] #1156 closed

[2021-04-05 15:56] seisman commented on #1172
The issue has been fixed in https://github.com/GenericMappingTools/gmt/pull/5091 and https://github.com/GenericMappingTools/gmt/pull/5092

[2021-04-05 16:02] meghanrjones commented on #1173
Could the implementation be designed to work for both parameters such as `pen` and parameters that include **+f***font* amongst the supported modifiers (for example, the `velo scaling` parameter)? This would probably require sorting out #1082.

[2021-04-05 16:31] seisman commented on #1173
Also related to https://github.com/GenericMappingTools/pygmt/issues/1078#issuecomment-803246677.

[2021-04-05 16:39] seisman opened #1181 "Move MAINTENANCE.md to the documentation?"
The [MAINTENANCE.md](https://github.com/GenericMappingTools/pygmt/blob/master/MAINTENANCE.md) file is growing. Do you think we should move the content to the documentation (in the `doc/` directory) and add a link to the sidebar?

[2021-04-05 16:43] meghanrjones commented on #1181
Yes

[2021-04-05 16:44] seisman commented on #1176
More problems due to docutils 0.17:

![image](https://user-images.githubusercontent.com/3974108/113599428-9942d500-960c-11eb-8d4b-03c66e1c6634.png)

![image](https://user-images.githubusercontent.com/3974108/113599457-a52e9700-960c-11eb-80b1-0cf0c7302429.png)

[2021-04-05 16:48] meghanrjones commented on #1176
All the lists are messed up as well: https://www.pygmt.org/dev/changes.html. Since there are so many problems, I think pinning to a prior version is appropriate rather than waiting.

[2021-04-05 17:26] #631 closed

[2021-04-05 17:29] seisman commented on #1176
Yes to me.

[2021-04-06 00:23] PaulWessel commented on #859
Hi @seisman, is this still failing after the last API fixes today/yesterday?

[2021-04-06 00:47] seisman commented on #859
It's still failing.

[2021-04-06 00:48] seisman commented on #1177
The issue has been fixed by https://github.com/GenericMappingTools/gmt/pull/5100.

[2021-04-06 01:23] seisman opened #1184 "pygmt.surface fails with recent GMT dev"
Python script to reproduce the issue:
[code]

Error messages:
[code]

Adding `verbose="d"` to the `pygmt.surface()` gives more debugging messages:
[code]

[2021-04-06 01:23] seisman commented on #1184
Ping @PaulWessel

[2021-04-06 04:02] PaulWessel commented on #859
Odd, I just stepped through the whole grdfilter example above (the 10x10 case) and I got the same result as CLI.  Sure you rebuilt etc?

[2021-04-06 04:16] seisman commented on #859
I think I'm using the latest GMT version (`6.2.0_c673720_2021.04.05`) and all three examples still fail.

What happens if you just run the examples, not in Xcode debugging.

[2021-04-06 04:39] PaulWessel commented on #859
[code]

Same result with release build or xbuild.

[2021-04-06 04:45] seisman commented on #859
This is my output:
[code]

Can you show your output of `pygmt.show_versions()`?

[2021-04-06 07:49] PaulWessel commented on #859
[code]

[2021-04-06 10:09] weiji14 commented on #1151
Just mentioning that #1174 (see https://github.com/GenericMappingTools/pygmt/pull/1174#discussion_r606914578) may need to be backported to the gh-pages too, and can be done alongside the backport of #1150 (see https://github.com/GenericMappingTools/pygmt/pull/1150#issuecomment-811053780). But no rush on this, GMT 6.2.0 comes first :slightly_smiling_face:

[2021-04-06 11:19] weiji14 commented on #1082
This has come up again and again in different forms, so I've started a project at https://github.com/GenericMappingTools/pygmt/projects/6 to track the various issues and PRs tackling this. Let's make this issue is the central point to gather all the ideas. Here's my attempt at summarize the various candidates (feel free to edit this comment anyone, or suggest alternatives)

## Dictionary

Pass the

[2021-04-06 14:53] seisman commented on #859
The PyGMT version doesn't make sense:
[code]
Did you update your pygmt to the latest (using `git pull`)? And maybe reinstall PyGMT using `make install`?

[2021-04-06 15:02] seisman commented on #1082
The "Classes" option sounds the best way, but we need to think about a general way to implement classes for all options.

[2021-04-06 16:45] meghanrjones commented on #895
Related to both this and #1042, I am interested in whether there is a way to use some NLP tricks to identify shared non-common options between different GMT modules. This would be helpful for ensuring that we aren't redundantly creating PyGMT documentation when helpers could be used and would generally make it easier to develop aliases in a consistent manner.

[2021-04-06 17:51] PaulWessel commented on #859
OK, I had done git pull but not make install.  Now done this morning and still works

[code]

I also followed this in xcode and the temporary files that pygmt makes (the grid, etc) match that of CLI.

[2021-04-06 17:51] #1181 closed

[2021-04-06 18:01] seisman commented on #1061
The issue is partially fixed by #529, but I'll leave the issue open for a longer time.

[2021-04-06 18:05] seisman commented on #859
Can @meghanrjones or @weiji14 check if it works for you (you need to build the latest GMT dev).

[2021-04-06 18:06] meghanrjones commented on #859
I can check it out.

[2021-04-06 19:01] PaulWessel commented on #859
I do not understand either, but cannot see how this can be a bug in GMT if it steps through and does all the right things?

[2021-04-06 19:02] seisman commented on #859
The version difference is due to a known limitation of setuptools_scm (https://github.com/GenericMappingTools/pygmt/issues/912).

[2021-04-06 19:13] seisman commented on #859
I just created a new conda environment and install the package versions @PaulWessel is using. I still have the same problem.

@PaulWessel Your PyGMT version `v0.3.1.dev120+gb1f4133f` doesn't make sense.

Could you please follow the instructions below:

[code]
and then check `pygmt.show_versions()` again.

[2021-04-06 19:23] PaulWessel commented on #859
OK:

[code]

git pull (lots of updates).

[code]

I assume the only thing that changed here is pyGMT and that the shared GMT lib stayed the same? So perhaps this is an issue in how the gmt info call is done? Can you check the intermediate grid in /tmp?

[2021-04-06 19:29] seisman commented on #859
Good to know that we're on the same page.

I think the old version you were using (`v0.3.1.dev120+gb1f4133f`) is from this branch (https://github.com/GenericMappingTools/pygmt/pull/517), in which I change "GMT_IN|GMT_IS_REFERENCE" to "GMT_IN".

I just switched to that PR, and it works for me. So, it fails for "GMT_IN|GMT_IS_REFERENCE", but works for "GMT_IN".

[2021-04-06 19:31] PaulWessel commented on #859
Which step is failing? the filtering or the hidden grdinfo on the temp file?

[2021-04-06 19:33] seisman commented on #859
The `result` variable is:
[code]

[2021-04-06 19:36] PaulWessel commented on #859
OK, and this is with GMT_IN, and with REFERENCE it works OK?  Not sure why grdinfo would return NaN in the limits since the grid clearly has non-NaN values.

[2021-04-06 19:39] noorbuchi commented on #1078
@seisman do you have any suggestions for a feature/documentation/fix that our group could work on. Maybe something that has already been discussed. Please let us know. Thanks!

[2021-04-06 19:43] weiji14 commented on #1078
May I suggest #549 which is a tutorial for datetime inputs?

[2021-04-06 19:45] seisman commented on #859
No, PyGMT is using `GMT_IN|GMT_IS_REFERENCE`, and it fails. If I change it to `GMT_IN`, it works.

The min and max values are not obtained from the grdinfo call. So any NaN values in data can cause:
[code]

[2021-04-06 19:49] PaulWessel commented on #859
Sorry, I wrote it backwards but meant what you wrote above (!).
I can look at grdfilter and see if there are places where we change any input grid value (thus requiring GMT_IN) or if it ought to work with reference (not changing any values).

[2021-04-06 19:51] noorbuchi commented on #1078
@weiji14 thanks for the suggestion! we're currently taking a look at it.

[2021-04-06 20:32] seisman commented on #1120
I prefer at least 2 minor versions, just in case that people install v0.4.0 and we release v0.5.0 next day 😄

[2021-04-06 22:57] weiji14 commented on #549
Continuing from https://github.com/GenericMappingTools/pygmt/issues/1078#issuecomment-812651912 (ping @munzekm, @noorbuchi, @cklima616, @Nathandloria), I think adding a datetime tutorial would be a nice follow up to #1070 since you're already familiar with how to write up a tutorial for PyGMT. There's a few challenging aspects to it, but I'm sure that a team of three will make short work of it! Th

[2021-04-07 03:16] seisman opened #1191 "Redesign the tutorial section on the documentation sidebar"
We already have a long list of tutorials in the "User Guide" part. I expect more tutorials will be added in the future, and the length of the sidebar will increase. I think we need to think about how to reorganize the learning material and how to shorten the sidebar.

![image](https://user-images.githubusercontent.com/3974108/113805106-e23e7a80-972d-11eb-9801-cc9a36f9d470.png)

[2021-04-07 03:53] Nathandloria commented on #670
Hello! Thank you for the continued communication with our team (@cklima616 @munzekm @noorbuchi and I) as we decide where to go next in our class. I would just like to inquire about the availability of this issue? It seems very interesting and we would consider working on it if it is available still. Thanks again, we really do appreciate the cooperation.

[2021-04-07 06:52] michaelgrund commented on #670
Hey @Nathandloria, I'm currently working on this in #923, so maybe you can find another interesting topic or issue?

[2021-04-07 18:09] munzekm commented on #549
Thank you @weiji14 for the information about this issue. We would be happy to start working on it. We do have a few questions: Would you want us to create a new python file inside the tutorial folder or use an existing one? Do you want us to work on the existing gallery file as well? Also, how would you like us to set up this tutorial. Our group just wants to make sure we fully understand what we

[2021-04-07 21:25] weiji14 commented on #549
Please make a new python file for the tutorial, and no, the existing gallery example doesn't need to be worked on.

The tutorial is intended to walk someone new to make a date-time plot for time-series data. Feel free to discuss within the group and structure things as you see fit (since you're all new to datetime plotting in PyGMT, presumably you would have a list of things you want to know about

[2021-04-08 17:13] michaelgrund commented on #1191
Is it possible to add some folding here? E.g. unfold the individual tutorials only after clicking on "User Guide".

[2021-04-09 01:16] weiji14 commented on #1191
Agree with having some folding, but how should we organize it? Beginner/Intermediate/Advanced? Or something more semantic like Basemaps/Plotting items/Grids?

Xref `geopandas` which did a restructure last year (see https://github.com/geopandas/geopandas/issues/1505), perhaps we could get some inspiration from.

[2021-04-09 03:27] promise-yy opened #1196 "pygmt.Figure.plot doesn't work in Linux."
**Description of the problem**

This is an example from the manual.
[code]
When i run the script in Windows, it works. But it gives the following error and drop out in Linux.
When the line 'fig.plot...' is commented out, it works again.
So, how can I solve this problem?
**Full error message**

[code]

**System information**

Please paste the output of `python -c "import pygmt; pygmt.show_versions(

[2021-04-09 03:37] weiji14 commented on #1196
Hi @promise-yy, thanks for your bug report, not nice having `fig.plot` crashing like that!

To help you better, could you tell us how you installed your packages like PyGMT/GMT/etc. I notice that you have quite an old version of ghostscript (9.26) while the latest one on conda-forge is 9.53.3 (https://anaconda.org/conda-forge/ghostscript/files). Could you try upgrading to a newer ghostscript versi

[2021-04-09 06:34] willschlitzer commented on #1120
I think we can negate some of the problems with breaking backwards compatibility is to make it prominent in our release notes what breaking changes are included, and maybe include a page in the documentation that lists what "broke" in between different releases, as well as clear instructions on how to install old versions as necessary.

I'm sure there will still be people unhappy with breaking cha

[2021-04-09 08:08] promise-yy commented on #1196
Thank you for your reply. I installed PyGMT by conda , I'm sure the GMT was installed correctly.
I have upgrade to a newer ghostscript version, but the error is still.
[code]
**error:**
(base) work@work-server1:~/yyseism$ python test.py
double free or corruption (out)
Aborted (core dumped)

[2021-04-09 13:46] meghanrjones commented on #1191
I agree with the folding ideas and like the semantic naming of sub-sections.

I would actually prefer that the section in its entirety be called 'tutorials' rather than 'user guide' because that seems more descriptive and aligns with how that section of the documentation is typically referred to in conversation.

[2021-04-09 19:34] seisman commented on #1196
Could you add `verbose="d"` to the `fig.plot()` call and post the verbose output?

[2021-04-09 20:48] meghanrjones commented on #1176
I think we can close this now, correct?

[2021-04-09 20:50] #1176 closed

[2021-04-10 02:42] #1151 closed

[2021-04-10 03:06] #269 closed

[2021-04-10 03:06] #366 closed

[2021-04-10 03:18] seisman opened #1198 "Remove Jupyter notebook notes from tutorials"
In #806, we added a note about using `fig.show(method="external)` to show images in external PDF viewers, because `Figure.show()` doesn't work when using a Python script.

Since #529 is merged, `Figure.show()` now works the same way for Jupyter Notebooks and Python scripts.
We now can remove the Jupyter notebook notes from all the tutorials.

[2021-04-10 04:48] seisman commented on #1111
This is not a good idea. To download the baseline images, the function must change the directory into the PyGMT installation path, runs the dvc commands to set up the dvc repository and download images. Such processes changes the pygmt installation directory (e.g., `lib/python3.8/site-packages/pygmt` directory). When uninstall pygmt, these files are not deleted by default, which may cause trouble

[2021-04-10 12:32] core-man commented on #1191
Yes, I'm also wondering if we could have two kinds of tutorials: **Beginner** and **Advanced**. The **Beginner** could be included in **Get Started** section and is named as `PyGMT 101` or something else, while the original **User Guide** section is renamed to be **Advanced**. See a quick example below to check how it may look like. In this example, the `projection` is an individual subsection sin

[2021-04-10 14:25] meghanrjones commented on #1149
Do we need to backport #1150, https://github.com/GenericMappingTools/pygmt/pull/1183, https://github.com/GenericMappingTools/pygmt/pull/1174, and https://github.com/GenericMappingTools/pygmt/pull/1197 or just wait for the next release? To be honest, I do not know the process for backporting to gh-pages.

*Backporting suggestion originally posted by @weiji14 in https://github.com/GenericMappingTool

[2021-04-10 19:42] seisman commented on #1120
Yes, breaking changes will be included in the release notes. When we deprecate a feature but keep backwards compatibility, the changes will be in the "Deprecation" section. When we fully remove a feature, the changes will be highlighted in the "Breaking changes" section.

Since breaking changes are documented in the release notes, I feel it's unnecessary to have another page listing "breaking chan

[2021-04-11 02:12] seisman opened #1200 "Remove "Full test" section from the installation guide"
The [installation guide](https://www.pygmt.org/v0.3.1/install.html#full-test-optional) provides commands to run the PyGMT full test:
[code]

The commands no longer work since we just migrated all baseline images to DVC (#1036, #1131), and the source and binary distributions no longer contain the baseline images (#1086).

Users who install PyGMT using conda or pip won't have baseline images in thei

[2021-04-11 02:22] seisman opened #1201 "Add baseline images as a release asset for each release"
Since we migrated all baseline images to DVC (#1036, #1131), the source and binary distributions of PyPI and conda-forge no longer contain baseline images (#1086).

These baseline images are all stored in the DAGsHub repository (https://dagshub.com/GenericMappingTools/pygmt), so we should be able to download these baseline images of any specific version at any time. However, it's still possible to

[2021-04-11 02:26] seisman commented on #963
Done in #1108.

Waiting for the GMT v6.2.0 release.

Tracked by issue #1131.

Tracked by issue #1131.

I think we still need it when testing grids.

Yes, it's already documented in the contributing guides.

I just opened issue #1200 for discussions.

I just opened issue #1201 for discussions.

[2021-04-11 02:27] seisman commented on #963
I think we can close the issue.

[2021-04-11 02:27] #963 closed

[2021-04-11 05:19] seisman opened #1203 "Let PyGMT functions support tab completion"
Jupyter and most modern text editors support tab autocompletion, useful to long function and parameter names. However, currently most PyGMT functions don't support tab autocompletion, since we use the alias system (`use_alias`), `*args`, and `**kwargs`.

The only way I know to enable tab autocompletion is using normal Python parameters instead of relying on the `**kwargs` and `use_alias` decorator

[2021-04-11 06:28] weiji14 commented on #1203
Nice idea, but just wondering if there's a way to modify the `@use_alias` decorator to insert the keyword arguments directly (instead of duplicating work for each PyGMT module)?

[2021-04-11 12:07] github-actions[bot] opened #1204 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/GenericMappingTools/pygmt/actions/runs/738151675?check_suite_focus=true)

[2021-04-11 14:27] seisman commented on #1204
Invalid reports caused by an upstream bug (https://github.com/lycheeverse/lychee/issues/213).

[2021-04-11 14:27] #1204 closed

[2021-04-11 15:02] seisman commented on #1203
Here is a quick script to list the parameters:
[code]
The output looks like this, so we can just copy and paste the output into each function and let `make format` do the formatting. It's not automatically, but at least save some typings.
[code]

[2021-04-11 21:30] seisman commented on #1203
All functions are manually updated in #1202, so they should all support auto-completion now. The only exception is `pygmt.config()`, which needs more work.

[2021-04-11 21:48] weiji14 commented on #1203
Thanks, but what I meant was to recode the `@use_alias` decorator to **inject** the keyword parameters into the functions directly. See e.g. https://code.activestate.com/recipes/577382-keyword-argument-injection-with-python-decorators/. I haven't tested it, but I think it involves adding the keyword arguments to the `__dict__` attribute of the function.

[2021-04-12 01:01] seisman commented on #1203
Actually, I'm trying to fully get rid of the `use_alias` decorator.

[2021-04-12 01:25] weiji14 commented on #1203
Yes, I understand that we're working towards resolving #262. There are a lot of line changes made in 998a123918a00c26b4bce117b3d6696b7b40bfd5, much of which appears to be similar/duplicating that of the `@use_alias` decorator. And this is why I suggested https://github.com/GenericMappingTools/pygmt/issues/1203#issuecomment-817378035 to provide a central location tying the aliases/keyword-arguments

[2021-04-12 03:27] seisman commented on #1203
It seems an impossible task to me.

I agree. We probably won't be able to disable single-letter parameters until v1.0.0.

[2021-04-12 06:33] core-man commented on #1200
Sounds good. I never ran the full test for the software used in my studies.

[2021-04-12 12:12] #1011 closed

[2021-04-12 12:43] mre commented on #1204
Sorry for the inconvenience. This should be fixed in `lycheeverse/lychee-action@master` now. A new release will be published soon.

[2021-04-12 14:25] meghanrjones commented on #1200
Agreed, sounds good.

[2021-04-12 14:27] #1198 closed

[2021-04-12 15:00] meghanrjones commented on #895
Even though it's a lot of work to write/review the docstrings, I prefer that for now because there are a lot of pending improvements to the GMT documentation (see https://github.com/GenericMappingTools/gmt/discussions/4678 for some examples). So, copying the GMT documentation as is may create more work later on by propagating some of the current limitations.

I think a compromise would be to autom

[2021-04-12 18:24] seisman opened #1205 "Move parts of the contributing guides to the website"
In PR #1185, we moved the maintainer's guides to the documentation (the `doc` directory), since the guides are too long and are much easier to read on the documentation website (using the sidebar links).

Similarly, the [contributing guides](https://github.com/GenericMappingTools/pygmt/blob/master/CONTRIBUTING.md) is also too long, with more than 500 lines now, and still increasing (#1119, #1113).

[2021-04-12 21:22] seisman commented on #895
Sounds a good idea.

BTW, I feel that the long list of alias waste so much spaces on the right side, it may be better to use the `.. hlist` directive instead (see https://sphinx-rtd-theme.readthedocs.io/en/stable/demo/lists_tables.html#hlists for what it looks like)

[2021-04-12 21:27] seisman commented on #1149
To do the backport, you need to checkout the v0.3.1 tag and create a new working branch, cherry-pick the related commits into that branch, build the documentation, and manually replace the old v0.3.1 documentation with the new one.

I'm not sure if it works as expected, because the documentation may have a wrong version like v0.3.1.dev1+gxxxxx, not v0.3.1.

BTW, I'm OK with waiting for the next re

[2021-04-12 21:30] weiji14 commented on #895
One of the ideas I had when I opened this issue (that requires a lot of work) was to have upstream GMT use standardized placeholders for parameters/arguments, e.g. using < -X > or { -X } (as with [Jinja](https://realpython.com/primer-on-jinja-templating/)). My thinking was that this problem isn't restricted to just PyGMT, but also GMT.jl and potential wrappers in the future (e.g. GMT for R?). I do

[2021-04-12 21:56] meghanrjones commented on #895
I'm not sure that I completely understand how you're envisioning the standardized placeholders, if you don't mind explaining a bit more. In https://github.com/GenericMappingTools/gmt/pull/4915 I tried to make it so that all modules that use **-F** to put a box behind something include the same source file for the documentation (and am now noticing that I could have done this better). Is this simil

[2021-04-12 22:17] weiji14 commented on #895
Sure. The idea is to make it easy to search and replace parameters (that should be bold) and arguments (that should be italics). To be honest, I don't have this well thought out, but am taking inspiration from templating engines like [Jinja](https://realpython.com/primer-on-jinja-templating/) and [Liquid](https://shopify.github.io/liquid/basics/introduction/)

## Original text

[code]

## Template

[2021-04-13 01:09] seisman commented on #895
I'm afraid any automatic documentation-copying mechanism means that we have to use the GMT syntax in PyGMT, e.g., `+gred+p1p,blue`. However, we may want more Pythonic ways (#1082). Anyway, I think this PR has the lowest priority due to its high difficulty.

[2021-04-13 01:10] seisman commented on #1196
Ping @promise-yy for more information, otherwise we'll close the issue because we can't reproduce it.

[2021-04-13 02:07] weiji14 commented on #1120
So can we get a consensus on the number of minor versions to raise the FutureWarning for? Let's vote (specifically for the alias name change case):

:tada: 3-4 minor versions as per https://github.com/GenericMappingTools/pygmt/issues/1120#issuecomment-812913758
:eyes: 1-2 minor versions as per https://github.com/GenericMappingTools/pygmt/issues/1120#issuecomment-812923824
:rocket: 0 minor versions

[2021-04-13 02:17] meghanrjones commented on #1120
I prefer 2 minor releases for alias updates, but not 1. Sorry to break your poll. My reasoning here is that it usually takes longer than 3 months to get a paper back, so I could imagine someone easily missing a minor release if they have moved on to teaching or some other tasks and then scrambling to update their broken aliases.

[2021-04-13 02:23] weiji14 commented on #1120
Ok, will make it more clear-cut then. updated to be 0, 2 and 4 only.

[2021-04-13 02:31] meghanrjones commented on #1149
OK, I prefer to wait.

[2021-04-13 02:44] seisman commented on #1120
Are we voting for alias name changes or any incompatible changes? 2 minor releases is enough for alias changes, but for other changes (I/O changes), 4 releases is better.

[2021-04-13 03:34] core-man commented on #1120
I agree. The alias name is easy to be revised in our scripts, but the I/O changes may not.

[2021-04-13 07:50] core-man commented on #1076
Shall we support a string 1d-array for the `sizes` parameter? Now it only accepts int and float (e.g., **1**, **0.5**) and does not accept string (e.g., **0.5c**), although we can set the unit using the `config` method.

Fixed in [`1c48b39`](https://github.com/GenericMappingTools/pygmt/pull/1117/commits/1c48b390024336ffacf07e66b76992d57cd490be). See https://github.com/GenericMappingTools/pygmt/pul

[2021-04-13 10:55] core-man commented on #1205
I feel we could move all of them to the documentation instead of putting them in two places. We could re-group the guides into basic and advanced ones as your suggestion. In this way, experienced contributors could still quickly find what they need, while new contributors can also know all the things in one place.

[2021-04-13 15:57] meghanrjones commented on #1205
I like scikit-learn's stucture, which has a minimal [CONTRIBUTING.md](https://github.com/scikit-learn/scikit-learn/blob/main/CONTRIBUTING.md) that primarily provides links to the contributing guides on their website. I prefer to keep some sort of CONTRIBUTING.md because people interested in contributing could do a quick search for it and I would not want to risk losing any potential contributors d

[2021-04-13 18:01] seisman commented on #1205
Yes, I agree we should at least have a minimal CONTRIBUTING.md file.

[2021-04-14 04:59] #1200 closed

[2021-04-14 05:58] seisman commented on #1059
@GenericMappingTools/pygmt-contributors I just added these resources in PR #1210. Please leave your comments there.

[2021-04-14 21:29] maxrjones opened #1212 "Adding a PyGMT team page"
Background information:

1. It could be helpful for new contributors to know who the PyGMT maintainers are, now that the list of maintainers is growing.
2. I am working on improving the authorship guidelines and acknowledgements structure for GMT (see https://github.com/GenericMappingTools/gmt/issues/2330 for context) and envision one of the products being similar to the [Numpy team gallery](https

[2021-04-15 02:23] seisman commented on #1196
I'm closing the issue since there is no feedback and we can't reproduce it.

[2021-04-15 02:23] #1196 closed

[2021-04-17 03:45] seisman commented on #1120
I think we all agree that we should raise the FutureWarning for at least two minor versions. Please give #1160 a final review, so that we can merge the `@deprecate_parameter` decorator and change some parameter names in #1118, #1042.

[2021-04-17 22:39] seisman commented on #876
I'm closing the issue, since most of the categories (except "subplots" and "Text, labels and annotations") mentioned in https://github.com/GenericMappingTools/pygmt/issues/876#issuecomment-791649980 have been created.

[2021-04-17 22:39] #876 closed

[2021-04-18 12:07] github-actions[bot] opened #1213 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/GenericMappingTools/pygmt/actions/runs/760681913?check_suite_focus=true)

[2021-04-18 18:08] seisman commented on #1213
Related to https://github.com/lycheeverse/lychee/issues/230

[2021-04-18 22:23] #1213 closed

[2021-04-19 04:22] seisman commented on #1120
Closed by #1160.

[2021-04-19 04:22] #1120 closed

[2021-04-20 03:50] #1059 closed

[2021-04-20 06:29] seisman opened #1217 "Bump to GMT 6.2.0rc1"
The first release candidate of GMT 6.2.0 has been released (https://github.com/GenericMappingTools/gmt/releases/tag/6.2.0rc1) today.

Now GMT 6.2.0rc1 is available in the devel channel on conda-forge (https://anaconda.org/conda-forge/gmt/) and can be installed using:
[code]

We need to:

- [x] Bump the GMT version to 6.2.0rc1 used in the CI tests (#1218)
- [ ] Some tests fail and we need to fix th

[2021-04-20 08:25] weiji14 commented on #1217
Bumping to GMT 6.2.0rc1 will also affect several existing PRs. I think we should go ahead with bumping the version as soon as possible though (so that we can test and fix any new bugs). Is there any PR we would like to merge/finish **before** bumping PyGMT to use GMT 6.2.0rc1? Otherwise it will get lost under a torrent of PRs relating to fixing broken unit tests :laughing:

I was actually thinking

[2021-04-20 14:00] willschlitzer commented on #1203
What is the push to disable single letter parameters, even at v1.0.0? I'm not a fan of single-letter parameters and think we should maximize our use of PyGMT parameter names, but does it cost us anything to remove that capability?

[2021-04-20 22:05] seisman commented on #1217
I can work on this.

[2021-04-21 04:57] willschlitzer commented on #1212
Yes, I think it's a good way to demonstrate to people coming to the project that they can contribute, as it puts a face on the people they are interacting with. I think seeing that we're not all computer scientists encourages people who may doubt they have the skills and experience to work on the project.

For me personally, yes.

Why wouldn't this be on the PyGMT page? I think that would make mor

[2021-04-21 14:09] seisman commented on #1217
@GenericMappingTools/pygmt-maintainers please give #1219 and #1218 a fast review and approval, otherwise, we won't finish the migration before the next 6.2.0rc2 or 6.2.0 release.

[2021-04-21 15:53] meghanrjones commented on #1217
I know we haven't updated the documentation for the maintainer review process yet, but I think these are good examples of when to use the 'request a review' option for pinging pygmt-maintainers. At least for me, I usually periodically skim the PRs for any that have been marked 'ready for review' or 'final review call' but will notice specific review requests immediately.

[2021-04-21 17:24] meghanrjones commented on #1212
I had been looking at organizations like project Jupyter and Numpy when considering options for the placement of the teams page. For those projects, information about teams are on the organization webpages (https://jupyter.org/about and https://numpy.org/gallery/team.html) rather than inside the reference documentation for the packages (https://jupyter.readthedocs.io/en/latest/ and https://numpy.o

[2021-04-21 21:03] seisman commented on #1217
I've merged #1218, so now the CI tests are running with GMT 6.2.0rc1, and ~100 tests fail, due to the modern theme changes introduced in GMT 6.2.

What we need to do to make the tests pass again:

1. Install (or upgrade) 6.2.0rc1 in your local environment using `conda install -c conda-forge/label/dev gmt=6.2.0rc1`
2. Run tests in a specific test file, e.g., `pytest pygmt/tests/test_basemap.py`
3.

[2021-04-21 21:38] seisman commented on #1217
Here is a list of test files that contain failing tests. Anyone is welcome to work on them.

- [ ] pygmt/helpers/testing.py
- [ ] pygmt/tests/test_coast.py
- [ ] pygmt/tests/test_colorbar.py
- [ ] pygmt/tests/test_config.py
- [ ] pygmt/tests/test_contour.py
- [ ] pygmt/tests/test_figure.py
- [ ] pygmt/tests/test_grd2cpt.py
- [ ] pygmt/tests/test_grdcontour.py
- [ ] pygmt/tests/test_grdfilter.py
-

[2021-04-21 22:32] weiji14 commented on #1217
I'll handle all the test_grd*.py tests in a single PR if that's ok.

[2021-04-21 22:34] seisman commented on #1217
OK to me.

[2021-04-21 22:39] seisman commented on #1184
All `pygmt.surface` tests pass for v6.2.0rc1. Closing the issue.

[2021-04-21 22:39] #1184 closed

[2021-04-21 22:46] weiji14 commented on #1217
Cool, can we also agree on a standardized PR title? E.g. "Update fig.??? baseline images for GMT 6.2.0rc1"?

[2021-04-21 22:50] seisman commented on #1217
Good.

[2021-04-22 21:42] #859 closed

[2021-04-22 21:42] #1172 closed

[2021-04-22 21:42] #1177 closed

[2021-04-22 23:51] #597 closed

[2021-04-22 23:53] weiji14 commented on #597
Phew, thanks team, glad to close down another >6 month old issue!

[2021-04-23 03:43] weiji14 commented on #732
Still an issue on GMT 6.2.0rc1

[code]

![temp](https://user-images.githubusercontent.com/23487320/115815135-84f33a80-a44a-11eb-9ea4-0f58488bdb65.png)

[2021-04-23 10:24] weiji14 commented on #1217
I think we **may** be encountering something [flaky](https://docs.pytest.org/en/stable/flaky.html) in PyGMT's test suite. There's 3 separate cases (opened by 3 different people) where using `pytest pygmt/tests/test_somemodule.py` passes on a specific module but `make test` fails for the whole test suite:

- `fig.solar` https://github.com/GenericMappingTools/pygmt/pull/1232#issuecomment-825230981
-

[2021-04-23 15:55] meghanrjones commented on #1217
For makecpt, `make test` fails if run after the examples in `pygmt/clib/session.py` are tested. Flaky indeed. I am looking into it more now.

[2021-04-23 17:32] eemcmullan commented on #1073
Hello! I am interested in contributing to this project, and would be happy to work on this issue.

[2021-04-23 17:53] noorbuchi commented on #1173
Hello @seisman @willschlitzer, my team and I found this issue interesting and we're wondering if we can work on it or if it's already claimed or discussion is still in progress.

[2021-04-23 23:03] #633 closed

[2021-04-23 23:03] #647 closed

[2021-04-24 04:58] willschlitzer commented on #1173
Hello @noorbuchi! I think this issue is part of the larger debate on how PyGMT should move towards more Pythonic arguments rather than using GMT syntax. I'm going to close this issue to avoid duplication of efforts on different issues, but please check out the references issues above that discuss this.

[2021-04-24 12:02] #1114 closed

[2021-04-24 12:28] weiji14 commented on #1173
I started an RFC (request for comments) PR at #1239 to tackle this issue, so I'm reopening it to continue the discussion. As I mentioned in https://github.com/GenericMappingTools/pygmt/issues/1082#issuecomment-814040028, it will be great to have separate issues for the different parameters we want to have convenience classes for (e.g. Position (-D), Pen (-W), AreaFill (-G) etc).

@noorbuchi (and t

[2021-04-24 17:16] meghanrjones commented on #1073
Thanks, @eemcmullan! Feel free to open a PR and reach out if you have any questions!

[2021-04-25 04:05] PaulWessel commented on #732
Busy with taxes this weekend but will get on this - sorry it slipped off the radar.  Seems like I fixed a very related problem not that long ago, no @seisman ?

[2021-04-25 12:07] github-actions[bot] opened #1240 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/GenericMappingTools/pygmt/actions/runs/782675835?check_suite_focus=true)

[2021-04-25 17:58] meghanrjones commented on #1240
Related to lycheeverse/lychee#230

[2021-04-25 17:58] #1240 closed

[2021-04-26 21:08] #563 closed

[2021-04-26 21:26] seisman commented on #1217
These flaky tests are difficult to debug. Perhaps we can use one of the ["flaky plugins"](https://docs.pytest.org/en/stable/flaky.html#plugins) to rerun the failing tests as a workaround. I think they should pass, no?

[2021-04-26 22:26] PaulWessel commented on #732
Not sure if https://docs.generic-mapping-tools.org/dev/debug.html#debug-pygmt-in-xcode-on-macos has all required steps.  After git pull, make install, conda activate pygmt I try (from pygmt directory)

[code]

[2021-04-26 22:32] seisman commented on #732
I think you found a bug which was introduced recently.

Your temporary fix is:
[code]

[2021-04-26 22:34] seisman opened #1241 "ModuleNotFoundError exception when IPython in not installed"
[code]

_Originally posted by @PaulWessel in https://github.com/GenericMappingTools/pygmt/issues/732#issuecomment-827182631_

[2021-04-26 22:35] PaulWessel commented on #732
So I am on miniconda:

(pygmt) pwessel@macnut:~/GMTdev/pygmt-> conda activate python
Could not find conda environment: python
You can list all discoverable environments with `conda info --envs`.

[2021-04-26 22:36] seisman commented on #1241
https://github.com/GenericMappingTools/pygmt/blob/7466dc31f3cbdc15c730c4fcfe430a73d44a2808/pygmt/figure.py#L8-L11

When IPython is not installed, it raises a `ModuleNotFoundError` exception, but the code incorrectly checks the `KeyError` exception.

We should fix it and ideally add a test.

[2021-04-26 22:36] seisman commented on #732
Sorry, typo. I meant:

[code]

[2021-04-26 22:42] seisman commented on #1217
Just tried [pytest-rerunfailures](https://github.com/pytest-dev/pytest-rerunfailures). Not lucky. It re-runs a test immediately after it fails, rather than re-running all failing tests after all tests finish.

[2021-04-26 22:45] PaulWessel commented on #732
OK, that installed a bunch of stuff including ipython.  But still some PATH issues perhaps (remember, I do this so infrequently I may not have things set up right):

Traceback (most recent call last):
  File "/Users/pwessel/bad.py", line 2, in <module>
    import pygmt
  File "/Users/pwessel/GMTdev/pygmt/pygmt/__init__.py", line 28, in <module>
    from pygmt.figure import Figure, set_display
  Fi

[2021-04-26 22:48] seisman commented on #732
What's the output of `which python`? Just want to make sure that you're running the one in the pygmt environment.

[2021-04-26 22:49] PaulWessel commented on #732
/Users/pwessel/opt/miniconda3/bin/python

[2021-04-26 22:51] seisman commented on #732
The path is incorrect. After activating the pygmt environment, you should be using `/Users/pwessel/opt/miniconda3/envs/pygmt/bin/python`. Did you forget to run `conda activate pygmt`?

[2021-04-26 22:52] PaulWessel commented on #732
No, and just run it again.  Same path coming back.

[2021-04-26 22:57] seisman commented on #732
It doesn't make sense to me.

At line 10 of file `/Users/pwessel/GMTdev/pygmt/pygmt/figure.py`, changing `KeyError` to `ModuleNotFoundError`, then try to run the bad.py script, does it work for you?

[2021-04-26 23:03] PaulWessel commented on #732
That runs fine.  I get a ton of debug memory leak messages that should be fixed in general but the script works and produces the failed image.

[2021-04-27 00:15] weiji14 commented on #1217
Yeah, from experience, I found the listed pytest flaky plugins to be a bit of a hit and miss in PyGMT's case. Also tried [pytest-reverse](https://github.com/adamchainz/pytest-reverse) and I'm getting lots of failures on `fig.test` too. The main problem (I think) is that PyGMT is using a single GMT session for everything (partly related to #867), and this can cause settings in one figure instance t

[2021-04-27 00:48] meghanrjones commented on #1217
I understand the original logic behind a single GMT session for all tests in https://github.com/GenericMappingTools/pygmt/pull/327#issuecomment-541782890. Still, I don't expect that users will be attempting to use the entire PyGMT library in a single session, which is the goal of the test suite. So I think it would be worth revisiting this decision. Could it be possible to periodically test the ex

[2021-04-27 01:44] weiji14 opened #1242 "How to resolve flaky tests resulting from using a single GMT session"
**Description of the problem**

There's been instances of [flaky](https://docs.pytest.org/en/stable/flaky.html) tests in PyGMT's test suite reported in https://github.com/GenericMappingTools/pygmt/issues/1217#issuecomment-825561365. This likely stems from the fact that PyGMT uses a single GMT session (initiated during `import pygmt`) instead of separate GMT sessions for each figure (see https://gi

[2021-04-27 01:52] weiji14 commented on #1217
Ok, I've opened up a separate issue to decide on whether PyGMT should have single/separate GMT session(s) at #1242. Let's continue the test flakiness discussion there.

For the purposes of quickly resolving this GMT 6.2.0rc1 baseline image update issue, specifically for `makecpt` at #1231 and `fig.solar` at #1232 (ignoring `fig.grdview` since that's about dvc migration), we'll need a quick workaro

[2021-04-27 02:21] meghanrjones commented on #1217
Since option 2 will reverse the problem (i.e., fail with `pytest pygmt/tests/test_makecpt.py`), I am in favor of option 1 as an interim solution.

[2021-04-27 02:52] seisman commented on #1217
Option 1 👍

[2021-04-27 16:01] meghanrjones commented on #1082
I agree that the classes option is good. I have a couple further opinions about the implementation of long GMT arguments:
1. Based on this discussion, we will implement full-word modifiers for GMT arguments in the PyGMT library independently of the planned effort to support long-option modifiers in core-GMT (see https://docs.generic-mapping-tools.org/dev/devdocs/long_options.html and the newly add

[2021-04-27 19:07] seisman commented on #1217
A little progress on the flaky tests.

Similar to `makecpt()` tests in #1231, the `Figure.soloar()` tests (#1232) pass when running the single test, but fail when running with `pygmt/tests/test_session_management.py`. To reproduce it, you can check out the branch in #1232 and run:
[code]

If I delete the file `pygmt/tests/test_session_management.py` and run the full tests with `make test`, the `Fi

[2021-04-27 19:10] seisman commented on #1217
Actually, on the master branch, the `Figure.text()` tests fail when running `pytest pygmt/tests/test_text.py`, but pass with `make test`.

[2021-04-27 20:02] seisman commented on #1217
Here is a minimal example to reproduce the flaky tests we're having:
[code]

Just in case you don't know it:

- `import pygmt` calls the `begin()` function, which is just the wrapper of `gmt begin pygmt-session`
- when a script exits, the `end()` function is called, which is the wrapper of `gmt end`

The output of the script is:
[code]
The resulting images are:

| Before | After |
|---|---|
| ![be

[2021-04-27 20:17] meghanrjones commented on #1217
Thanks for the the minimal example @seisman. I will see what I can find about this.

[2021-04-27 23:01] weiji14 commented on #1082
Yep, we should definitely have standardized aliases across all GMT wrappers. There was a lot of discussion around this in 2019/2020 on GitHub and the GMT forum (e.g. https://forum.generic-mapping-tools.org/t/standardized-human-readable-gmt-parameters-for-pygmt-matlab-julia-pyshtools-etc/77) but the conversation stalled for some reason, so thanks for picking this up again and starting the project t

[2021-04-28 02:21] meghanrjones commented on #1217
No solution yet but it seems to be an issue with `GMT_keyword_updated` that was implemented as part of https://github.com/GenericMappingTools/gmt/pull/3344. At the start of the second global session, `GMT_keyword_updated` is set to true for the options that were updated in `gmtinit_conf_modern_override()` in the first global session, which leads to a session-level `gmt.conf` file being written tha

[2021-04-28 22:45] meghanrjones commented on #1217
https://github.com/GenericMappingTools/gmt/pull/5178 fixes the minimal example and make these tests fail (some now in a proper way):
[code]
But, the two `makecpt()` tests still fail and I get a fatal error on `pygmt/tests/test_grdtrack.py::test_grdtrack_input_dataframe_and_dataarray`. I will merge https://github.com/GenericMappingTools/gmt/pull/5178 since it is a needed correction. Then it will be

[2021-04-29 01:51] weiji14 commented on #1217
Thanks @seisman and @meghanrjones for tracking this down and fixing the bug. Sounds like we might need a GMT 6.2.0rc2? Let's put an xfail for the `fig.solar` tests at #1232 for now @seisman to get the tests passing (and close this issue). We can then track/fix the false positive passing tests (for `subplot`, `text`, and `wiggle`) later in a separate issue/PR.

[2021-04-29 02:45] meghanrjones commented on #1217
I agree 6.2.0rc2 will be needed soon. Even though the gmt-dev CI tests are passing, I am still concerned about my local fatal error in `pygmt/tests/test_grdtrack.py::test_grdtrack_input_dataframe_and_dataarray` and would like to figure that out before releasing rc2. It would be helpful to know if anyone else gets a similar issue when testing using the gmt-dev branch. This is my setup:
[code]

[2021-04-29 02:57] weiji14 commented on #1217
Agree on finding out what is causing the `grdtrack` fatal error before GMT 6.2.0rc2, I've just built the latest GMT from master (https://github.com/GenericMappingTools/gmt/commit/a6980cb30b5ff8c49be8d943f05a3dc5f52727b4) and will try and see what's up. I'll probably work on it in the `grdrack` refactor PR at #1189.

[2021-04-29 15:11] willschlitzer commented on #1203
@GenericMappingTools/pygmt-maintainers Should I add the available parameters to the function itself (instead of just the `@use_alias` decorator) in the #1249 (histogram) in line with the proposed  changes that @seisman made in #1202?

[2021-04-29 16:45] meghanrjones commented on #1217
Thanks for checking. It was a silly mistake on my part in continuing on in debug mode even after being done with debugging so I ran into an assert statement 🤦‍♀️

[2021-04-29 18:13] meghanrjones commented on #1082
Cool, this is on the agenda to discuss at the [next GMT community meeting](https://forum.generic-mapping-tools.org/t/gmt-community-zoom-meeting-thursday-may-06-utc-1900/1617). Of course, we could also discuss at the next PyGMT meeting in case anyone is unavailable May 6.

Yes, but I could be convinced elsewise if others feel strongly that `__str__` should be used for the GMT readable formatting.

[2021-04-30 22:43] #510 closed

[2021-04-30 23:37] weiji14 commented on #1217
With #1232 merged in, I think we can close this GMT 6.2.0rc1 issue. We should continue to track the test flakiness issue over at #1242, and open a separate "Bump to GMT 6.2.0rc2" issue later on.

[2021-04-30 23:37] #1217 closed

[2021-04-30 23:37] weiji14 commented on #1242
Ok, the flakiness appears to have been an upstream GMT issue that was fixed in https://github.com/GenericMappingTools/gmt/pull/3344. There are some tests that are wrong but currently passing (i.e. false positives) identified in https://github.com/GenericMappingTools/pygmt/issues/1217#issuecomment-827847551 and https://github.com/GenericMappingTools/pygmt/issues/1217#issuecomment-827847551 that nee

[2021-05-01 10:55] weiji14 commented on #908
Just checking, do you think it's really necessary to document this in our guide (since it's getting quite long)? Or can we just point it out to people (on a need to know basis) and close this issue?

[2021-05-01 14:02] seisman commented on #908
OK with closing the issue.

[2021-05-01 14:02] #908 closed

[2021-05-02 12:05] github-actions[bot] opened #1252 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/GenericMappingTools/pygmt/actions/runs/804232476?check_suite_focus=true)

[2021-05-02 14:59] seisman opened #1253 "Histogram doesn't work for pandas.Series"
**Description of the problem**

**Full code that generated the error**

[code]
I have to convert `table[0]` to a numpy array to make it work.

**Full error message**

[code]

**System information**

Please paste the output of `python -c "import pygmt; pygmt.show_versions()"`:

[code]

[2021-05-02 22:44] weiji14 commented on #1253
Good catch, this isn't a problem restricted to just `histogram` though. I've stepped through the logic in `pygmt/clib/session.py` and believe it's a problem with the `vectors_to_arrays` function not handling a 1D `pandas.Series` properly, specifically this line:

https://github.com/GenericMappingTools/pygmt/blob/d2cb8b953f08478666e3d3e3dda302a680679c17/pygmt/clib/conversion.py#L161

The list compr

[2021-05-02 22:55] weiji14 commented on #1252
Related to https://github.com/lycheeverse/lychee/issues/230 and upstream issue at https://github.com/robinst/linkify/issues/20, may be fixed by https://github.com/robinst/linkify/pull/21 :crossed_fingers:.

[2021-05-02 22:55] #1252 closed

[2021-05-02 23:35] weiji14 commented on #601
Just an update, things appear to have been pushed out to (Northern Hemisphere) autumn 2021 (see https://github.com/zenodo/zenodo/issues/810#issuecomment-753917462). The multi-curator feature will likely come to InvenioRDM in May 2021 (see https://inveniosoftware.org/products/rdm/roadmap/), and once Zenodo migrates their system to InvenioRDM in the near term (hopefully sometime this year in 2021),

[2021-05-04 03:41] seisman commented on #1075
@core-man This issue looks easy to fix. Do you want to work on it?

[2021-05-04 06:35] core-man commented on #1075
So we don't want to leave it to new contributors?

[2021-05-04 13:19] seisman commented on #1075
The description of the issue is so long that people may be lost about what they should do.

You may either submit a quick fix or give more details about the expected changes.

[2021-05-04 19:02] #1094 closed

[2021-05-05 06:52] michaelgrund opened #1259 "Add categorical colorbars for plot and plot3d gallery examples"
**Description of the problem**

I recognized that some colors of individual gallery examples produced with 6.2.0rc1 show deviations compared to the versions generated with 6.1 (see below). Any ideas what's the reason for that?

**6.1 versions**
![sphx_glr_points_categorical_001](https://user-images.githubusercontent.com/23025878/117105652-c7881180-ad7e-11eb-8ab7-0d8954d75a20.png)

![sphx_glr_scatt

[2021-05-05 13:50] seisman commented on #1259
The generated CPTs are different. I think there were some CPT-related changes in upstream GMT. The one generated by GMT 6.2.0rc1 makes more sense to me.

GMT 6.1.1:
[code]

GMT 6.2.0rc1:
[code]

[2021-05-05 14:49] meghanrjones commented on #1259
Yes, the previous CPT range was considered a bug that was fixed in this PR: https://github.com/GenericMappingTools/gmt/pull/4446. I think we should update the `series` settings for `makecpt` accordingly in the examples.

[2021-05-05 15:50] #1073 closed

[2021-05-05 16:10] seisman commented on #1259
I agree. I think we also need to add a colorbar to these examples. We didn't do that before, because GMT 6.1.1 has some bugs/limitations when plotting categorical colorbars, which should be fixed in GMT 6.2.0rc1.

[2021-05-05 17:57] meghanrjones commented on #1259
Agreed. Are you interested in updating the examples @michaelgrund? I can submit a PR if you are not interested or do not have time.

[2021-05-05 18:50] meghanrjones commented on #48
I just started working on the alias for the **-b** common option. However, I find that I am repeating myself a lot in adding these common options (e.g., typing b="binary" and {b} in every module that uses it). I think it could be better to refactor the `use_alias` decorator or create a new `use_common` decorator that automatically adds common option aliases and descriptions from a simple list. But

[2021-05-06 06:10] michaelgrund commented on #1259
I will work on that the upcoming weekend and will open a corresponding PR @meghanrjones.

[2021-05-06 20:26] leouieda commented on #1082
Sorry, jumping in here a bit late here. A quick impression is that something like the dictionary approach would be the easiest way to implement but not necessarily the best way to use the library. Mainly because the dictionary arguments won't be tab-completed. Same thing goes for the classes. It would be nice as a developer but I really wouldn't want to have to create separate instances just to pa

[2021-05-06 20:29] leouieda commented on #1082
The `frame` argument is another one that I would break into a dozen separate ones. Passing in a list with crazy strings is not something I've enjoyed recently.

[2021-05-07 01:26] seisman opened #1262 "PyGMT breaks with xarray 0.18.0"
**Description of the problem**

[xarray 0.18.0 was released on May 6, 2021](https://xarray.pydata.org/en/v0.18.0/whats-new.html), and some PyGMT tests break. I'm not sure if it's a bug or a breaking change of xarray.

**Full code that generated the error**

After upgrading to xarray 0.18.0, following codes no longer work:
[code]

**Full error message**

[code]

**System information**

Please paste

[2021-05-07 01:29] seisman commented on #1262
Using xarray directly gives the same error:
[code]

[2021-05-07 01:30] weiji14 opened #1263 "ValueError cannot guess the engine, try passing one explicitly with xarray 0.18"
**Description of the problem**

`xarray` v0.18 released on 6 May 2021 (see changelog at https://xarray.pydata.org/en/v0.18.0/whats-new.html) resulted in some API changes and this is breaking PyGMT tests that are trying to read from a *.grd file. Specifically the earth relief grids from the `pygmt.datasets.load_earth_relief` function don't work, and I think it also segfaults on Windows so it is a *

[2021-05-07 01:31] weiji14 commented on #1262
Oops, a bit too slow, I'll close down #1263 as a duplicate.

[2021-05-07 01:31] #1263 closed

[2021-05-07 01:37] seisman commented on #1262
I'm not familiar with xarray, but I guess that xarray tries to open the grid file using different engines, and it should work when it tries the "netcdf4" engine. It looks like an upstream bug to me, rather than a breaking API change.

[2021-05-07 01:49] weiji14 commented on #1262
`xarray` had a big backend engine refactor to handle multiple file formats (e.g. NetCDF, Zarr, etc) in a plugin-like way. I can try to raise an issue with upstream `xarray`, but they have a relatively slow release cycle (speaking from experience) and an xarray v0.18.1 probably won't come anytime soon in the next few weeks.

I'm aware that this will cause issues for any PyGMT users creating a new e

[2021-05-07 02:48] #1241 closed

[2021-05-07 03:35] seisman commented on #1262
Yes, please.

You mean creating a branch from the v0.3.1 tag, backport the changes in #1264, and make the v0.3.2 release?

[2021-05-07 03:40] #1262 closed

[2021-05-07 04:02] weiji14 commented on #1262
Is a *.grd file the same as a NetCDF4 file? I've stepped through the `xarray` code and the easiest fix might be to update the line at https://github.com/pydata/xarray/blob/v0.18.0/xarray/backends/netCDF4_.py#L524), changing `ext in {".nc", ".nc4", ".cdf"}
` to `ext in {".nc", ".nc4", ".cdf", ".grd"}`, but I'm not sure if it's a good idea (afraid that it might break other libraries).`

Yes, that is

[2021-05-07 04:06] #1118 closed

[2021-05-07 04:41] seisman commented on #764
Do we all agree that we should use `incols` rather than `columns` for **-i**? If so, we need to deprecate `columns` to `incols` using the `deprecate_parameter` decorator.

[2021-05-07 04:51] weiji14 commented on #764
`incol` or `incols`? GMT.jl allows for either I think, while GMT core uses `incols`. Didn't we have something about using singular instead of plural if possible?

[2021-05-07 11:25] leouieda commented on #1082
Been thinking about this some more. The classes option is not a bad idea but there are some things to watch out for:

1. Going overboard with classes. The `Pen` example is a good one. `"1p,black,-"` is quite reasonable in terms of complexity and should be somewhat familiar to matplotlib users (like `"-k"` in `plt.plot`). Other things like frames and positioning of boxes are the worse in terms of c

[2021-05-07 14:36] meghanrjones commented on #764
For reference, `incols` rather than `incol` in GMT core comes from the brief discussion in https://github.com/GenericMappingTools/gmt/pull/4634. There are a few common options where PyGMT conventions differ from the current GMT long options (e.g., `nodata`). I will work on the organization-wide repo for 'canonical' long options, in case we want to suggest revisions to the current versions in GMT s

[2021-05-08 18:07] #1075 closed

[2021-05-09 12:25] github-actions[bot] opened #1266 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/GenericMappingTools/pygmt/actions/runs/825216683?check_suite_focus=true)

[2021-05-09 22:00] weiji14 commented on #1266
Related to https://github.com/lycheeverse/lychee/issues/230 and upstream issue at https://github.com/robinst/linkify/issues/20, may be fixed by https://github.com/robinst/linkify/pull/21 :crossed_fingers:.

[2021-05-09 22:00] #1266 closed

[2021-05-10 20:56] seisman opened #1268 "Add a tutorial explaining the generally accepted input types"
_Inspired by PR #1186._

For GMT CLI, there are mainly two types of input: a table or a grid. PyGMT is more powerful and can accept more input types.

For a table input, PyGMT functions generally accept the following input types:

- a file name to a ASCII table, e.g., `data="input.dat"`
- a 2d numpy array, pandas.DataFrame, e.g., `data=data`
- a single value of int or float or str type to `x`,`y`,

[2021-05-12 01:15] weiji14 opened #1270 "PyGMT test breakages on Ghostscript 9.54.0"
**Description of the problem**

[Ghostscript 9.54.0](https://www.ghostscript.com/doc/9.54.0/News.htm) released on conda-forge 11 May 2021 (see https://anaconda.org/conda-forge/ghostscript/files) seems to have broken some unit tests due to tiny image differences. We'll need to update the baseline images on DAGsHub.

| baseline (old) | result (new) | diff |
|--|--|--|
| ![baseline](https://user-imag

[2021-05-12 04:16] #1270 closed

[2021-05-13 13:37] #1259 closed

[2021-05-14 13:15] vivigb opened #1275 "plot3d along with grdview is not working"
[code]
Here When I give the shading=0,everything is working perfect.But when I put shading='shadow.nc+a45', plot3d is not working, even though the script is executing without any error messages.

[2021-05-15 00:12] weiji14 commented on #1275
Hi @vivigb, we might need a bit more information to reproduce your issue and help you debug the situation. Could you please provide:

1. The plots you are getting with `shading=0` and `shading='shadow.nc+a45`. Use `fig.savefig("shading.png")` and upload the files as a comment.
2. The output of `print(pygmt.show_versions())` so we know the versions of PyGMT/GMT and other libraries you are using.
3.

[2021-05-17 01:52] seisman commented on #1262
Related upstream issue reports:

- https://github.com/pydata/xarray/issues/5295
- https://github.com/pydata/xarray/issues/5291

[2021-05-18 01:17] #608 closed

[2021-05-18 01:30] weiji14 commented on #608
Ok, the initial PyGMT-GeoPandas integration has been done in #1000! To try it out, do:

1. [Install the `pygmt` development version](https://www.pygmt.org/dev/install.html#using-pip) using `pip install --pre --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple pygmt`
2. Install geopandas following https://geopandas.org/getting_started/install.html
3. Try passing in a

[2021-05-18 21:33] weiji14 commented on #1076
Just following up on this. I think having 3 parameters (style/symbol/size) will get too confusing. If 'style' is not a good alias name for -S, perhaps we should deprecate it using `@deprecate_parameter` and rename it to 'symbol'? I.e. keep only 2 parameters (symbol and size).

[2021-05-19 17:39] seisman commented on #1262
xarray v0.18.1 has been released (https://github.com/pydata/xarray/releases/tag/v0.18.1). The patch release should fix the problem.

[2021-05-20 05:35] core-man commented on #1076
Good idea: First, deprecate `style` to `symbol` first, and then we could work on the remaining two parameters, i.e., `symbol` and `size`. Any comment @seisman?

[2021-05-20 05:53] weiji14 opened #1278 "Linux Python 3.9/NumPy 1.20 tests fail at dependency install step due to GDAL 3.3.0?"
**Description of the problem**

There seems to be a dependency resolver/timeout problem with the `conda install` step in PyGMT's `ci_tests.yaml`', specifically for the `ubuntu-latest - Python 3.9 / NumPy 1.20` build. This appears to have happened after GDAL was upgraded from 3.2 to 3.3 at https://github.com/conda-forge/gmt-feedstock/pull/150.

**Full code that generated the error**

See https://gi

[2021-05-20 16:10] meghanrjones commented on #1203
Good question. I am also curious about this. The main limitation that I see to disallowing the use of single-letter parameters is that it would prevent people from using 'cutting-edge' GMT functionality. Each GMT release tends to offer several new single-character options (see https://docs.generic-mapping-tools.org/dev/changes.html), so removing PyGMT support for single-character options would mak

[2021-05-20 18:08] seisman commented on #1203
I agree. Actually what I meant is to disallow single-letter parameters **if they already have aliases**. For example, currently, the `blockmean` function doesn't have an alias for **-A**, so users can still pass `A="a"` when calling `blockmean`. After we add an alias (e.g., `field`), users can either use `A="a"` or `field="a"`. I think we should disallow `A="a"` syntax and raise a warning so that

[2021-05-20 19:02] #1278 closed

[2021-05-20 19:32] #1098 closed

[2021-05-22 20:18] seisman commented on #1275
Ping @vivigb to provide more information to reproduce the issue.

[2021-05-25 00:55] weiji14 opened #1289 "Bump to GMT 6.2.0rc2"
The second release candidate for GMT 6.2.0 has been released (https://github.com/GenericMappingTools/gmt/releases/tag/6.2.0rc2) on 25 May 2021 and is installable from the [conda-forge devel channel](https://anaconda.org/conda-forge/gmt/files) using the following command:

[code]

TODO:

- [x] Bump the GMT version to 6.2.0rc2 used in the CI tests (#1290)
- [x] Fix failing tests, mostly those docume

[2021-05-25 04:13] weiji14 commented on #1289
Instead of opening 4 separate PRs for each of these, how about making just 2? I.e. one for `basemap`/`subplot`/`wiggle`, and one for `text`? Do people have any preference?

[2021-05-25 04:50] seisman commented on #1289
Sounds good to me.

[2021-05-25 20:19] leonfoks opened #1294 "Installation using Miniconda needs additional required package "tbb""
**Description of the problem**

Install issues on Mac OSX using Miniconda (not anaconda) distribution.
I followed the conda install instructions, added $HOME/miniconda3/lib to GMT_LIBRARY_PATH and still had issues.
tbb comes automatically with the Anaconda distribution but not the Miniconda distribution, therefore libtbb could not be found from libtiledb.

The solution was to add "tbb" to the list

[2021-05-25 22:34] weiji14 commented on #1294
HI @leonfoks, could you provide the full output from running `conda list`? I'm wondering if there's another dependency interfering with the install on miniconda. Two possible issues I spotted were:

1. The installed `pandas` version (1.0.5) is about a year old, the most recent one is 1.2.4 (which is why I suspect there could be a package conflict somewhere).
2. Adding `$HOME/miniconda3/lib` to `GM

[2021-05-25 22:52] leonfoks commented on #1294
Aha! that worked. I think my folly was forgetting to activate the environment. Using the pygmt env installed Pandas 1.2.4 and it worked fine! Sorry about that and thanks for getting back so quickly.

[2021-05-25 22:52] #1294 closed

[2021-05-25 23:06] weiji14 commented on #1294
Glad to help out, and thanks for trying out PyGMT :grin:

[2021-05-25 23:21] weiji14 commented on #732
Ok, some testing on GMT 6.2.0rc2 (install using `conda install -c conda-forge/label/dev gmt=6.2.0rc2`):

[code]

### Case 1

Previous whitespaces on the left and right are now coloured in correctly.

[code]

![temp1](https://user-images.githubusercontent.com/23487320/119580102-e45eb480-be13-11eb-85ee-432620ca1d72.png)

### Case 2

This previously failed with a complete blue image. Now the random d

[2021-05-26 01:06] PaulWessel commented on #732
You go 0 to 181 in latitude but not 0 to 361 in longitude?  Aren't you missing a column?

[2021-05-26 01:32] weiji14 commented on #732
Ah right, thanks Paul. So we do need a redundant column to wrap around the dateline. Using `figure.grdimage(da[0:181, 0:361], region="g", projection="W0/8i", frame=True)` removes the middle white line:

![temp3](https://user-images.githubusercontent.com/23487320/119589211-740d5e80-be26-11eb-961e-a6f4d84f4c40.png)

Ok to close this issue @seisman since it's resolved with GMT 6.2.0rc2? Or do we want

[2021-05-26 03:27] weiji14 commented on #390
Just for reference (since it took me a while to remember), we did add some tests for `Q`-type Cylindrical Equidistant projections already at https://github.com/GenericMappingTools/pygmt/pull/560#discussion_r484011483, but certain lon0/lat0 combinations (e.g. Q123/0, Q123/30, Q180/0, Q180/30) still don't work (as of GMT 6.2.0rc2). We'll close this issue down once those `Q` combinations work in PyGM

[2021-05-26 04:06] weiji14 commented on #764
Ok, let's go with `incols` then as per https://github.com/GenericMappingTools/gmt/pull/4634#issuecomment-757082092 and https://github.com/GenericMappingTools/pygmt/issues/764#issuecomment-834059812. Best to have PyGMT follow upstream GMT if a long option name already exists as in this case. I know Meghan started some work at https://github.com/GenericMappingTools/long-options and we should follow

[2021-05-26 04:17] #1131 closed

[2021-05-26 20:54] seisman commented on #1212
Please note that the link https://www.generic-mapping-tools.org/team is already taken and is redirected to the https://github.com/GenericMappingTools/gmt/blob/master/AUTHORS.md file.

[2021-05-27 02:28] seisman commented on #300
I'm reopening the feature request because I realize that sometimes I may need PS files for advanced editing.

[2021-05-27 02:38] seisman commented on #300
Here is a minimal Python script to reproduce the issue:
[code]

Currently, PyGMT raises the following error:
[code]

If I change "map.ps" to "map.pdf", the equivalent GMT CLI calls are:
[code]
So, is there a possibility to allow "psconvert" to output the PS file? @PaulWessel

[2021-05-27 02:50] PaulWessel commented on #300
Hm, we do this in GMT somehow.  Looking at function _process_figures_ in gmt_init.c it looks like you need to avoid passing -A for PostScript output but we do pass -Tp for PostScript.

[2021-05-27 02:51] PaulWessel commented on #300
Also, I do not know where the "Unknown extension" message comes from - I cannot find it in the GMT source code?

[2021-05-27 03:11] seisman commented on #300
So, **-Tp** is an undocumented feature in GMT.

Changing **-Tf** to **-Tp** and removing **-A**, I can get the PS file, but it's incorrectly "cropped" due to the larger origin shifts in modern mode. See the screenshot below:

![image](https://user-images.githubusercontent.com/3974108/119760219-9bd8e280-be77-11eb-92b6-1ac9a650a127.png)

The "Unknown extension" message is from PyGMT, not GMT.

[2021-05-27 09:23] core-man commented on #1205
If we want a minimal CONTRIBUTING.md, how about the following TOC of `CONTRIBUTING.md`:

- Contributing Guidelines
- Ground Rules
- Quick Links (some links to the planned contributing guides on the website, e.g., **What Can I Do?**, **How Can I Talk to You?**, **Reporting a Bug**)

Meanwhile, we could move all the sections to the website.

[2021-05-27 18:55] PaulWessel commented on #300
The 5 inch shift is only imposed for non-PS plots but not sure how that works in Pygmt.  If we run something like this:

`gmt basemap -R0/40/0/40 -JM6i -B -ps t -V `

then I get these messages

[code]

since I did not specifically ran gmt set or used PS_MEDIA.  This also means margin is left at 1 inch and not set to 5.  All this happens in gmt_plotinit.  Since you pass - instead of ps to gmt figur

[2021-05-27 18:56] PaulWessel commented on #300
The alternative answer is to convince anyone who wants to get a PS file that they are wrong and should get an EPS or PDF.  PS serves no useful purpose as far as I know.

[2021-05-27 20:33] seisman commented on #300
OK. EPS also works for me.

I think for PyGMT, we should at least update the warning message to recommend ".eps" or ".pdf" when ".ps" is requested.

[2021-05-27 20:50] EJFielding commented on #300
Yes, recommending `.eps` or `.pdf` sounds like the best plan to me.

[2021-05-28 01:57] seisman commented on #1275
Closing the issue as we don't get any feedback to reproduce the issue.

[2021-05-28 01:57] #1275 closed

[2021-05-28 02:40] seisman commented on #732
I think we need to add a test for it although it's an upstream bug.

[2021-05-28 15:16] #300 closed

[2021-05-28 21:09] seisman commented on #1289
Here is a minimal example to reproduce the flaky tests in `test_makecpt.py`. In this example, three figures are generated. The 1st and the 3rd figure uses the same code, so we expect `makecpt1.eps` and `makecpt2.eps` are the same, but actually these two images are slightly different. However, if we remove the code for the 2nd figure, `makecpt1.eps` and `makecpt2.eps` are the same again.

I think i

[2021-05-28 21:44] seisman opened #1309 "grdtrack produces incorrect results for xarray.DataArray grid"
**Description of the problem**

grdtrack works well for netCDF file, but produces random results for xarray.DataArray grid. If I understand #1304 correctly, it works on Linux, but not on macOS and Windows. I believe it's an upstream GMT bug.

**Full code that generated the error**

[code]

**Full output**

The first output is correct, and the second output is wrong.
[code]

**System information**

[2021-05-29 17:00] seisman commented on #1289
A bash version to reproduce the issue:
[code]

[2021-05-29 18:05] seisman opened #1311 "GMT figures are not fully isolated in one single sessions"
A bash script to reproduce the issue:
[code]

In this example, three figures are generated. The 1st and the 3rd figure uses the same code, so we expect makecpt1.pdf and makecpt2.pdf are the same, but actually, these two images are slightly different. However, if we remove the code for the 2nd figure, makecpt1.pdf and makecpt2.pdf are the same again.

I think it may mean that the "settings" for eac

[2021-05-29 21:17] seisman commented on #1289
The "makecpt" flaky tests will be fixed in https://github.com/GenericMappingTools/gmt/pull/5280 and available in GMT 6.2.0.

[2021-05-29 22:03] meghanrjones commented on #1242
The past few flaky tests revealing GMT bugs have convinced me of the usefulness of the current structure, even though it would be nice to have the option to run tests in parallel.

[2021-05-31 02:25] PaulWessel commented on #1309
I get the first output but on the 2nd one I get a crash:

[code]

Key problem is that **grdtrack** assumes bicubic sampling which requires padding and your matrix has none.  The other place this is an issue is in **grdimage** and there we create a padded grid if resampling is needed.  Not sure if we should do the same here, but if we don't then you will never get to use bicubic.  The alternative i

[2021-05-31 02:41] PaulWessel commented on #1309
I also wonder if the more general solution to these are to possibly add a flag to the mode passed to GMT_Read_Data that means "this grid needs to have 2 boundary pads and if not then make it so".  This flag would not do much for the case of reading from a data file, but in the case of a read-only input matrix with no pad it would basically allocate the grid, copy in the matrix, and from there on o

[2021-05-31 02:42] PaulWessel commented on #1309
If you have a way of passing -nl to grdtrack in pygmt then see if the script runs as is.

[2021-05-31 02:51] seisman commented on #1309
Yes, adding `n="l"` gives the same results for the two grdtrack calls.

Does it means that wrappers like PyGMT must know the technical details to decide if `GMT_GRID_NEEDS_PADS` is necessary?

[2021-05-31 02:53] PaulWessel commented on #1309
No, only the C modules need to know what they need, so easy for the wrappers: No changes (after implementing the GMT_GRID_NEEDS_PADS).  I think @joa-quim may agree that this is a good enhancement.  So in that case the GMT_GRID_NEEDS_PADS is not an API addition but just another internal developer constant.

[2021-05-31 02:59] seisman commented on #1309
It sounds good.

[2021-05-31 03:09] PaulWessel commented on #1309
So I think until then the simple thing is to check in grdtrack that if pad is < 2 then we set the -n interpolant to bilinear.

[2021-05-31 14:12] seisman commented on #1309
FYI, the issue has been temporarily fixed in https://github.com/GenericMappingTools/gmt/pull/5283 and should be available in GMT 6.2.0.

[2021-06-01 06:59] michaelgrund opened #1313 "The "incols" (-i) parameter doesn't works for vector input correctly"
**Description of the problem**

Using the ``incols`` parameter does not allow to swap columns (seems like the parameter is ignored at all so far). I believe it's an upstream GMT bug. This was discovered in https://github.com/GenericMappingTools/pygmt/pull/1303#discussion_r642213335.

**Full code that generated the error**

[code]

**Full output**

| fig1: expected | fig2: actual (wrong) |
|--|--|

[2021-06-01 12:24] PaulWessel commented on #1313
Do not think this is upstream bug.  Similar test with switching x,y then passing -i works as expected.

[2021-06-01 13:42] seisman commented on #1313
Yes, I think this is an upstream bug, but it only affects wrappers, that's why the GMT tests pass.

Here is a modified example based on @michaelgrund's example:
[code]

| array-xyz | file-xyz | array-yxz | file-yxz |
|---|---|---|---|
| ![array-xyz](https://user-images.githubusercontent.com/3974108/120333260-83c0f300-c2bd-11eb-8fac-f48d92c717af.png) | ![file-xyz](https://user-images.githubusercont

[2021-06-01 14:14] PaulWessel commented on #1313
Debugging the `wrong figure` case now.  We call **gmt info** to determine the region. I see that the list of options passed to **contour** includes the memoryfile, the projection, the **-Ba**, the **-W** and then there is a **-incols**0 string which of course is not parsed properly.  Presumably it is pygmt that generates this string of options?

[code]

[2021-06-01 14:20] meghanrjones commented on #1313
I think to use `incols` Paul would need to build from this branch (https://github.com/GenericMappingTools/pygmt/pull/1303) and that the master branch uses `columns` as the alias name. Rather than checkout out that branch and building, you could just change `incols=` to `columns=` or `i=`.

[2021-06-01 14:22] seisman commented on #1313
Yes, forgot to mention that #1303 is needed. Sorry about that.

[2021-06-01 14:23] PaulWessel commented on #1313
So I am debugging the C code.  I cannot change anything in these strings in the option structure I think.  Is that what you are suggesting?

[2021-06-01 14:25] meghanrjones commented on #1313
Just suggesting to use this for the debugging if you build from master branch to avoid the pygmt alias parsing:
[code]

[2021-06-01 14:42] PaulWessel commented on #1313
So I think I found the problem, but concerned that this would certainly affect any matrix being passed in as a dataset with -i options.  This is the function that determines which column we should read given input values col = 0, 1, 2, 3 ...:

[code]

I have commented out the offending line and replaced it with the one using the member order, like in _gmtio_ascii_input_ for files.  I will make a P

[2021-06-01 16:54] michaelgrund commented on #1313
Thanks for adding this @seisman, only tested it with an array as input.

[2021-06-01 22:52] weiji14 commented on #732
Just a note that doing a slice of an `xarray.DataArray` grid resets the coordinate system from Geographic type to Cartesian type as mentioned in https://github.com/GenericMappingTools/pygmt/issues/524#issuecomment-662274140.

[2021-06-02 00:23] weiji14 commented on #392
Perhaps add a new gallery example to mention the `style='r1/2'` way of drawing rectangles? Then we can close this issue.

[2021-06-02 03:00] seisman commented on #1313
The upstream bug was fixed in https://github.com/GenericMappingTools/gmt/pull/5289 and will be available in GMT 6.2.0.

[2021-06-02 03:17] seisman opened #1315 "Some rose tests are wrong"
**Description of the problem**

_The issue was first reported in https://github.com/GenericMappingTools/gmt/pull/5289#issuecomment-852667972._

The GMT `rose` module expects *length* and *azimuth*.

The sample data `@fractures_06.txt` contains *azimuth*,*length*. When writing the `load_fractures_compilation` function, we decided to return *length*,*azimuth*, rather than *azimuth*,*length*, so that

[2021-06-02 06:26] michaelgrund commented on #1315
Good catch @seisman.

[2021-06-02 06:33] michaelgrund commented on #1313
Great! Thanks for your efforts @PaulWessel @meghanrjones @seisman.

[2021-06-02 07:33] core-man commented on #392
Could I help with this example?

[2021-06-02 08:46] weiji14 commented on #392
Yes please, go for it! I'll assign this issue to you @core-man.

[2021-06-02 14:52] meghanrjones commented on #1313
There is still an issue with scalings not being applied on vector inputs. Here is a minimal example (will need to update the file path from `Users/user/` to get it to work):
[code]

| mississippi-file.png | mississippi-vector.png|
| --- | --- |
| ![mississippi-file](https://user-images.githubusercontent.com/14077947/120502571-893b3d80-c390-11eb-867a-8222bec7a5df.png) | ![mississippi-vector](https:

[2021-06-02 15:11] meghanrjones commented on #1313
I can work on debugging the scaling issue, but may not be able to get to it today.

We should generalize the issue title a bit for tracking, since this applies to virtual file input with `incols` across methods.

[2021-06-02 17:53] #1111 closed

[2021-06-02 19:49] PaulWessel commented on #1313
Tables are either read rec-by-rec or as an entire table.  Fixing the above for record reading was simple, and that gets the right **-R** via **gmtinfo** which reads records.  So the 2nd plot now shares the same y-range as the first.  However, the plotting in **plot** reads the entire table in and since **GMT_IS_REFERENCE** is passed we simply hook up the vectors to avoid memory duplication.  We on

[2021-06-02 21:02] seisman commented on #1315
Yes, assign it to @michaelgrund.

[2021-06-02 23:25] #732 closed

[2021-06-02 23:39] weiji14 commented on #1289
Ok, I'm closing this issue. There's a few more PyGMT tests we'll need to update since there have been bugfixes in upstraem GMT (to be released in GMT 6.2.0 https://github.com/GenericMappingTools/gmt/issues/5290!), but that can be tracked in a separate 'Bump to GMT 6.2.0' issue :grin:

- [ ] grdtrack (#1304/#1309)
- [ ] rose (#1315)
- [ ] contour (#1303/#1313)

[2021-06-02 23:39] #1289 closed

[2021-06-03 00:03] seisman commented on #392
Please note that we already have an example for rectangles (https://www.pygmt.org/latest/gallery/symbols/multi_parameter_symbols.html), but in this example we read the "sizes" from the input file, rather than in the `style` parameter.

I feel we can simply update that example, rather than adding a new gallery example.

[2021-06-04 16:01] maxrjones opened #1318 "Consistent table-like output for PyGMT functions/methods"
Originally posted by @weiji14 in https://github.com/GenericMappingTools/pygmt/pull/1284#discussion_r639581006:

I am opening this issue to find out what the output format/options should be with the additional of x/y/z in blockmean, blockmedian, and grdtrack, as well as for new methods such as grd2xyz.

----

**Edit by @seisman on Oct 9, 2023:**

The PyGMT team has reach an agreement that PyGMT fun

[2021-06-05 03:09] #549 closed

[2021-06-06 00:01] weiji14 opened #1320 "Bump to GMT 6.2.0"
:tada: GMT 6.2.0 has been released (https://github.com/GenericMappingTools/gmt/releases/tag/6.2.0) on 6 June 2021! It is installable from the [conda-forge channel](https://anaconda.org/conda-forge/gmt/files) using the following command:

[code]

TODO:

- [x] Bump the minimum required GMT version to 6.2.0 (#1321, @weiji14)
- [x] Fix failing tests (recommend opening 2 PRs, one for `rose` and one for

[2021-06-06 00:53] weiji14 commented on #1318
Just wanted to say, this is a similar issue to that in the RAPIDS AI `cuml` library. See https://docs.rapids.ai/api/cuml/0.19/api.html#output-data-type-configuration. Their solution is to:

1. By default: 'mirror' the input data format to be the same as the output format as much as possible, i.e. `numpy` in/`numpy` out, or `pandas.DataFrame` in/`pandas.DataFrame` out.
2. Override the default behav

[2021-06-07 07:25] Nasuyo commented on #392
Hello,
    I am currently out of office. I will be back on Monday, 07.06.
    Stefan

[2021-06-08 01:14] meghanrjones commented on #1318
Thanks for the helpful reference, @weiji14! I like the mirroring behavior and agree that it would be a good milestone for v0.5.0+.

In my opinion, a parameter to control the output type seems a bit simpler for users than a context manager (examples below). The options for `pygmt.using_output_type` may also depend on the specific function/method, which could become difficult to document. The contex

[2021-06-08 01:49] weiji14 commented on #1318
You're right that controlling the output type via a parameter (similar to what @willschlitzer did in bf58dc2defc3b6ff67e4769322505d63e4ad941d) would be simpler than a context manager. I don't have a preference for either style, but after doing a bit of digging, it seems like `cuml` had an `output_type` parameter at one point, but they deprecated it in favour of the context manager option in https:

[2021-06-09 01:33] #1201 closed

[2021-06-09 10:45] #1315 closed

[2021-06-09 11:40] BRseis opened #1326 "No module issue when importing pygmt"
Hi,
I'm new to gmt and pygmt.
I tried installing it according the scripts for anaconda but when i try to test it it doesn't recognize pygmt as a module.
Removed and reinstalled anaconda and its packages and then reinstalled pygmt.
Now i got pygmt as a kernel but yet i get the same result when i try to import pygmt .
I am using windows 10.
![image](https://user-images.githubusercontent.com/85621008

[2021-06-09 12:48] core-man commented on #1326
Did you activate the environment within which you install pygmt, e.g., run `conda activate pygmt`

[2021-06-09 12:54] BRseis commented on #1326
yes I did.
checked to make sure...
![image](https://user-images.githubusercontent.com/85621008/121358050-95943d00-c932-11eb-9520-e991ba06b7b5.png)

[2021-06-09 13:01] core-man commented on #1326
How about running `import PyGMT` under pygmt environment using PowerShell directly.

[2021-06-09 13:06] meghanrjones commented on #1326
It could be a path error. If you type `which python` after activating the conda environment, the path should show python inside the conda env, rather than a different python installation.

p.s. Welcome to the community! For future questions, please post in the PyGMT Q&A section of the [user forum](https://forum.generic-mapping-tools.org/c/questions/pygmt-q-a/11). You are welcome to post bug report

[2021-06-09 13:21] BRseis commented on #1326
thank you.
I will try their forum too.

P.S. i tried, nothing changed...
![image](https://user-images.githubusercontent.com/85621008/121362425-5ec02600-c936-11eb-8302-f20a10eea056.png)

[2021-06-09 14:30] #1320 closed

[2021-06-09 16:35] seisman commented on #1326
The same issue was posted on the forum (https://forum.generic-mapping-tools.org/t/no-module-issue-when-importing-pygmt/1769).

I'm closing the issue.

[2021-06-09 16:35] #1326 closed

[2021-06-09 16:45] BRseis commented on #1326
I opened the issue there since you guys instructed me to address there...

[2021-06-09 16:52] meghanrjones commented on #1326
Yes, thank you for opening the issue on the forum. We'll continue the conversation over there.

[2021-06-10 02:46] seisman commented on #618
The feature request has been implemented in #750 and now merged in master. Now `grdimage` can accept a netCDF grid or a xarray.DataArray as shading.

However, the grdimage shading with a xarray.DataArray has known upstream bugs (see https://github.com/GenericMappingTools/pygmt/pull/750#discussion_r644475505, https://github.com/GenericMappingTools/pygmt/pull/750#discussion_r647908094, and https://g

[2021-06-10 18:12] meghanrjones commented on #1318
Yes, I agree that a helper function is a good idea for the implementation of an output format choice.

[2021-06-13 12:25] github-actions[bot] opened #1330 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/GenericMappingTools/pygmt/actions/runs/933159897?check_suite_focus=true)

[2021-06-14 10:15] weiji14 commented on #1330
The NSF award links work for me. Might be just an intermittent problem, so I'll close this issue.

[2021-06-14 10:15] #1330 closed

[2021-06-15 10:59] willschlitzer commented on #1318
I think the helper function would be our best bet (although I'm not too strong with writing decorators). Borrowing/stealing entirely from my commits mentioned above, I think something like this would could be helpful:

[code]
I know it's a little redundant accepting the `result` argument only to immediately return it if `data_format` is set as a string, but it avoids the reuse of if statements. Ad

[2021-06-15 11:26] weiji14 commented on #1318
The return_table function looks to be on the right track. We can discuss this in the meeting tomorrow (https://forum.generic-mapping-tools.org/t/pygmt-community-zoom-meeting-tuesday-15-june-2021-utc-1700/1762) if there's time.

In terms of your PRs #1284 and #1299 though @willschlitzer, I'd suggest sticking to a `str` or `pandas.DataFrame` only output for PyGMT v0.4.0 if you want to get those PRs

[2021-06-15 18:13] meghanrjones opened #1333 "Release PyGMT v0.4.0"
**Release**: [v0.4.0](https://github.com/GenericMappingTools/pygmt/milestones/6)
**Scheduled Date**: 2021/06/20
**Pull request due date**: 2021/06/18

**Priority PRs/issues to complete prior to release**
- [x] Reinstall optional geopandas dependency on CI tests (https://github.com/GenericMappingTools/pygmt/pull/1331)
- [x] Specify rectangle's width and height via style parameter in multi-parameter

[2021-06-15 21:26] meghanrjones commented on #1205
I will open a PR based on the conversation here, because if possible it would be nice to get this in for v0.4.0 in advance of the July/August sprint/workshop.

[2021-06-16 06:00] willschlitzer commented on #1318
@weiji14 @meghanrjones I know this is different than what we discussed at the PyGMT meeting last night, but after giving it some more thought, I would prefer not getting the table output options for `grd2xyz` and `grdvolume` in line with `grdtrack` for v0.4.0 if the plan is to move towards their current implementation for v0.5.0 (along with the use of a helper function). I don't think `grdvolume`

[2021-06-17 14:24] #1205 closed

[2021-06-17 15:26] meghanrjones commented on #1318
Thanks for the detailed explanation and for submitting the proof-of-concept PR. I understand your points. I'll add some comments on https://github.com/GenericMappingTools/pygmt/pull/1336, but I agree with you that it's not likely we will reach consensus and update the other methods/functions with table output in the next few days. So, it seems https://github.com/GenericMappingTools/pygmt/issues/13

[2021-06-17 20:00] meghanrjones commented on #1333
There was discussion at the community meeting about a GMT 6.2.1 release depending on the outcome of https://github.com/GenericMappingTools/gmt/issues/5343. If that ends up being needed, I think we may want to delay PyGMT v0.4.0 so that GMT 6.2.1 is required rather than 6.2.0.

[2021-06-18 03:44] weiji14 commented on #1333
The histogram bug does look bad, but I'm still reluctant to postpone the release any further as SciPy sprints are coming up (17-18 July). There is a degree of flexibility between PyGMT and GMT versions, and `histogram` users could install GMT 6.2.1 (once that gets released) to have the bugfix. But I'll defer to the rest of the team on whether we should wait a bit longer.

P.S. I've reserved the Ze

[2021-06-18 09:27] core-man commented on #1333
I agree with this point, so I also prefer to release the PyGMT as the current plan.

[2021-06-18 10:55] michaelgrund commented on #1333
Same opinion.

[2021-06-18 14:48] meghanrjones opened #1338 "Gallery/tutorial example showing how to use different colormaps for subplots"
**Description of the desired feature**

I think it would be worthwhile to add @seisman's example from the forum (https://forum.generic-mapping-tools.org/t/different-colorbars-for-subplots/1797/8) or something similar as either a gallery example or part of a tutorial, showing how to use set_panel to apply different colormaps to subplots. This is probably a common use-case case for PyGMT, but not ob

[2021-06-18 16:41] michaelgrund commented on #1338
Fully agree, having an example on this will avoid a lot of confusion, especially for non-experienced GMT users.

[2021-06-18 20:20] meghanrjones opened #1340 "Add gallery/tutorial for Figure.contour()"
The [contour](https://www.pygmt.org/dev/api/generated/pygmt.Figure.contour.html) method currently does not have any gallery plots or tutorial examples that show how it is used.

The options to fix this include 1) adding a new gallery example for contouring table data or 2) adding a section to the [create a map with contour lines](https://www.pygmt.org/dev/tutorials/contour_map.html) tutorial that

[2021-06-19 01:16] meghanrjones commented on #1333
Sounds good for keeping to the current schedule. I will update the changelog tomorrow.

[2021-06-19 15:04] core-man commented on #1338
I will help with this issue but might need some time to finish it so I self-assign it to me if you wouldn't mind. I might prefer a gallery example.

[2021-06-19 15:55] meghanrjones commented on #1338
Great, thanks @core-man!

[2021-06-19 16:06] meghanrjones commented on #1099
@weiji14, do you mind if I work on a PR for x/y input for grdtrack?

[2021-06-19 23:10] #392 closed

[2021-06-20 02:05] #1253 closed

[2021-06-20 09:02] michaelgrund commented on #1333
Although I'm limited in time this weekend, I could make the announcements on the webiste and Researchgate.

[2021-06-20 10:59] core-man commented on #1333
FYI, I made a rough news draft at hackmd: https://hackmd.io/@pygmt/v0-4-0_announcement. I mainly copied it from [v0-3-1_announcement](https://hackmd.io/@pygmt/v0-3-1_announcement), removed some finished tasks and added only a little about v0-4-0.

[2021-06-20 12:28] michaelgrund commented on #1333
Already updated some points and added a few comments.

[2021-06-21 00:05] weiji14 commented on #1333
Woohoo, thanks team! PyGMT v0.4.0's Zenodo DOI now works at https://doi.org/10.5281/zenodo.4978645. Let's wait for the conda package update to come in first and then we can make the announcement.

[2021-06-21 05:37] michaelgrund commented on #1333
Announcements on website (PR needs to be accepted) and Researchgate are done!

[2021-06-21 06:05] weiji14 commented on #1333
Should have mentioned that the forum post needs to go up first :sweat_smile: @core-man do you want to do the forum announcement? I'll do the tweet afterwards.

[2021-06-21 06:06] core-man commented on #1333
Sound good. I can do the forum announcement.

[2021-06-21 06:07] michaelgrund commented on #1333
Ah damn, so the link to the forum post on Researchgate does not work yet 😅.

[2021-06-21 06:08] core-man commented on #1333
Maybe we should add this point in the release template next time.

[2021-06-21 06:12] core-man commented on #1333
It seems that I don't have the access to make an announcement now. Could anyone help do it? I could help next time. :smile:
![](https://user-images.githubusercontent.com/50591376/122714770-74204300-d29a-11eb-94aa-ec05b93f5573.png)

[2021-06-21 06:19] weiji14 commented on #1333
Ah ok, forgot that only moderators can post. I'll do it in a few mins.

[2021-06-21 06:42] weiji14 commented on #1333
Alright, announcements are up at https://forum.generic-mapping-tools.org/t/pygmt-v0-4-0-released and https://twitter.com/gmt_dev/status/1406864460124463106 :partying_face:

[2021-06-21 07:48] willschlitzer opened #1344 "grdtrack raises an input error when points are not a DataFrame and no column name is specified"
The documentation for `grdtrack` states that an argument for `newcolname` is required if the argument for `points` is a DataFrame. However, a `GMTInvalidInput` error requiring an argument for `newcolname` is raised if `points` is a numpy array or a list as well.

**Full code that generated the error**
*Import statement*

[code]
*Points as a numpy array*
[code]
*Points as a list*
[code]

**Full err

[2021-06-21 14:49] seisman commented on #1333
Great work!

[2021-06-21 14:49] #1333 closed

[2021-06-21 15:41] meghanrjones commented on #1333
Thanks for your hard work, everyone! Great to see this out! I will open a PR updating the maintenance guide and issue template with some lessons from this release cycle, likely later today.

[2021-06-22 14:29] VectorZhao opened #1347 "GMT’s movie function"
Looking forward to adding this feature in PyGMT

[2021-06-22 17:31] michaelgrund opened #1349 "Gallery/tutorial example showing how to use/create custom symbols"
**Description of the desired feature**

I already opened a PR to add a gallery example showing different custom symbols (#1348 ). However, I feel it would be great to have a short tutorial in which it is shown how users could generate their own custom symbols (based on the information and instructions available from https://docs.generic-mapping-tools.org/latest/cookbook/custom-symbols.html).

[2021-06-23 03:11] leonfoks opened #1351 "blockmedian fails with x,y,z options and not table."
**Description of the problem**
Im trying to use block median before surface and I want to specify x, y, z instead of casting into a dataframe or other format.
I'm looking at the docs [here](https://www.pygmt.org/latest/api/generated/pygmt.blockmedian.html) which state this is possible.

It would be good to have examples in the documentation for the block filtering and surface methods (as a side no

[2021-06-23 03:14] weiji14 commented on #1351
Hi @leonfoks, the xyz input into `pygmt.blockmedian` is a feature available in PyGMT v0.4.0 (done in #1319), but it appears that you have PyGMT v0.3.1 installed. Could you try upgrading and see if it works?

[2021-06-23 03:41] leonfoks commented on #1351
Hi @weiji14 , Another easy one from me.  Thanks for the quick response.  I updated and it's working just fine!

Personally, I think a gallery example would suffice. Perhaps containing a surface example, then a surface example that produces the block median warning message and finally use of the block median to reduce and then use surface, showing that the images look visually the same before and a

[2021-06-23 03:41] #1351 closed

[2021-06-23 03:53] weiji14 commented on #1351
No worries :)

Ok, I'll open a separate issue for this documentation suggestion, and maybe someone will work on it for the upcoming SciPy sprint in July.

[2021-06-23 04:00] weiji14 opened #1352 "Gallery example to showcase blockmean/blockmedian and surface"
**Description of the desired feature**

As suggested by https://github.com/GenericMappingTools/pygmt/issues/1351#issuecomment-866497785, it would be great to have a gallery example (or a full tutorial) showing how to use `blockmean`/`blockmedian` to reduce an xyz table dataset, and then run `surface` on the output to produce a grid (that can be plotted). There is an old and outdated example for pr

[2021-06-23 15:12] meghanrjones commented on #1099
Just an update - I will hold off until after https://github.com/GenericMappingTools/pygmt/pull/1353 and https://github.com/GenericMappingTools/pygmt/pull/1336 are completed to submit the x/y input PR for grdtrack.

[2021-06-24 06:17] willschlitzer opened #1356 "Change main branch from "master" to "main""
In the interest of inclusivity, should we change the main git branch from `master` to `main`? This would be in line with changes to large Python repos, including CPython, Numpy, Flask, and Django, as well as the default main branch for all new GitHub repos.

**Are you willing to help implement and maintain this feature?** Yes

[2021-06-24 14:00] seisman commented on #1356
I'm OK with the change.

[2021-06-24 15:28] michaelgrund commented on #1356
Mee, too!

[2021-06-24 15:46] core-man commented on #1356
I don't think so from my experience for this change 😄

[2021-06-24 20:55] weiji14 commented on #1356
Guidance is at https://github.com/github/renaming. Contributors will need to point their git remote to the new 'main' branch locally on their computers, and there will need to be a Pull Request to rename 'master' to 'main' across our documentation/CI scripts/etc.

[2021-06-24 20:58] meghanrjones commented on #1356
I support the change. Seems that github has made the process rather streamlined.

[2021-06-24 22:27] seisman opened #1358 "Remove the "documentation for other versions" section from the README file"
The "documentation for other versions" section in the README file is becoming longer as we release more versions:

![image](https://user-images.githubusercontent.com/3974108/123339960-81973080-d519-11eb-814d-22c4691c11d8.png)

Since we already have a version switcher on the main site, and the version switcher is easy to use, I think we can remove the "documentation for other versions" section from

[2021-06-25 02:53] seisman commented on #1313
Reopen because the upstream fix https://github.com/GenericMappingTools/gmt/pull/5289 breaks GMT.jl.

See https://github.com/GenericMappingTools/gmt/issues/5384 for discussions.

[2021-06-25 06:32] willschlitzer commented on #1356
I don't have the rights to rename the default branch, but I have submitted a draft PR changing documentation and CI scripts.

[2021-06-25 08:57] core-man commented on #1358
Sound good.
- PyGMT users could find documentation of different versions using the version switcher on the main site.
- PyGMT contributors/maintainers could find the version records at [/doc/_static/version_switch.js](https://github.com/GenericMappingTools/pygmt/blob/master/doc/_static/version_switch.js)

[2021-06-25 14:35] meghanrjones commented on #1356
At the same time, we could update the 'master' CPT references in the docstrings for these two functions:

./pygmt/src/grd2cpt.py
./pygmt/src/makecpt.py

[2021-06-25 19:50] meghanrjones commented on #1347
Thanks for opening the feature request @VectorZhao! Can you please clarify whether you want to work on implementing this feature?

[2021-06-25 20:03] seisman commented on #1358
I'll mark it as "good first issue" and "first-timer-only" if @GenericMappingTools/pygmt-maintainers have no objections.

[2021-06-25 20:11] weiji14 commented on #1358
Alternatively, we could link to the old version docs page at the Compatibility with GMT/Python/NumPy versions table? I feel like keeping a proper link somewhere is good, since the Javascript dropdown isn't very accessible, and can't be used in some places like the PyPI page.

[2021-06-25 21:05] meghanrjones commented on #1344
I think the motivation for having newcolname as required for the dataframe input and output case case was probably because two columns cannot have the same name, so it's not simple to use a default column name for the output. Since this isn't a problem when creating a dataframe from numpy inputs, I do not think it should be required for that case.

[2021-06-25 21:41] seisman commented on #1358
I just recalled your accessibility concern at https://github.com/GenericMappingTools/pygmt/pull/621#discussion_r491674861.

Could you explain more about the dropdown accessibility? What do you expect?

[2021-06-25 22:19] weiji14 commented on #1358
Thanks for digging up that comment :) I expect that someone using **only** their keyboard can access other versions of PyGMT's documentation.

[2021-06-26 01:46] seisman commented on #1356
But they are called "master" CPT in GMT.

[2021-06-26 21:55] seisman commented on #1358
I think it already works, no? I can use `Tab` to navigate the PyGMT site and also use up-down keys to select specific versions.

[2021-06-26 22:22] seisman opened #1361 "Typos in the source code and documentation"
**Description of the problem**

Here are some small typos in the source code and documentation, which are easy to fix.

---

https://github.com/GenericMappingTools/pygmt/blob/8a9f622fc0aaac4bd8a7a4e0fba4b4afd85d615b/doc/maintenance.md#L174

Line 174 in `doc/maintenance.md`: "developement" should be "development".

----

https://github.com/GenericMappingTools/pygmt/blob/8a9f622fc0aaac4bd8a7a4e0fba4

[2021-06-26 23:46] weiji14 commented on #1358
Maybe it work on your browser? On Firefox for me, I can only use Tab to select one version above or below the current one as mentioned in https://github.com/GenericMappingTools/pygmt/pull/621#discussion_r491674861. If I'm at v0.3.1, it jumps directly to v0.4.0 or v0.3.0 if I press the up or down button (this is before I press Enter). So if I want to go to v0.1.2, I need to tab to the version switc

[2021-06-27 04:03] Jayita10 commented on #1361
I am trying to learn how open source work. Can I work on this issue?

[2021-06-27 05:14] Jayita10 commented on #1361
@soham4abc good gesture from you :)

[2021-06-27 05:17] soham4abc commented on #1361
I am so sorry! I did not see anyone assigned yet to this issue thus I made a PR. I will be closing my pull Request! Please feel Free to contribute! Welcome to open source!

[2021-06-27 05:23] soham4abc commented on #1361
@Jayita10  go ahead its yours's!

[2021-06-27 10:00] Jayita10 commented on #1361
Nopes @soham4abc, neither I am assigned to this task. You please reopen your PR.
For the next time, make sure to check whether anyone claim for the issue or not before making a PR. Thanks :)

[2021-06-27 16:13] soham4abc commented on #1361
Done! And once again, sorry!

[2021-06-27 19:20] seisman commented on #1361
@soham4abc Thanks for your quick contribution.

@Jayita10 We may find another easy issue for you.

[2021-06-27 20:37] #1361 closed

[2021-06-29 19:16] seisman commented on #1358
It works well for me on Microsoft Edge, Safari, but not on Firefox.

[2021-06-29 19:21] seisman commented on #1356
One more note: there are some links in the old documentation that are linked to files on the master branch, for examples, links to the LICENSE.txt, CONTRIBUTING.md and links to example source files. Changing "master" to "main" also breaks the old documentation (including the latest v0.4.0 documentation).

Does GitHub automatically redirect any links of master branch to "main"? If not, do we want t

[2021-06-29 21:23] willschlitzer commented on #1356
While I don't want to limit anyone's access to information, do we expect many individuals to be clicking through our old documentation? On that topic, is there typically an expectation to support old documentation versions once new versions are released?

[2021-06-29 21:26] hazardgoat commented on #1129
I know this is an old thread, but I too am unable to get the focal mechanism offset parameter to work. Were you ever able to find a way to get it to offset?

[2021-06-29 21:29] meghanrjones commented on #1356
My understanding is that the redirection will not be a problem: https://github.blog/changelog/2020-07-17-links-to-deleted-branches-now-redirect-to-the-default-branch/. What do you mean by it breaks the old documentation?

[2021-06-30 01:38] seisman commented on #1356
I don't think we should take the time to fix old documentation. However, we have to make sure that links in the v0.4.0 documentation don't break, because v0.4.0 is the latest stable version.

The page says:

I think it means that the "Improve the page" links at the top right corner of each gallery/tutorial won't work.

[2021-06-30 02:17] weiji14 commented on #1356
Right, so you mean a link like https://github.com/GenericMappingTools/pygmt/edit/master/doc/index.rst will be broken as it won't redirect to https://github.com/GenericMappingTools/pygmt/edit/main/doc/index.rst? We *could* find-and-replace master to main all the links at https://github.com/GenericMappingTools/pygmt/tree/gh-pages/v0.4.0. OR, we should just get a v0.4.1 release out after merging in #

[2021-06-30 03:06] weiji14 commented on #1358
Ok, if we do want to remove it, maybe we could put the old links at the Compatibility table as I mentioned in https://github.com/GenericMappingTools/pygmt/issues/1358#issuecomment-868808505, so that it looks like this:

![image](https://user-images.githubusercontent.com/23487320/123895540-18e60300-d9b4-11eb-990e-aa795b14dd76.png)

i.e. have every minor version point to the latest patch release, e.

[2021-06-30 04:57] core-man commented on #1358
Same with me. I use CentOS7.5 and Google Chrome.

Sounds good.

[2021-06-30 16:07] hazardgoat opened #1364 "Geologic Unit Dataset"
**Description of the desired feature**
I would like a geologic unit dataset to be added to pygmt.datasets. After receiving help on the forums for [plotting a geologic map](https://forum.generic-mapping-tools.org/t/pygmt-coloring-polygons-from-a-converted-kml-file/1798), I'd like to contribute what I learned to the example gallery for how to use fig.plot to color polygons by the values in a column.

[2021-06-30 22:40] meghanrjones commented on #1344
Another note regarding `newcolname` (originally posted in https://github.com/GenericMappingTools/pygmt/pull/1345#issuecomment-870091881) - it should also accept a list with multiple column names for instances in which multiple grids are sampled.

[2021-07-01 06:18] willschlitzer commented on #1358
I think this looks much cleaner than the old version; I'm a fan!

[2021-07-01 23:35] hazardgoat opened #1365 "Figure.meca: offsetting doesn't work for comma-separated files"
**Please describe what could be improved about this page or the typo/mistake that you found:**
The `spec` parameter mentions the convention format columns must be ordered in for a file to be properly read. However, it is not clear what the correct order is when coordinates and depth columns are present. Additionally it is not clear that .csv files must be tab separated rather than comma separated

[2021-07-02 15:57] meghanrjones commented on #1364
Thanks for opening this issue. I agree that this would be a helpful example. Do you have a dataset in mind for the example that you would like added to pygmt.datasets? Ideal datasets for examples are relatively small and open source.

[2021-07-02 16:29] meghanrjones commented on #1365
Thanks for working to improve PyGMT based on your experiences with the library.

I agree that adding the full expectation for column order when a filename is given would be useful. It also seems that some parameters are ignored if spec is a filename, such as longitude and latitude, which should be documented.

For the documentation of offset parameter needing tab or space separation, I wonder whet

[2021-07-02 18:00] seisman commented on #1365
It's an upstream bug, but I'm not sure how to fix it.

[2021-07-03 08:43] hazardgoat opened #1367 "Possible text bug with fig.meca when plotting from a file"
**Description of the problem**
I think I may have run across a bug with fig.meca when attempting to plot from a file. Column names are being plotted in the bottom left corner, and the issue disappears when column names are removed from the file.

**Full code that generated the error**
[code]

**System information**
PyGMT information:
version: v0.4.0
System information:
python: 3.9.5 (tags/v3.9.5:0

[2021-07-03 09:26] hazardgoat commented on #1364
@meghanrjones The dataset I had in mind is a geologic map of the US state of California, provided by the California Geological Survey [here](https://www.conservation.ca.gov/cgs/Documents/Publications/Geologic-Data-Maps/GDM_002_GMC_750k_v2_GIS.zip). As it is a map provided by the state government for the public, I should think that it is freely available for non commercial use. The polygon file its

[2021-07-03 18:57] seisman commented on #1367
It's not a bug. For text files with a header like
[code]
you have to tell GMT or PyGMT to skip the header.

[2021-07-03 19:03] seisman commented on #1367
@PaulWessel I'm wondering if `meca` can be more clever about these headers.

You can run the following command to reproduce the issue. You will see the "header line" appear at the lower left corner of the map:
[code]

But, it seems `plot` can skip the header line quietly.
[code]

[2021-07-03 22:08] seisman commented on #1367
This is caused by an upstream issue and has been fixed by https://github.com/GenericMappingTools/gmt/pull/5427.

[2021-07-04 03:28] isLiYang opened #1368 "Bug with x2sys_cross module not handling NaN values properly"
**Description of the problem**
When I using the x2sys_cross function, passing a pandas.DataFrame I got no result return. However, passing an ASCII file the the program works fine. I don't know what went wrong, and I  tested the code of pull request#591 it worked.
I upload the **ssh.txt** for running the above code. See my **testdata repertory**. https://github.com/isLiYang/testdata

I hope someone

[2021-07-04 07:26] isLiYang commented on #1368
Hi There, I upload the **ssh.txt** for running the above code. See my **testdata** repertory. [https://github.com/isLiYang/testdata](url)

I hope someone can solve my question.

Thank you!

[2021-07-04 23:44] weiji14 commented on #1368
Hi @isLiYang, thanks for filing this bug report! I can reproduce your error, and have tracked down the problem to this section of the code:

https://github.com/GenericMappingTools/pygmt/blob/d90b3fc889b53633deab6b4ab77612ac7a247c1b/pygmt/src/x2sys_cross.py#L46-L51

The problem is that PyGMT was not handling the NaN values in your dataframe properly. By default, `pandas.to_csv` writes out blank ''

[2021-07-05 01:18] isLiYang commented on #1368
Thank you for your reply.
I will try to remove NaN values in pandas.Dataframe When using x2sys module, deleting NaN values doesn't affect my calculations.
Thank you for your contributions to open source software.

[2021-07-05 01:21] isLiYang commented on #1368
Thank you for your reply.  @reply.weiji14
I will try to remove NaN values in pandas.Dataframe When using x2sys module, deleting NaN values doesn't affect my calculations.
Thank you for your contributions to open source software.

[2021-07-05 01:22] isLiYang commented on #1368
Thank you for your reply.
I will try to remove NaN values in pandas.Dataframe When using x2sys module, deleting NaN values doesn't affect my calculations.
Thank you for your contributions to open source software.
@weiji14

[2021-07-05 01:32] weiji14 commented on #1368
Cool, and let us know if you need any other help, or if there's another `x2sys` module at https://docs.generic-mapping-tools.org/6.2/modules.html#x2sys you need and we'll put in a feature request :smile:

P.S. I'll reopen this issue until the bugfix at #1369 is incorporated to PyGMT's main branch.

[2021-07-05 12:04] isLiYang commented on #1368
@weiji14
😁 Haha. That sounds great, but I don't need any of the other functions of x2sys module right now. It is better to develop some commonly used functions first.

[2021-07-06 02:18] weiji14 opened #1370 "Expand pygmt subplot's documentation for the figsize and subsize parameters"
**Description of the desired feature**

The docstring for [pygmt.subplot](https://www.pygmt.org/v0.4.0/api/generated/pygmt.Figure.subplot.html)'s `figsize` (-Ff) and `subsize` (-Fs) parameters are rather brief, and we should expand it to be longer following upstream GMT at https://docs.generic-mapping-tools.org/6.2/subplot.html#required-arguments-begin-mode:

## Current state

## Desired state

##

[2021-07-06 02:55] weiji14 opened #1371 "Expand grdfill's aliases to include coltypes (f)"
**Description of the desired feature**

Continuing on from #1276, there are some parameters in upstream GMT at https://docs.generic-mapping-tools.org/6.2/grdfill.html which are still missing in PyGMT at https://www.pygmt.org/v0.4.0/api/generated/pygmt.grdfill.html. Your task is to fill them in!

## Current state :memo:

https://github.com/GenericMappingTools/pygmt/blob/d90b3fc889b53633deab6b4ab776

[2021-07-06 03:20] weiji14 opened #1372 "Expand grdgradient's aliases to include normalize (N)"
**Description of the desired feature**

Continuing on from #1269, there are some parameters in upstream GMT at https://docs.generic-mapping-tools.org/6.2/grdgradient.html which are still missing in PyGMT at https://www.pygmt.org/v0.4.0/api/generated/pygmt.grdgradient.html. Your task is to fill them in! Note that this issue may be slightly more difficult, so please look at another simpler issue lik

[2021-07-06 03:48] weiji14 opened #1373 "Plot point type geopandas.GeoDataFrames as points directly instead of as lines"
**Description of the desired feature**

:warning: Note to SciPy 2021 sprinters: this is a bit more of an advanced feature enhancement request, which you are happy to help with if you good with GeoPandas and PyGMT. But if not, please take a look at other [`scipy-sprint`](https://github.com/GenericMappingTools/pygmt/labels/scipy-sprint) issues which are easier :warning:

PyGMT added initial support

[2021-07-06 04:08] weiji14 opened #1374 "Add gallery example for plotting geopandas.GeoDataFrame objects"
**Description of the desired feature**

It would be great to have some **gallery examples** on how users can plot geopandas.GeoDataFrame objects in PyGMT. This will be a follow up to #1000. You will need to have some familiarity with `geopandas` and/or `PyGMT`, but if you're still keen to learn, let us know and we'll guide you along!

Note that if you are interested in writing a **full tutorial**

[2021-07-06 07:54] core-man opened #1375 "Clarify resolutions of Earth relief grids requiring the region parameter"
**Description of the problem**

See [load_earth_relief](https://www.pygmt.org/latest/api/generated/pygmt.datasets.load_earth_relief.html#pygmt.datasets.load_earth_relief):

https://github.com/GenericMappingTools/pygmt/blob/d90b3fc889b53633deab6b4ab77612ac7a247c1b/pygmt/datasets/earth_relief.py#L94-L95

So, `Higher than  5 arc-minute` means "04m", "03m", "02m", "01m", "30s", "15s", "03s", adn "01s"

[2021-07-06 09:12] willschlitzer commented on #1375
Couldn't this just be rewritten to "with resolutions of 5 arc-minutes or higher"?

[2021-07-06 09:18] core-man commented on #1375
I think so.

[2021-07-06 14:25] willschlitzer commented on #1375
@core-man I tagged this as a good first issue; I think documentation fixes are a good introduction to open source contributing.

[2021-07-06 14:26] core-man commented on #1375
Great.Thanks a lot.

[2021-07-06 14:50] meghanrjones commented on #1344
I imagine that the output DataFrame column names for non-DataFrame input when newcolname is not given could be the column index, similar to the default pandas behavior for pandas.read_csv(file,header=None).

[2021-07-06 15:11] willschlitzer commented on #1356
So are we holding off on completing this change until release v0.4.1, and if so, when should that be?

[2021-07-06 15:33] willschlitzer commented on #1344
Since the default argument for `newcolname` is `None`, I think the easiest solution is to change the if statement to raise `GMTInvalidInput` if `points` are a DataFrame.

[2021-07-07 01:41] weiji14 commented on #1356
Maybe a good idea to wait until after the SciPy sprints on 17/18 Aug, but before the ESWN developer workshop on 17-19 Aug. Sometime late July 2021 perhaps for PyGMT v0.4.1?

[2021-07-07 09:01] willschlitzer commented on #1356
I think it's smart to hold off waiting for higher-profile events like the SciPy sprints to make sure we don't break anything in the change, but couldn't we potentially expect some major features to be added in the sprints/developers workshop, making it seem more like the release of v0.5.0 than v0.4.1?

[2021-07-07 17:26] hazardgoat opened #1378 "Possible bug with grdtrack?"
**Description of the problem**
I have a TIF file with elevation data 0-50m, with small patches that have no elevation data at all. When coordinates from these gaps are used for `grdtrack`, instead of a null value or returning an error, it is returning elevation data that far exceeds what is contained in the TIF.

**Full code that generated the error**

[code]

**Output of my program**
![Screenshot

[2021-07-07 20:37] weiji14 commented on #1378
So `grdtrack` uses bicubic interpolation by default. Could you try setting `interpolation="n"` for nearest neigbour, and see if you get NaN instead?

[2021-07-07 20:58] hazardgoat commented on #1378
Thank you! I'm *super new* to statistics and GIS, and I'm not familiar with how interpolation affects stuff. This fixed my problem.

[2021-07-07 20:58] #1378 closed

[2021-07-07 22:35] weiji14 commented on #1356
Yep you're right, it may well be v0.5.0 actually. Won't stop a good feature from landing during the sprint! Will decide when the time comes though.

[2021-07-08 03:16] weiji14 commented on #1378
No problem, and good luck with learning GIS!

[2021-07-08 22:03] #1344 closed

[2021-07-08 23:18] weiji14 opened #1381 "Support passing in pathlib.Path into pygmt modules"
**Description of the desired feature**

_Originally posted by @liamtoney in https://github.com/GenericMappingTools/pygmt/issues/949#issuecomment-790796932_

The [`pathlib.Path`](https://docs.python.org/3.9/library/pathlib.html) is a cross-platform way of handling filepaths. Currently PyGMT supports passing in filenames as a `str`, but it would be good to ensure that `pathlib.Path` works too.

## W

[2021-07-09 06:40] aitorres commented on #1381
Hi there! I could take this issue and make a PR with the changes :-)

[2021-07-09 21:32] #1368 closed

[2021-07-12 08:49] willschlitzer opened #1384 "Add gallery example for grdclip"
**Description of the desired feature**

It would be great to have some **gallery examples** on using the `grdclip` function. This will be a follow up to #1261.

## Examples of what you can do

These are just suggestions of things that you can plot. Feel free to come up with other ideas!

1. Plot seafloor bathymetry and clip all land above sea level
2. Plot an island and remove all seafloor data

#

[2021-07-13 22:52] weiji14 commented on #1381
Thanks @aitorres, I've assigned you to this issue and will take a look at your PR shortly :)

[2021-07-15 00:01] weiji14 commented on #677
Just putting down some notes from Day 1 after [SciPy 2021](https://www.scipy2021.scipy.org/schedule), in particular after a Birds of a Feather session on [PyOpenSci](https://www.pyopensci.org/). From what I understand, going through the PyOpenSci process seems like a good way to:

1. Ensure that PyGMT meets established best practices in the Python/Open Science/Open Source ecosystem in terms of doc

[2021-07-16 09:06] leouieda commented on #677
@weiji14 I think this is a great idea! Leah and the rest of the pyOpenSci team are wonderful and there is a lot to gain from this. If submitting to JOSS, we can fasttrack the review process. And if going with G3, then the code will get reviewed (since the journal reviewers are unlikely to do this).

[2021-07-17 10:30] weiji14 commented on #1340
Ping @yohaimagen who's requested to work on this issue for the SciPy2021 sprint :smile:

[2021-07-17 15:49] meghanrjones commented on #1374
Assigning this issue to @Location-Artistry who's requested to work on this issue for the SciPy2021 sprint 😄

[2021-07-18 06:33] yohaimagen commented on #1340
I think the [gallery example for contour](https://pygmt-git-fork-yohaimagen-contour-gallery-example-gmt.vercel.app/gallery/lines/contours.html#sphx-glr-gallery-lines-contours-py) is done, let me know if you think there is anything else I should add to it.

[2021-07-20 00:13] meghanrjones opened #1388 "Add returns section to grdclip docstring"
The docstring in `pygmt/src/grdclip.py` needs a 'Returns' section.

To fix this issue, copy and paste L82-89 in `pygmt/src/grdcut.py`:
https://github.com/GenericMappingTools/pygmt/blob/9efe3177bb0f3774eb5d0ac0e4b3957ff3eae6e9/pygmt/src/grdcut.py#L81-L89
to add a returns section between L70 and L71 in `pygmt/src/grdclip.py`:
https://github.com/GenericMappingTools/pygmt/blob/9efe3177bb0f3774eb5d0ac0

[2021-07-20 05:16] 15964265917xhw opened #1389 "the problem of import the pygmt module"
**Description of the problem**

when i import the pygmt module in python, the shell report that it have decoding error.
**Full code that generated the error**

[code]

**Full error message**

[code]

**System information**
  Python 3.9.5 (tags/v3.9.5:0a7dcbd, May  3 2021, 17:27:52) [MSC v.1928 64 bit (AMD64)] on win32
Please paste the output of `python -c "import pygmt; pygmt.show_versions()"`:

[

[2021-07-20 06:11] kadatatlukishore commented on #1388
Hey @meghanrjones , I can start on this and PR now. Thanks for the description !

[2021-07-20 22:51] #1340 closed

[2021-07-21 00:34] weiji14 commented on #1389
Hi @15964265917xhw. It's a little hard for us to tell what exactly went wrong with your installation. Could you describe a bit more on how you installed PyGMT? My guess is that your `pygmt` installation is broken and you might need to try again following https://www.pygmt.org/v0.4.0/install.html.

[2021-07-21 01:45] weiji14 opened #1392 "CI tests fails due to pytest-cov requiring toml instead of tomli"
**Description of the problem**

A large chunk of the Python ecosystem is switching from `toml` to [`tomli`](https://github.com/hukkin/tomli), and this has been causing some breakages lately (mostly temporary as people deal with dependency hell). See https://github.com/nedbat/coveragepy/issues/1180 for a comprehensive list.

Anyways, the GMT Dev Test started failing on 19 Jul 2021 (https://github.c

[2021-07-21 02:02] weiji14 commented on #1356
There hasn't been any `feature` PRs added for SciPy2021, so do we want to go with a bugfix PyGMT v0.4.1 release by end of July/early Aug? That way we can get the renaming PR at #1360 done before the ESWN workshop.

[2021-07-21 11:42] willschlitzer commented on #1356
I think that makes sense; do we have many other minor changes that we're waiting on before v0.4.1 can be released?

[2021-07-21 13:26] meghanrjones commented on #1356
The motivation for v0.4.1 rather than v0.5.0 which would allow merging in an approved new feature (https://github.com/GenericMappingTools/pygmt/pull/1380) isn't clear to me. Can someone explain?

[2021-07-21 14:04] sbSHA commented on #372
Hi I can not figure out like how to use custom colors for cmap in place of using the color master color palette? Is this possible? If yes then how one does that?
Thanks.

[2021-07-21 14:12] seisman commented on #372
Do you mean using a custom CPT file or custom colors?

If you already have a custom CPT file in your current directory, you should be able to use it like `cmap="my-custom.cpt"`.

Or if you want to define a CPT from a series of colors, `cmap="red,blue,yellow"` should work.

BTW, it would be better if you can ask further questions in the [GMT Forum](https://forum.generic-mapping-tools.org/c/question

[2021-07-22 06:21] sbSHA commented on #372
Thanks. It worked. It was the second one cmap="red,blue,yellow". Can I  also give the custom intervals of the z values in the series parameter? I see that it takes equal intervals as series = [0, 2, 0.1]. I am trying to find a way that different colors have different interval in the plot and later in the color bar.

[2021-07-22 08:56] weiji14 commented on #1356
Once we merge in the documentation PRs, it should be ok to start on the v0.4.1 release. Switching from `master` to `main` will retarget all existing PRs to `main`, so yes, should be relatively seamless.

I meant doing v0.4.1 first, and then merging the feature at #1380 (which will be available for v0.5.0).

Just checking though, is it ok to merge in an 'enhancement' PR (e.g. the pathlib support on

[2021-07-22 13:21] willschlitzer commented on #1356
My thought is that the debate over v0.4.1 vs. v0.5.0 is centered on if there are any additions we want in the latest release as soon as possible (to include switching `master` to `main`) instead of a few months from now. I don't think there have been enough changes in the month since v0.4.0 was released to merit v0.5.0 getting released soon (I assume it would be September-November time frame based

[2021-07-22 14:29] #1388 closed

[2021-07-22 15:14] seisman commented on #1356
We had some discussions in https://github.com/GenericMappingTools/pygmt/issues/945#issuecomment-784672931.

Also please note that we will remove some deprecated parameters (e.g., `sizes` vs `size` in `plot`, `plot3d`) in PyGMT v0.6.0, assuming that we make a new release every ~3 months.

Releasing v0.5.0 in late July or early August means that v0.6.0 will be ~2 months earlier than planned, which g

[2021-07-22 22:19] meghanrjones commented on #1356
Releasing v0.4.1 within the few weeks and sticking to the regular schedule for v0.5.0 sounds good to me.

[2021-07-22 22:46] weiji14 commented on #677
Cool, sounds like a plan. I'll send in a pre-submission inquiry today. Meanwhile, I've put up an editable document at https://hackmd.io/@pygmt/pyopensci for the **full** PyOpenSci review process, feel free anybody to edit it (let me know if you need access to hackmd). I will leave the document up for a week until Friday 30 Jul (UTC 12:00), depending on how the pre-submission inquiry goes, and then

[2021-07-23 03:16] weiji14 opened #1393 "Better support for plotting text in 3D at different heights"
**Description of the desired feature**

For 3D plots, it should be possible to plot text at different heights based on a 'z' column, see https://docs.generic-mapping-tools.org/6.2/text.html#z. The current implementation of `text` in PyGMT (see https://www.pygmt.org/v0.4.0/api/generated/pygmt.Figure.text.html) does support this, but users have to provide the xyz input into the `textfiles` parameter

[2021-07-23 04:32] weiji14 commented on #1356
Alright, we'll need to assign a release manager. Do you want to do it again @meghanrjones? Or we can choose someone who hasn't done it before like @michaelgrund or @core-man if they are keen to try. This is a pretty small release so shouldn't be too difficult :crossed_fingers:

[2021-07-23 04:39] core-man commented on #1356
:smile: I'd like to do the release v0.4.1 if either **meghanrjones** or **michaelgrund** is not available then.

[2021-07-23 06:44] willschlitzer commented on #1356
Famous last words! 😝

[2021-07-23 13:41] meghanrjones commented on #1356
Great, thanks for volunteering!

[2021-07-25 17:19] michaelgrund commented on #1356
Thanks @core-man for doing it 😉.

[2021-07-25 20:30] seisman commented on #1356
What about releasing v0.4.1 on Aug. 7? It's the weekend after the AGU abstract submission deadline, and 10 days before the ESWN developer workshop.

[2021-07-26 17:34] meghanrjones opened #1395 "PyGMT abstract submission for AGU 2021 Fall Meeting"
**Description of the desired feature**

We decided to submit a PyGMT AGU abstract in a discussion on the [GMT Forum](https://forum.generic-mapping-tools.org/t/agu-2021-abstract-s/1803); I am opening this issue to track progress and to host PyGMT specific discussions before the August 4 deadline.

Link to abstract: https://hackmd.io/i4XjR4PxSn6ZTrtkAcA-5A

Tasks:
- [x] Decide on a session. Options

[2021-07-26 17:41] meghanrjones commented on #1395
Here's the hackmd file: https://hackmd.io/i4XjR4PxSn6ZTrtkAcA-5A. I will expand the description section after we finalize the session decision (more info below). In the meantime, collaborating authors can add themselves.

I left the 'decide on a session' task unchecked because the session descriptions have changed since we first discussed on the GMT Forum. In particular, the open science in action

[2021-07-27 21:39] seisman commented on #1395
[near-surface geophysics](https://en.wikipedia.org/wiki/Near-surface_geophysics) only focus on the top few kilometers of the Earth. I'm afraid PyGMT is rarely used in this area and won't get much attention.

Both sessions look good to me. As I understand them, the "Open Science in Action" seems to focus on "open science workflows" rather than "open-source software". So I prefer the "Open-source so

[2021-07-27 22:12] weiji14 commented on #1395
Agree with @seisman that either of the "Open" sessions will do (note that these are both virtual only sessions). It's a pity that we can't do a tutorial, so I guess it comes down to the session format? Do you know if both "Open" Sessions are e-Lightning ones @meghanrjones?

FYI to others, the e-Lightning session involves a quick 3 min presentation followed by a digital poster discussion session (t

[2021-07-27 22:39] meghanrjones commented on #1395
I am not sure about the format for the IN030 session, but I would guess that it's likely to have some more standard poster/oral presentation assignments. I would prefer to submit to the Open source software, notebooks, and FAIR software session, similar to @seisman.

[2021-07-28 17:44] #1338 closed

[2021-07-28 19:37] seisman commented on #1389
Ping @15964265917xhw to provide more information.

Could you also please post the output of `gmt --show-library` if you can run the GMT command in CMD.

[2021-07-28 19:40] seisman commented on #1358
I think we are OK with this solution. I have marked it as "good first issue" and add it to the v0.4.1 milestone.

[2021-07-29 00:02] meghanrjones commented on #1395
Complete draft for the main text is now posted on hackmd. I moved ObsPy integration to future plans in case we do not complete the task before AGU. I still need to add plain language summary and an image showing off PyGMT's map making skills.

[2021-07-29 21:33] meghanrjones opened #1399 "Add a function wrapping GMT's grdhisteq module"
**Description of the desired feature**

GMT's [grdhisteq](https://docs.generic-mapping-tools.org/dev/grdhisteq.html) would be a nice addition to PyGMT's grid processing capabilities. I am interested in submitting a PR wrapping pygmt.grdhisteq().

**Are you willing to help implement and maintain this feature?** Yes

[2021-07-30 17:18] meghanrjones opened #1400 "Reduce repeated code for managing the outgrid parameter"
**Description of the desired feature**

The block of code below is currently used seven times throughout PyGMT modules (probably more pending Will's PRs). Based on https://github.com/GenericMappingTools/gmt/issues/5563#issuecomment-889519995, it may need to be used up to 34 times if we continue adding functions 1:1 with GMT modules. I think it would be useful to add an `build_outgrid_args()` metho

[2021-07-30 20:52] seisman commented on #1356
@core-man Please make an issue to track the v0.4.1 release. See https://github.com/GenericMappingTools/pygmt/issues/1333 for an example issue for v0.4.0.

[2021-07-31 07:24] core-man opened #1402 "Release PyGMT v0.4.1"
**Release**: [v0.4.1](https://github.com/GenericMappingTools/pygmt/milestone/10)
**Scheduled Date**: 2021/08/07
**Pull request due date**: 2021/08/05

**Priority PRs/issues to complete prior to release**
- [x] #1360
- [x] #1396
- [x] #1358
- [x] #1407

**Before release**:
- [x] Reserve a DOI on [Zenodo](https://zenodo.org) by clicking on "New Version" @weiji14
- [x] Finish up 'Changelog entry for

[2021-07-31 12:25] yohaimagen commented on #1373
I think I can do that. I'll prefer Solution 2, it seems cleaner and does not involve the plot function that is used in many cases that do not involve pointed Geopandas DataFrame.

[2021-07-31 14:17] meghanrjones commented on #578
This would be a great feature. I have a few comments:
1. For the output, I would prefer the default to be a (M,N,3) xarray.DataArray rather than a DataSet or list of DataArrays. Then for the fastest plots people could still use xarray's wrapping of matplotlib.pyplot.imshow().
2. Grdmix can do several things - I use the `grdmix -C -N` option to produce an image that can be used for grdimage the mos

[2021-08-01 09:22] weiji14 opened #1403 "Make a CITATION.cff file for PyGMT"
**Description of the desired feature**

GitHub added a new feature for built-in citation support on 29 Jul 2021 (see https://github.blog/changelog/2021-07-29-enhanced-citation-support/), and we should totally add this! See tweet at https://twitter.com/natfriedman/status/1420122675813441540

![GitHub citation Image from https://twitter.com/natfriedman/status/1420122675813441540](https://pbs.twimg.c

[2021-08-01 09:41] weiji14 commented on #1373
Cool, I've assigned you to the task, feel free to open a Pull Request to work on it and let us know if you need any help :grin:

[2021-08-01 10:03] yohaimagen commented on #1373
I am trying to find a way to specify the style attributes in the temporary OGR_GMT file looking in the [following](https://docs.generic-mapping-tools.org/6.2/cookbook/file-formats.html#ascii-tables) GMT doc page and didn't find the solution. any suggestion on how to set the style in the temporary OGR_GMT file?

[2021-08-01 10:16] weiji14 commented on #1373
Good question :sweat_smile: I'm not sure if it works to be honest, but I know `.gmt` files can have header lines setting the region `@R`, projection `@J` and so on (see e.g. https://github.com/weiji14/nzasc2021/blob/v1.0.0/antarctic_subglacial_lakes_3031.gmt), so I though maybe the style can be set using `@S`? See if it works, and if not, we might need to think of another way.